.field-collection-container .field-name-field-coll-rotator-item > .field-items > .field-item {
  display: none;
}

.field-collection-view .field-name-field-rotator-caption.flex-caption {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.field-collection-view .field-name-field-rotator-caption.flex-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);  
  color: white;
  padding: 2%;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 3px 3px rgba(0,0,0,.8);
  width: 96%;  
}

.field-collection-view .field-collection-item-field-coll-rotator-item .content {
  position: relative;
}
.field-collection-view .field-name-field-rotator-caption.flex-caption {
  font-size: 26px;
}
.field-collection-view .field-name-field-rotator-caption.flex-caption .description{
  font-size: 16px;
}

.region-content ol.flex-control-nav {
  margin: 0;
  padding: 0;
}

.field-name-field-coll-rotator-item .field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}
