/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


#block-opensanmateo-search-header-search {
  display: block !important;
  border-radius: 3px;
  margin: 0 auto 0;
  position: absolute;
  right: 0;
  left: auto;
  top: -50px !important;
  width: 30%;
  background-color: transparent;
  padding: 0;
  z-index: 10;
  
}
#block-opensanmateo-search-header-search #opensanmateo-search-header-search-form {
  float: left;
  width: 80%;
  margin-right: 3%;
  margin-bottom: 0; }
#block-opensanmateo-search-header-search input[type=text] {
  background: #d7e9eb;
  border: none;
  box-shadow: none;
  color: white;
  font-size: .85em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  font-family: "Trade Gothic W01 Roman", "Helvetica Neue", Arial, Helvetica;
  margin: 0; }
#block-opensanmateo-search-header-search input[type=text]:focus {
  box-shadow: none;
  background: #67adb3;
  color: white;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
  font-weight: normal; }
#block-opensanmateo-search-header-search input[type=text]:focus::-webkit-input-placeholder {
  color: white; }
#block-opensanmateo-search-header-search input[type=text]:focus::-moz-placeholder {
  color: white; }
#block-opensanmateo-search-header-search input[type=text]:focus::-ms-input-placeholder {
  color: white; }
#block-opensanmateo-search-header-search .search-button {
  width: 17%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  display: block;
  text-align: center;
  margin-right: 0; }
#block-opensanmateo-search-header-search .search-button:after {
  content: none; }