/* Media Queries */
/* Fonts */
/* line 2, ../scss/elements/rotator-box.scss */
.flexslider {
  box-shadow: none;
  border-bottom: 0; }
  /* line 6, ../scss/elements/rotator-box.scss */
  .flexslider .field-items .field-item {
    margin-bottom: 0; }
  /* line 9, ../scss/elements/rotator-box.scss */
  .flexslider ul.field-collection-view-links {
    display: none; }

/* line 17, ../scss/elements/rotator-box.scss */
.pane-bundle-rotator-panels-pane {
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(3, 108, 182, 0.05) 0%, rgba(3, 108, 182, 0) 50%, rgba(3, 108, 182, 0.025) 100%);
  padding: 1em;
  margin: 0 auto 5%;
  border-radius: 3px;
  background-color: transparent; }
  /* line 26, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane #images {
    padding: 0; }
  /* line 28, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows {
    z-index: 10; }
  /* line 30, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a:after, .pane-bundle-rotator-panels-pane .flex-control-thumbs a:after, .pane-bundle-rotator-panels-pane .rs-slider li a:after {
    content: none; }
  /* line 34, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a {
    background-color: rgba(0, 0, 0, 0.8); }
  /* line 38, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a:hover {
    background-color: black; }
  /* line 42, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-caption {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    background-color: rgba(85, 90, 90, 0.7);
    padding: 1em 1em 1em;
    position: absolute; }
    /* line 48, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .rs-caption h3 {
      text-transform: none;
      font-size: 2.5em;
      line-height: 1.1em;
      font-weight: normal;
      margin-bottom: 1%;
      color: white; }
  /* line 58, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-slider > li img {
    width: 100%; }
  /* line 60, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs {
    margin-top: 10px !important;
    padding: 0 0.5em; }
  /* line 65, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li {
    border: 5px solid #eee;
    width: 22.75%;
    margin-left: 3%; }
    /* line 70, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .flex-control-thumbs li:first-child {
      margin-left: 0; }
  /* line 75, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li.active-item {
    border: 5px solid rgba(3, 108, 182, 0.2); }
  /* line 79, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li:hover {
    border: 5px solid #036cb6; }
  /* line 83, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-caption.rs-bottom > p {
    color: #EEEEEE;
    font-size: 1.3em;
    line-height: 1.3em; }
  /* line 89, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-caption.rs-bottom > a {
    color: white; }
  /* line 93, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-prev {
    left: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  /* line 99, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-next {
    right: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }

/* line 11, ../scss/smc_base.scss */
.krumo-root strong {
  display: inline !important; }

/* line 16, ../scss/smc_base.scss */
ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }

/* line 24, ../scss/smc_base.scss */
.messages strong {
  display: inline; }

/* line 29, ../scss/smc_base.scss */
#toolbar strong {
  display: inline; }
/* line 34, ../scss/smc_base.scss */
#toolbar #toolbar-home,
#toolbar #toolbar-user {
  display: none; }
/* line 39, ../scss/smc_base.scss */
#toolbar div.toolbar-menu {
  padding: 0; }
  /* line 41, ../scss/smc_base.scss */
  #toolbar div.toolbar-menu .toolbar-inner {
    position: relative;
    padding: 5px 35px 5px 0; }
  /* line 46, ../scss/smc_base.scss */
  #toolbar div.toolbar-menu a.toggle {
    bottom: 0;
    right: 5px; }

/* line 56, ../scss/smc_base.scss */
div.tabs ul.tabs {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  white-space: normal;
  border: 0;
  font-size: 12px; }
  /* line 64, ../scss/smc_base.scss */
  div.tabs ul.tabs li {
    display: block;
    float: left;
    margin: 0 5px 5px 0; }
    /* line 69, ../scss/smc_base.scss */
    div.tabs ul.tabs li a {
      margin: 0;
      display: block;
      color: #999999;
      text-decoration: none;
      text-transform: lowercase;
      background: #EEEEEE;
      padding: 4px 8px;
      border: 1px solid #CCC;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      /* line 84, ../scss/smc_base.scss */
      div.tabs ul.tabs li a:hover {
        border: 1px solid #AAAAAA;
        color: #777777; }
  /* line 91, ../scss/smc_base.scss */
  div.tabs ul.tabs li.active a {
    color: #000000;
    background: #DDDDDD; }
    /* line 95, ../scss/smc_base.scss */
    div.tabs ul.tabs li.active a:hover {
      border: 1px solid #CCC;
      color: #000000; }
/* line 103, ../scss/smc_base.scss */
div.tabs ul.secondary {
  font-size: 11px; }
  /* line 106, ../scss/smc_base.scss */
  div.tabs ul.secondary li {
    padding: 0;
    border: 0; }

/* line 114, ../scss/smc_base.scss */
nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important; }

/* line 120, ../scss/smc_base.scss */
.flexslider {
  z-index: 1 !important; }

/* line 123, ../scss/smc_base.scss */
header {
  z-index: 10; }

/* line 127, ../scss/smc_base.scss */
div.body {
  z-index: 1; }

/* line 131, ../scss/smc_base.scss */
footer {
  z-index: 10; }

/* line 136, ../scss/smc_base.scss */
#footer-wrapper .section {
  margin-bottom: 0; }
