/* Media Queries */
/* Fonts */
/* Media Queries */
/* Fonts */
/* line 5, ../scss/elements/toolbar.scss */
#toolbar strong {
  display: inline; }
/* line 10, ../scss/elements/toolbar.scss */
#toolbar #toolbar-home,
#toolbar #toolbar-user {
  display: none; }
/* line 15, ../scss/elements/toolbar.scss */
#toolbar div.toolbar-menu {
  padding: 0; }
  /* line 17, ../scss/elements/toolbar.scss */
  #toolbar div.toolbar-menu .toolbar-inner {
    position: relative;
    padding: 5px 35px 5px 0; }
  /* line 22, ../scss/elements/toolbar.scss */
  #toolbar div.toolbar-menu a.toggle {
    bottom: 0;
    right: 5px; }

@media all and (min-width: 940px) {
  /* line 33, ../scss/elements/toolbar.scss */
  #toolbar #toolbar-home,
  #toolbar #toolbar-user {
    display: block; } }
/* Media Queries */
/* Fonts */
/* line 6, ../scss/elements/tabs.scss */
div.tabs ul.tabs {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  white-space: normal;
  border: 0;
  font-size: 12px; }
  /* line 14, ../scss/elements/tabs.scss */
  div.tabs ul.tabs li {
    display: block;
    float: left;
    margin: 0 5px 5px 0; }
    /* line 19, ../scss/elements/tabs.scss */
    div.tabs ul.tabs li a {
      margin: 0;
      display: block;
      color: #036cb6;
      text-decoration: none;
      text-transform: lowercase;
      background: #EEEEEE;
      padding: 4px 8px;
      border: 1px solid #CCC;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      /* line 34, ../scss/elements/tabs.scss */
      div.tabs ul.tabs li a:hover {
        border: 1px solid #38939b;
        color: #38939b; }
  /* line 41, ../scss/elements/tabs.scss */
  div.tabs ul.tabs li.active a {
    color: #38939b;
    background: #DDDDDD;
    border: 1px solid #38939b; }
    /* line 46, ../scss/elements/tabs.scss */
    div.tabs ul.tabs li.active a:hover {
      border: 1px solid #38939b;
      color: #38939b; }
/* line 54, ../scss/elements/tabs.scss */
div.tabs ul.secondary {
  font-size: 11px; }
  /* line 57, ../scss/elements/tabs.scss */
  div.tabs ul.secondary li {
    padding: 0;
    border: 0; }

/* Media Queries */
/* Fonts */
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 10, ../scss/elements/icons.scss */
.icon-mag-glass-02, .icon-menu, .icon-arrow-down, .icon-home, .icon-arrow-down-iso, .icon-close, .icon-subnav, .menu-button, .icon-eye, .icon-filter, .icon-info, .icon-link, .icon-phone, .icon-location, .icon-feed {
  font-family: "SanMateoIcon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

/* line 19, ../scss/elements/icons.scss */
.icon-mag-glass-02:before {
  content: "\e000"; }

/* line 20, ../scss/elements/icons.scss */
.icon-menu:before, .touch-button, .menu-button {
  content: "\e001"; }

/* line 21, ../scss/elements/icons.scss */
.icon-arrow-down:before {
  content: "\e002"; }

/* line 22, ../scss/elements/icons.scss */
.icon-home:before {
  content: "\e003"; }

/* line 23, ../scss/elements/icons.scss */
.icon-arrow-down-iso:before {
  content: "\e004"; }

/* line 24, ../scss/elements/icons.scss */
.icon-close:before {
  content: "\e005"; }

/* line 25, ../scss/elements/icons.scss */
.icon-subnav:before {
  content: "\e006"; }

/* line 26, ../scss/elements/icons.scss */
.icon-eye:before {
  content: "\e007";
  padding-right: 0.5em; }

/* line 30, ../scss/elements/icons.scss */
.icon-filter:before {
  content: "\e008"; }

/* line 31, ../scss/elements/icons.scss */
.icon-info:before {
  content: "\e009"; }

/* line 32, ../scss/elements/icons.scss */
.icon-link:before {
  content: "\e00a"; }

/* line 33, ../scss/elements/icons.scss */
.icon-phone:before {
  content: "\e00b"; }

/* line 34, ../scss/elements/icons.scss */
.icon-location:before {
  content: "\e00c"; }

/* line 35, ../scss/elements/icons.scss */
.icon-feed:before {
  content: "\e00d"; }

/* Media Queries */
/* Fonts */
/* line 4, ../scss/elements/layout.scss */
#main-wrapper {
  padding: 0 1em; }

/* line 8, ../scss/elements/layout.scss */
.sidebar {
  width: 100%;
  margin-right: 2.5%; }

/* line 13, ../scss/elements/layout.scss */
.main-content {
  padding-left: 0; }

@media all and (min-width: 768px) {
  /* line 20, ../scss/elements/layout.scss */
  #main-wrapper, header .inner {
    max-width: 1120px;
    margin: auto; }

  /* line 24, ../scss/elements/layout.scss */
  .main-body {
    padding: 0 0em;
    margin-bottom: 5%; }

  /* line 28, ../scss/elements/layout.scss */
  .main-content {
    width: 70%;
    float: left;
    padding-left: 0; }

  /* line 34, ../scss/elements/layout.scss */
  .sidebar {
    width: 100%;
    margin-bottom: 3%; }

  /* line 39, ../scss/elements/layout.scss */
  .secondary {
    float: right;
    width: 27%;
    margin-left: 3%; } }
@media all and (min-width: 940px) {
  /* line 48, ../scss/elements/layout.scss */
  .main-body {
    padding: 0; }

  /* line 52, ../scss/elements/layout.scss */
  .main-content {
    width: 58%;
    float: left;
    padding-left: 1em; }

  /* line 58, ../scss/elements/layout.scss */
  .sidebar {
    float: left;
    width: 17%;
    margin-right: 2.5%;
    margin-top: 0;
    margin-bottom: 5%; }

  /* line 66, ../scss/elements/layout.scss */
  .secondary {
    padding-right: 0em;
    width: 20%;
    margin-left: 2.5%; } }
/* line 2, ../scss/elements/rotator-box.scss */
.flexslider {
  box-shadow: none;
  border-bottom: 0; }
  /* line 6, ../scss/elements/rotator-box.scss */
  .flexslider .field-items .field-item {
    margin-bottom: 0; }
  /* line 9, ../scss/elements/rotator-box.scss */
  .flexslider ul.field-collection-view-links {
    display: none; }

/* line 21, ../scss/elements/rotator-box.scss */
.pane-bundle-rotator-panels-pane {
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(3, 108, 182, 0.05) 0%, rgba(3, 108, 182, 0) 50%, rgba(3, 108, 182, 0.025) 100%);
  padding: 1em;
  margin: 0 auto 5%;
  border-radius: 3px;
  background-color: transparent; }
  /* line 31, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .field-collection-view {
    position: relative; }
    /* line 34, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .field-collection-view .content {
      display: block; }
  /* line 39, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .field-collection-view > a.rotator-wrap-link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%; }
  /* line 45, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows {
    z-index: 10; }
  /* line 47, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a:after, .pane-bundle-rotator-panels-pane .flex-control-thumbs a:after, .pane-bundle-rotator-panels-pane .rs-slider li a:after {
    content: none; }
  /* line 51, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a {
    background-color: rgba(0, 0, 0, 0.8); }
  /* line 55, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-arrows a:hover {
    background-color: black; }
  /* line 59, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-caption {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%) !important;
    background-color: rgba(85, 90, 90, 0.7) !important;
    padding: 1em 1em 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    font-size: inherit !important; }
    /* line 70, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .flex-caption h3 {
      text-transform: none;
      font-size: 2.5em;
      line-height: 1.1em;
      font-weight: normal;
      margin-bottom: 1%;
      color: white;
      text-shadow: none; }
    /* line 81, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .flex-caption p {
      color: #EEEEEE;
      font-size: 1.3em;
      line-height: 1.3em;
      text-shadow: none; }
      /* line 87, ../scss/elements/rotator-box.scss */
      .pane-bundle-rotator-panels-pane .flex-caption p:last-child {
        margin-bottom: 0; }
  /* line 93, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-slider > li img {
    width: 100%; }
  /* line 95, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs {
    margin-top: 10px !important;
    padding: 0 0.5em; }
  /* line 100, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li {
    border: 5px solid #eee;
    width: 22.75%;
    margin-left: 3%; }
    /* line 105, ../scss/elements/rotator-box.scss */
    .pane-bundle-rotator-panels-pane .flex-control-thumbs li:first-child {
      margin-left: 0; }
  /* line 110, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li.active-item {
    border: 5px solid rgba(3, 108, 182, 0.2); }
  /* line 114, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .flex-control-thumbs li:hover {
    border: 5px solid #036cb6; }
  /* line 122, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-caption.rs-bottom > a {
    color: white; }
  /* line 126, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-prev {
    left: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  /* line 132, ../scss/elements/rotator-box.scss */
  .pane-bundle-rotator-panels-pane .rs-next {
    right: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }

/* Media Queries */
/* Fonts */
/* line 4, ../scss/elements/alerts.scss */
#block-distributed-blocks-d-bopensanmateo-layout-banner {
  background-color: #036cb6;
  padding: 0;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(3, 108, 182, 0.8); }
  /* line 11, ../scss/elements/alerts.scss */
  #block-distributed-blocks-d-bopensanmateo-layout-banner .limiter {
    max-width: 1120px;
    margin: auto;
    position: relative;
    padding: 1em 1em 0.6em; }
  /* line 18, ../scss/elements/alerts.scss */
  #block-distributed-blocks-d-bopensanmateo-layout-banner .icon-feed {
    color: #074a87;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
    float: left;
    font-size: 2em;
    width: auto;
    margin-right: 2%;
    margin-bottom: 0; }
  /* line 28, ../scss/elements/alerts.scss */
  #block-distributed-blocks-d-bopensanmateo-layout-banner .alert-content {
    color: white;
    margin-bottom: 0;
    width: 80%;
    font-weight: bold;
    font-size: .85em;
    float: left;
    padding-top: .6em;
    z-index: 3; }
  /* line 39, ../scss/elements/alerts.scss */
  #block-distributed-blocks-d-bopensanmateo-layout-banner .alert-content p {
    color: white;
    margin-bottom: 0;
    width: 100%;
    font-weight: bold;
    font-size: .85em; }

/* Media Queries */
/* Fonts */
/* line 4, ../scss/elements/teaser.scss */
.universal-teaser {
  border-top: 1px solid rgba(3, 108, 182, 0.1);
  padding: 1.5em 0; }
  /* line 8, ../scss/elements/teaser.scss */
  .universal-teaser .node-url {
    display: none; }
  /* line 12, ../scss/elements/teaser.scss */
  .universal-teaser header {
    margin-bottom: 5%; }
  /* line 16, ../scss/elements/teaser.scss */
  .universal-teaser .node-type {
    float: right;
    max-width: 20%;
    font-size: .75em;
    position: absolute;
    right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  /* line 25, ../scss/elements/teaser.scss */
  .universal-teaser .node-title {
    float: left;
    margin-top: 0;
    width: 80%; }
  /* line 30, ../scss/elements/teaser.scss */
  .universal-teaser .node-thumbnail {
    border: 5px solid rgba(3, 108, 182, 0.05);
    float: left;
    border-radius: 3px;
    margin-bottom: 2%;
    margin-right: 2%;
    height: 80px;
    width: 80px;
    overflow: hidden; }
    /* line 41, ../scss/elements/teaser.scss */
    .universal-teaser .node-thumbnail img {
      max-width: 100%;
      height: auto; }
  /* line 47, ../scss/elements/teaser.scss */
  .universal-teaser .node-teaser {
    display: block;
    margin-bottom: 5%;
    font-size: 1em;
    line-height: 1.6em; }

/* line 23, ../scss/smc_base.scss */
.krumo-root strong {
  display: inline !important; }

/* line 28, ../scss/smc_base.scss */
ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }

/* line 36, ../scss/smc_base.scss */
.messages strong {
  display: inline; }

/* line 45, ../scss/smc_base.scss */
nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important; }

/* line 51, ../scss/smc_base.scss */
.flexslider {
  z-index: 1 !important; }

/* line 54, ../scss/smc_base.scss */
header {
  z-index: 10; }

/* line 58, ../scss/smc_base.scss */
div.body {
  z-index: 1; }

/* line 62, ../scss/smc_base.scss */
footer {
  z-index: 10; }

/* line 67, ../scss/smc_base.scss */
#footer-wrapper .section {
  margin-bottom: 0; }

/* line 73, ../scss/smc_base.scss */
#panels-layout-category-San-Mateo-Layouts-wrapper {
  padding-left: 0; }
  /* line 77, ../scss/smc_base.scss */
  #panels-layout-category-San-Mateo-Layouts-wrapper #panels-layout-category-San-Mateo-Layouts .layout-link {
    width: 25%;
    height: auto; }
    /* line 81, ../scss/smc_base.scss */
    #panels-layout-category-San-Mateo-Layouts-wrapper #panels-layout-category-San-Mateo-Layouts .layout-link a {
      display: block;
      height: 100%; }
    /* line 85, ../scss/smc_base.scss */
    #panels-layout-category-San-Mateo-Layouts-wrapper #panels-layout-category-San-Mateo-Layouts .layout-link img {
      margin-bottom: 5px; }
    /* line 89, ../scss/smc_base.scss */
    #panels-layout-category-San-Mateo-Layouts-wrapper #panels-layout-category-San-Mateo-Layouts .layout-link.current-layout {
      font-weight: bold; }
      /* line 91, ../scss/smc_base.scss */
      #panels-layout-category-San-Mateo-Layouts-wrapper #panels-layout-category-San-Mateo-Layouts .layout-link.current-layout img {
        box-shadow: 3px 3px 6px rgba(85, 90, 90, 0.7); }
