/* line 6, ../scss/smc_base.scss */
.krumo-root strong {
  display: inline !important; }

/* line 11, ../scss/smc_base.scss */
ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }

/* line 19, ../scss/smc_base.scss */
.messages strong {
  display: inline; }

/* line 24, ../scss/smc_base.scss */
#toolbar strong {
  display: inline; }
/* line 29, ../scss/smc_base.scss */
#toolbar #toolbar-home,
#toolbar #toolbar-user {
  display: none; }
/* line 34, ../scss/smc_base.scss */
#toolbar div.toolbar-menu {
  padding: 0; }
  /* line 36, ../scss/smc_base.scss */
  #toolbar div.toolbar-menu .toolbar-inner {
    position: relative;
    padding: 5px 35px 5px 0; }
  /* line 41, ../scss/smc_base.scss */
  #toolbar div.toolbar-menu a.toggle {
    bottom: 0;
    right: 5px; }

/* line 51, ../scss/smc_base.scss */
div.tabs ul.tabs {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  white-space: normal;
  border: 0;
  font-size: 12px; }
  /* line 59, ../scss/smc_base.scss */
  div.tabs ul.tabs li {
    display: block;
    float: left;
    margin: 0 5px 5px 0; }
    /* line 64, ../scss/smc_base.scss */
    div.tabs ul.tabs li a {
      margin: 0;
      display: block;
      color: #999999;
      text-decoration: none;
      text-transform: lowercase;
      background: #EEEEEE;
      padding: 4px 8px;
      border: 1px solid #CCC;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
      /* line 79, ../scss/smc_base.scss */
      div.tabs ul.tabs li a:hover {
        border: 1px solid #AAAAAA;
        color: #777777; }
  /* line 86, ../scss/smc_base.scss */
  div.tabs ul.tabs li.active a {
    color: #000000;
    background: #DDDDDD; }
    /* line 90, ../scss/smc_base.scss */
    div.tabs ul.tabs li.active a:hover {
      border: 1px solid #CCC;
      color: #000000; }
/* line 98, ../scss/smc_base.scss */
div.tabs ul.secondary {
  font-size: 11px; }
  /* line 101, ../scss/smc_base.scss */
  div.tabs ul.secondary li {
    padding: 0;
    border: 0; }

/* line 109, ../scss/smc_base.scss */
nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important; }

/* line 115, ../scss/smc_base.scss */
.flexslider {
  z-index: 1 !important; }

/* line 118, ../scss/smc_base.scss */
header {
  z-index: 10; }

/* line 122, ../scss/smc_base.scss */
div.body {
  z-index: 1; }

/* line 126, ../scss/smc_base.scss */
footer {
  z-index: 10; }

/* line 131, ../scss/smc_base.scss */
#footer-wrapper .section {
  margin-bottom: 0; }
