@charset "UTF-8";
/* Fonts */
/* Media Queries */
/* line 7, ../scss/style.scss */
body {
  margin: auto;
  height: 100%; }

/* line 13, ../scss/style.scss */
.wrapper {
  overflow: hidden; }

/* line 21, ../scss/style.scss */
.wrapper > header {
  background-image: url(../images/uber-texture2.png), -webkit-linear-gradient(#faffff 0%, #fdffff 100%);
  background-image: url(../images/uber-texture2.png), -moz-linear-gradient(#faffff 0%, white 100%);
  border-top: 5px solid rgba(3, 108, 182, 0.9);
  padding: .5em 0 .75em;
  margin-bottom: 10%;
  box-shadow: 0 3px 6px rgba(85, 90, 90, 0.1); }

/* line 32, ../scss/style.scss */
.lockup {
  width: 80%;
  float: left; }

/* line 40, ../scss/style.scss */
.details .main-content ul {
  padding-left: 2em;
  font-size: .9em; }
  /* line 41, ../scss/style.scss */
  .details .main-content ul li {
    color: #6b699e; }

/* line 46, ../scss/style.scss */
.btn .icon-nav {
  font-size: 1.5em;
  float: right; }

/* line 51, ../scss/style.scss */
.county-name, .dept-name {
  display: inline-block;
  padding: 0 .5em;
  text-transform: uppercase; }

/* line 59, ../scss/style.scss */
dl dd, dl dt {
  margin-bottom: 0; }

/* line 63, ../scss/style.scss */
.county-name {
  color: #036cb6;
  font-size: 1.25em;
  font-family: 'Trade Gothic W01 Bold'; }

/* line 68, ../scss/style.scss */
.county-name span {
  font-size: .75em;
  font-family: 'Trade Gothic W01 Roman';
  padding: 0 0.15em 0 0.1em; }

/* line 73, ../scss/style.scss */
.dept-name {
  color: #38939b;
  font-family: 'Trade Gothic W01 Light';
  font-size: 1.25em;
  margin-bottom: 0;
  line-height: 1em;
  font-weight: 100; }

/* line 81, ../scss/style.scss */
.search a.btn {
  width: 15%;
  background-color: #036cb6;
  text-align: center;
  color: white; }

/* line 88, ../scss/style.scss */
.sub {
  background-color: white;
  border: 1px solid rgba(3, 108, 182, 0.05);
  border-radius: 3px;
  font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica;
  font-size: .85em;
  margin-bottom: 5%; }
  /* line 96, ../scss/style.scss */
  .sub ul {
    margin: 0;
    padding: 0; }
    /* line 98, ../scss/style.scss */
    .sub ul li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      /* line 99, ../scss/style.scss */
      .sub ul li a {
        display: block;
        padding: .75em .75em;
        border-bottom: 1px solid rgba(3, 108, 182, 0.2);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      /* line 107, ../scss/style.scss */
      .sub ul li a:hover {
        background-color: #036cb6;
        color: white; }
    /* line 111, ../scss/style.scss */
    .sub ul .active {
      font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica; }
      /* line 113, ../scss/style.scss */
      .sub ul .active a {
        background-color: #036cb6;
        color: white; }
      /* line 117, ../scss/style.scss */
      .sub ul .active ul li a {
        background-color: rgba(56, 147, 155, 0.1);
        color: #38939b;
        font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica;
        border-color: rgba(56, 147, 155, 0.2); }
      /* line 118, ../scss/style.scss */
      .sub ul .active ul li a:hover {
        background-color: rgba(56, 147, 155, 0.2); }

/* line 124, ../scss/style.scss */
.dept-link {
  display: none; }

/* line 126, ../scss/style.scss */
.sub-link {
  display: inline-block;
  padding: .75em .5em;
  font-size: .7em;
  text-align: center;
  background-color: rgba(3, 108, 182, 0.1);
  border-radius: 3px;
  float: right;
  margin-right: 3.25%;
  margin-top: 2%; }

/* line 137, ../scss/style.scss */
.sub-link:before {
  padding-right: .5em; }

/* line 139, ../scss/style.scss */
.hideme {
  opacity: 0; }
  /* line 141, ../scss/style.scss */
  .hideme ul {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: .25em 0; }

/* line 146, ../scss/style.scss */
.content {
  display: none; }

/* line 148, ../scss/style.scss */
.btn {
  background-color: #036cb6;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1.1em;
  display: inline-block;
  margin-right: 3%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Trade Gothic W01 Bold';
  font-weight: 300; }

/* line 164, ../scss/style.scss */
.btn:hover {
  color: #fff;
  background-color: #38939b; }

/* line 169, ../scss/style.scss */
.search {
  background-color: rgba(56, 147, 155, 0.2);
  padding: .5em;
  position: relative;
  border-radius: 3px;
  margin: 10px auto 0; }

/* line 177, ../scss/style.scss */
.search input[type=search] {
  background-color: white;
  border: none;
  box-shadow: none;
  color: white;
  float: left;
  width: 80%;
  margin-right: 5%;
  margin-bottom: 0;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  font-family: 'Trade Gothic W01 Roman';
  font-weight: 300; }

/* line 195, ../scss/style.scss */
.search input[type=search]:focus {
  box-shadow: none;
  background-image: -webkit-linear-gradient(rgba(56, 147, 155, 0.7) 0%, rgba(56, 147, 155, 0.8) 100%);
  color: white;
  font-family: 'Trade Gothic W01 Bold'; }

/* line 202, ../scss/style.scss */
.search input[type=search]:focus::-webkit-input-placeholder {
  color: white; }

/* line 203, ../scss/style.scss */
.search input[type=search]::-webkit-input-placeholder {
  color: #036cb6; }

/* line 204, ../scss/style.scss */
.search input[type=search]::-moz-placeholder {
  /* Firefox 19+ */
  color: #036cb6; }

/* line 205, ../scss/style.scss */
.search input[type=search]:-ms-input-placeholder {
  color: #036cb6; }

/* line 207, ../scss/style.scss */
.search .btn {
  width: 15%;
  float: left;
  border: none;
  display: block;
  padding: .285em;
  text-align: center;
  margin-right: 0;
  background-color: #036cb6;
  color: white; }

/* line 219, ../scss/style.scss */
.search .btn:after {
  content: none; }

/* line 223, ../scss/style.scss */
.main-body header {
  margin-bottom: 3%; }

/* line 227, ../scss/style.scss */
.page-title {
  float: left;
  width: 65%; }

/* line 232, ../scss/style.scss */
.filter-link {
  float: right;
  font-size: .85em;
  width: 30%;
  margin-top: 5.75%; }

/* line 241, ../scss/style.scss */
#sub {
  display: none; }

/* line 243, ../scss/style.scss */
.event-filter, .search-filter {
  display: none;
  background-color: #036cb6;
  padding: 1em; }
  /* line 248, ../scss/style.scss */
  .event-filter .close, .search-filter .close {
    position: absolute;
    right: 5%;
    color: white;
    font-size: 1.5em; }
  /* line 249, ../scss/style.scss */
  .event-filter .close:hover, .search-filter .close:hover {
    color: rgba(255, 255, 255, 0.5); }
  /* line 251, ../scss/style.scss */
  .event-filter ul, .search-filter ul {
    margin-bottom: 0; }
  /* line 254, ../scss/style.scss */
  .event-filter ul li, .search-filter ul li {
    list-style-type: none;
    float: left;
    width: 50%;
    padding: .25em; }
  /* line 261, ../scss/style.scss */
  .event-filter h4, .search-filter h4 {
    font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
    color: white;
    text-transform: uppercase;
    margin-bottom: 5%;
    width: 80%; }
  /* line 269, ../scss/style.scss */
  .event-filter label, .search-filter label {
    color: white;
    font-weight: bold;
    margin-bottom: 3%; }
  /* line 275, ../scss/style.scss */
  .event-filter input, .search-filter input {
    border-radius: 3px; }
  /* line 279, ../scss/style.scss */
  .event-filter .date-filter, .search-filter .date-filter {
    margin: 0;
    width: 100%; }
    /* line 282, ../scss/style.scss */
    .event-filter .date-filter ul, .search-filter .date-filter ul {
      margin: 0; }
    /* line 283, ../scss/style.scss */
    .event-filter .date-filter li, .search-filter .date-filter li {
      width: 48%;
      float: left;
      padding: 0;
      margin-right: 4%; }
      /* line 288, ../scss/style.scss */
      .event-filter .date-filter li label, .search-filter .date-filter li label {
        font-weight: normal; }
      /* line 289, ../scss/style.scss */
      .event-filter .date-filter li input, .search-filter .date-filter li input {
        margin-bottom: 0; }
    /* line 291, ../scss/style.scss */
    .event-filter .date-filter li:last-child, .search-filter .date-filter li:last-child {
      margin-right: 0; }

/* line 295, ../scss/style.scss */
.page-title {
  font-size: 2em;
  color: #036cb6;
  padding: 0 0 .25em .4em;
  margin-bottom: 1%;
  text-transform: none; }

/* line 303, ../scss/style.scss */
.main-content > h3 {
  padding-left: .5em; }

/* line 305, ../scss/style.scss */
.event {
  background: white;
  border-top: 1px solid #036cb6;
  padding: 1em 0; }
  /* line 310, ../scss/style.scss */
  .event h4 {
    float: left;
    padding-left: .75em;
    width: 80%; }
  /* line 315, ../scss/style.scss */
  .event .meta {
    font-size: .75em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(85, 90, 90, 0.05);
    display: inline;
    border: 1px solid rgba(85, 90, 90, 0.2);
    padding: .25em .75em .25em .5em;
    float: right;
    color: #555a5a; }
  /* line 327, ../scss/style.scss */
  .event img {
    width: 100%; }
  /* line 329, ../scss/style.scss */
  .event dt, .event strong {
    color: #38939b; }
  /* line 331, ../scss/style.scss */
  .event .event-sum {
    width: 100%;
    font-size: .85em;
    background-color: rgba(3, 108, 182, 0.05);
    padding: 1em 1.25em;
    margin-bottom: 0; }
  /* line 339, ../scss/style.scss */
  .event .time, .event .address {
    width: 50%;
    float: left;
    font-size: .85em;
    padding: 1em 1em;
    line-height: 1.6em; }
  /* line 347, ../scss/style.scss */
  .event dl dd {
    margin-bottom: 3%; }
  /* line 349, ../scss/style.scss */
  .event .cta {
    padding: .5em; }
    /* line 351, ../scss/style.scss */
    .event .cta a {
      float: left;
      width: 48%;
      margin: 1%;
      font-size: .85em; }

/* line 360, ../scss/style.scss */
footer {
  background-color: #036cb6;
  width: 100%;
  margin-bottom: 0;
  border-top: 3px solid rgba(3, 108, 182, 0.1); }
  /* line 366, ../scss/style.scss */
  footer .adr {
    width: 100%;
    background: url(../images/seal.png) no-repeat center center;
    background-size: contain;
    margin: 1em auto; }
    /* line 372, ../scss/style.scss */
    footer .adr li {
      color: white;
      list-style-type: none;
      font-size: .85em;
      font-weight: bold;
      padding-left: 5.5em;
      font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
      font-weight: 300; }
  /* line 383, ../scss/style.scss */
  footer nav {
    border-top: 1px solid #014c80; }
    /* line 385, ../scss/style.scss */
    footer nav ul {
      width: 100%;
      margin-bottom: 0; }
      /* line 389, ../scss/style.scss */
      footer nav ul li {
        float: left;
        list-style-type: none;
        width: 100%; }
        /* line 394, ../scss/style.scss */
        footer nav ul li a {
          color: white;
          display: block;
          font-weight: bold;
          font-size: 1em;
          text-align: center;
          padding: .5em 0;
          border-bottom: 1px solid #014c80;
          min-height: 44px;
          font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica; }
        /* line 406, ../scss/style.scss */
        footer nav ul li a:hover {
          color: rgba(255, 255, 255, 0.8); }

/* line 414, ../scss/style.scss */
.menu-button {
  float: right;
  margin-bottom: 0;
  margin-top: 0; }

/* line 422, ../scss/style.scss */
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 1.2em;
  line-height: 1.5; }

/* line 429, ../scss/style.scss */
.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* normalize the input elements, make them look like everything else */
/* line 438, ../scss/style.scss */
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 453, ../scss/style.scss */
.nl-form input:focus {
  outline: none; }

/* custom field (drop-down, text element) styling  */
/* line 458, ../scss/style.scss */
.nl-field {
  display: inline;
  position: relative; }

/* line 463, ../scss/style.scss */
.nl-field.nl-field-open {
  z-index: 10000; }

/* the toggle is the visible part in the form */
/* line 470, ../scss/style.scss */
.nl-field-toggle,
.nl-form input,
.nl-form select {
  line-height: inherit;
  display: inline;
  color: rgba(3, 108, 182, 0.8);
  cursor: pointer;
  border-bottom: 1px dashed rgba(3, 108, 182, 0.3); }

/* line 479, ../scss/style.scss */
.nl-field-toggle:hover {
  color: white; }

/* line 483, ../scss/style.scss */
.nl-field-toggle:after {
  content: none; }

/* drop-down list / text element */
/* line 487, ../scss/style.scss */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #036cb6;
  left: -230px;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s; }

/* line 503, ../scss/style.scss */
.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
  border-radius: 3px; }

/* line 515, ../scss/style.scss */
.nl-field ul li {
  color: #fff;
  position: relative; }

/* line 520, ../scss/style.scss */
.nl-dd ul li {
  padding: .2em 1.5em .2em 0.5em;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.5em; }

/* line 527, ../scss/style.scss */
.nl-dd ul li.nl-dd-checked {
  color: #bedeff; }

/* line 531, ../scss/style.scss */
.no-touch .nl-dd ul li:hover {
  background: rgba(0, 0, 0, 0.05); }

/* line 535, ../scss/style.scss */
.no-touch .nl-dd ul li:hover:before {
  content: '▶';
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3; }

/* line 543, ../scss/style.scss */
.no-touch .nl-dd ul li:hover:active {
  color: #444; }

/* icons for some elements */
/* line 550, ../scss/style.scss */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }

/* line 560, ../scss/style.scss */
.nl-ti-text ul {
  min-width: 8em; }

/* line 564, ../scss/style.scss */
.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff; }

/* line 571, ../scss/style.scss */
.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  width: 1.8em;
  text-align: center;
  color: transparent; }

/* line 583, ../scss/style.scss */
.nl-field-go:before {
  content: '\e001';
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block; }

/* custom placeholder color */
/* line 593, ../scss/style.scss */
input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

/* line 598, ../scss/style.scss */
input:active::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2); }

/* line 602, ../scss/style.scss */
input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8); }

/* line 607, ../scss/style.scss */
input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2); }

/* line 611, ../scss/style.scss */
input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

/* line 616, ../scss/style.scss */
input:active::-ms-input-placeholder,
input:focus::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2); }

/* example field below text input */
/* line 621, ../scss/style.scss */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0, 0, 0, 0.2);
  border-top: 1px dashed rgba(255, 255, 255, 0.7); }

/* line 630, ../scss/style.scss */
.nl-ti-text ul li.nl-ti-example em {
  color: white; }

/* submit button */
/* line 635, ../scss/style.scss */
.nl-submit-wrap {
  margin-top: 0.4em; }

/* line 639, ../scss/style.scss */
.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #76C3BD;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px; }

/* line 652, ../scss/style.scss */
.nl-submit:before {
  content: '\e001';
  color: #fff;
  float: left;
  padding: 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #69B1A9; }

/* line 662, ../scss/style.scss */
.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9; }

/* line 666, ../scss/style.scss */
.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199; }

/* overlay becomes visible when a field is opened */
/* line 671, ../scss/style.scss */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 108, 182, 0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s; }

/* line 686, ../scss/style.scss */
.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s; }

/* line 694, ../scss/style.scss */
.hls {
  background-color: #036cb6;
  color: white;
  width: 100%;
  border-radius: 0px;
  padding: 1em;
  margin-bottom: 5%; }
  /* line 702, ../scss/style.scss */
  .hls span {
    float: left;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 3%; }
  /* line 709, ../scss/style.scss */
  .hls h4 {
    color: white;
    font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
    text-transform: uppercase;
    float: left;
    margin-bottom: 0; }
  /* line 717, ../scss/style.scss */
  .hls .nl-form {
    float: right;
    width: auto;
    margin-top: 0;
    line-height: 1.4em; }
  /* line 724, ../scss/style.scss */
  .hls .nl-field ul {
    left: -100px; }
  /* line 726, ../scss/style.scss */
  .hls .nl-field-toggle, .hls .nl-form input, .hls .nl-form select {
    color: rgba(255, 255, 255, 0.8); }

/* line 729, ../scss/style.scss */
.sidebar {
  	/*
  width: 100%;
  	margin-right: 2.5%;
  */ }
  /* line 735, ../scss/style.scss */
  .sidebar div {
    margin-bottom: 15%; }
  /* line 736, ../scss/style.scss */
  .sidebar h3 {
    border-top: 5px solid rgba(56, 147, 155, 0.1);
    padding-top: .5em; }

/* line 740, ../scss/style.scss */
.btn {
  background-color: #036cb6;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1.1em;
  display: inline-block;
  margin-right: 3%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Trade Gothic W01 Bold';
  font-weight: 300; }

/* line 756, ../scss/style.scss */
.btn:hover {
  color: #fff;
  background-color: #38939b; }

/* line 761, ../scss/style.scss */
.button.secondary {
  background-color: rgba(56, 147, 155, 0.95);
  color: white; }

/* line 766, ../scss/style.scss */
.button.secondary:hover {
  background-color: #38939b;
  color: white; }

/* line 771, ../scss/style.scss */
.button.secondary:active {
  background-color: rgba(56, 147, 155, 0.9);
  color: white; }

/* line 776, ../scss/style.scss */
.button.tertiary {
  background-color: rgba(141, 198, 63, 0.95); }

/* line 778, ../scss/style.scss */
.button.tertiary:hover {
  background-color: #8dc63f; }

/* line 780, ../scss/style.scss */
.button.tertiary:active {
  background-color: rgba(141, 198, 63, 0.9); }

/* line 782, ../scss/style.scss */
.button {
  color: inherit;
  background: none;
  cursor: pointer;
  padding: .25em 1.25em;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Trade Gothic W01 Bold';
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  box-shadow: none;
  min-width: 240px;
  text-align: left;
  font-weight: 300; }

/* line 803, ../scss/style.scss */
.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 812, ../scss/style.scss */
.button:active {
  box-shadow: none; }

/* line 814, ../scss/style.scss */
.btn-3 {
  background: rgba(3, 108, 182, 0.95);
  color: #fff; }

/* line 819, ../scss/style.scss */
.btn-3:hover {
  background: #036cb6; }

/* line 821, ../scss/style.scss */
.btn-3:active {
  background: rgba(3, 108, 182, 0.9);
  top: 2px; }

/* line 826, ../scss/style.scss */
.btn-3:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2.4;
  font-size: 140%;
  width: 60px; }

/* line 836, ../scss/style.scss */
.btn-3e {
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden; }

/* line 841, ../scss/style.scss */
.btn-3e:before {
  left: auto;
  right: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

/* line 850, ../scss/style.scss */
.btn-3e:after {
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0px;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg); }

/* line 868, ../scss/style.scss */
.btn-3e:hover:after {
  width: 35%; }

/* line 869, ../scss/style.scss */
.btn-3e:hover:before {
  right: 10%; }

/* line 871, ../scss/style.scss */
.icon-arrow-right:before {
  content: '▶';
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  right: 8%; }

/* line 878, ../scss/style.scss */
.button.small {
  font-size: .85em;
  min-width: 170px;
  padding: 1em; }

/* line 884, ../scss/style.scss */
.news {
  width: 100%;
  max-width: 1120px;
  padding: 0 1em;
  margin: 5% auto 0; }
  /* line 890, ../scss/style.scss */
  .news ul {
    border-top: 5px solid rgba(3, 108, 182, 0.05);
    padding-top: 1em; }

/* line 896, ../scss/style.scss */
.news ul li {
  float: left;
  width: 100%;
  list-style-type: none; }
  /* line 901, ../scss/style.scss */
  .news ul li img {
    float: left;
    margin: 0 10px 0 0px;
    padding: 4px;
    border: 1px solid #eee;
    display: block; }
  /* line 909, ../scss/style.scss */
  .news ul li .meta {
    font-size: .85em;
    color: rgba(85, 90, 90, 0.7);
    border: 1px solid #eee;
    display: inline-block;
    padding: 0 .5em;
    margin-bottom: 2%; }
  /* line 918, ../scss/style.scss */
  .news ul li .small {
    font-size: .85em; }
  /* line 920, ../scss/style.scss */
  .news ul li h4 {
    padding: 0;
    margin: 0 0 2%;
    font-size: 1.25em; }

/* line 927, ../scss/style.scss */
.news ul li:last-child {
  margin-right: 0; }

/* line 929, ../scss/style.scss */
.event-teaser h3 {
  padding-left: .8em; }

/* line 935, ../scss/style.scss */
.rs-arrows {
  z-index: 10; }

/* line 937, ../scss/style.scss */
.rs-caption {
  position: relative;
  background: none;
  background-color: rgba(85, 90, 90, 0.05);
  color: #555a5a;
  padding: 1em 1em !important; }
  /* line 944, ../scss/style.scss */
  .rs-caption h3 {
    color: #036cb6;
    text-shadow: none;
    text-transform: none; }
  /* line 949, ../scss/style.scss */
  .rs-caption p {
    text-shadow: none;
    color: #555a5a; }

/* line 956, ../scss/style.scss */
.rs-slide-bg {
  padding: 0 !important; }

/* line 960, ../scss/style.scss */
.rs-thumb-wrap {
  padding: 0 .5em; }

/* line 964, ../scss/style.scss */
.secondary {
  padding-right: 1em; }
  /* line 966, ../scss/style.scss */
  .secondary div {
    margin-bottom: 5%; }
  /* line 967, ../scss/style.scss */
  .secondary .block {
    padding: 1em; }

/* line 972, ../scss/style.scss */
.main-content .search {
  border-radius: 3px;
  margin: 0 auto 5%;
  width: 100%;
  position: relative;
  right: 0; }
  /* line 979, ../scss/style.scss */
  .main-content .search .btn {
    width: 17%; }
/* line 984, ../scss/style.scss */
.main-content .search input[type=search] {
  float: left;
  width: 80%;
  margin-right: 3%;
  margin-bottom: 0;
  font-size: 1em;
  padding: 1.45em .85em; }
/* line 993, ../scss/style.scss */
.main-content .search .btn {
  padding: .45em;
  text-align: center;
  font-size: 1.5em; }
/* line 999, ../scss/style.scss */
.main-content .search .btn:after {
  content: none; }

/* line 1006, ../scss/style.scss */
.search-filter label {
  color: white;
  padding-bottom: .3em; }
/* line 1011, ../scss/style.scss */
.search-filter ul {
  /* 		padding-bottom: .75em; */
  margin-bottom: 0; }
/* line 1016, ../scss/style.scss */
.search-filter li {
  list-style-type: none;
  line-height: 1.1em;
  padding-bottom: .25em; }
  /* line 1021, ../scss/style.scss */
  .search-filter li a {
    font-size: .75em; }

/* line 1027, ../scss/style.scss */
.search-results .results {
  padding: 0 1em;
  margin-top: 4%; }
  /* line 1032, ../scss/style.scss */
  .search-results .results > li {
    list-style-type: none;
    border-top: 1px solid rgba(3, 108, 182, 0.1);
    padding: 1.5em 0; }
    /* line 1038, ../scss/style.scss */
    .search-results .results > li header h4 {
      float: left;
      width: 80%;
      margin-top: 0; }
    /* line 1044, ../scss/style.scss */
    .search-results .results > li header .meta {
      float: right;
      max-width: 20%;
      font-size: .75em;
      position: absolute;
      right: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    /* line 1055, ../scss/style.scss */
    .search-results .results > li li {
      list-style-type: none;
      color: #555a5a; }
    /* line 1060, ../scss/style.scss */
    .search-results .results > li .adr {
      padding-left: 0;
      margin-left: 0; }
    /* line 1065, ../scss/style.scss */
    .search-results .results > li .thumb {
      border: 5px solid rgba(3, 108, 182, 0.05);
      float: left;
      border-radius: 3px;
      margin-bottom: 5%; }
    /* line 1072, ../scss/style.scss */
    .search-results .results > li .author {
      color: #38939b;
      font-size: .85em; }
    /* line 1077, ../scss/style.scss */
    .search-results .results > li .content {
      display: block;
      margin-bottom: 5%; }
      /* line 1081, ../scss/style.scss */
      .search-results .results > li .content p {
        width: 100%;
        float: left;
        margin-bottom: 0;
        font-size: .85em; }
    /* line 1089, ../scss/style.scss */
    .search-results .results > li > a:last-child:after {
      content: " »"; }

/* line 1097, ../scss/style.scss */
.page-title span {
  color: #38939b; }

/* line 1101, ../scss/style.scss */
.meta {
  font-size: .85em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgba(85, 90, 90, 0.05);
  display: inline-block;
  border: 1px solid rgba(85, 90, 90, 0.2);
  padding: .25em .75em .25em .5em;
  color: #555a5a;
  margin-bottom: 5%; }

/* line 1113, ../scss/style.scss */
ul.info {
  margin-left: 0;
  padding-left: 0em;
  margin-bottom: 5%; }
  /* line 1118, ../scss/style.scss */
  ul.info > li {
    word-wrap: break-word;
    float: left;
    width: 40%;
    margin-right: 5%;
    padding-left: 0;
    color: #555a5a;
    padding-bottom: 0;
    border-radius: 3px;
    font-size: .75em;
    margin-bottom: 5%; }
  /* line 1131, ../scss/style.scss */
  ul.info > li:last-child {
    margin-right: 0;
    width: 100%; }

@media only screen and (min-width: 480px) {
  /* line 1136, ../scss/style.scss */
  .wrapper > header {
    margin-bottom: 5%; } }
@media all and (min-width: 768px) {
  /* line 1141, ../scss/style.scss */
  html, body {
    min-height: 100%; }

  /* line 1143, ../scss/style.scss */
  body {
    background-color: #fdfdfd; }

  /* line 1145, ../scss/style.scss */
  .wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto; }
    /* line 1150, ../scss/style.scss */
    .wrapper > header {
      padding: 1em 0 0;
      background-image: url("../images/uber-texture2.png"), -webkit-linear-gradient(#faffff 0%, #fdffff 100%);
      background-image: url("../images/uber-texture2.png"), -moz-linear-gradient(#faffff 0%, white 100%);
      border-top: 5px solid rgba(3, 108, 182, 0.9);
      margin-bottom: 3%;
      box-shadow: 0 3px 6px rgba(85, 90, 90, 0.1); }

  /* line 1164, ../scss/style.scss */
  .main-body {
    	/*
    padding: 0 0em;
    	margin-bottom: 5%;
    */ }
    /* line 1170, ../scss/style.scss */
    .main-body header {
      margin-bottom: 0%;
      position: relative; }

  /* line 1173, ../scss/style.scss */
  .dept-home .main-body {
    margin-bottom: 0%; }

  /*
  .main-content {
  	width: 70%;
  	float: left;
  	padding-left: 1em;;
  	}
  
  .sidebar {
  	float: left;
  	width: 18%;
  	margin-right: 2.5%;
  	}
  
  .secondary {
  	float: right; 
  	width: 17%; 
  	margin-left: 2.5%
  	}
  */
  /* line 1196, ../scss/style.scss */
  .page-title {
    font-size: 2.5em;
    color: #036cb6;
    border-bottom: 5px solid rgba(3, 108, 182, 0.1);
    padding: 0 0 .25em;
    margin-bottom: 0%;
    text-transform: none;
    width: 100%;
    float: none;
    padding-left: .5em; }

  /* line 1208, ../scss/style.scss */
  .sub-link {
    position: absolute;
    top: 10%;
    right: 0; }

  /* line 1214, ../scss/style.scss */
  h1 {
    color: #38939b;
    font-family: 'Trade Gothic W01 Light';
    text-transform: uppercase; }

  /* line 1220, ../scss/style.scss */
  h2 {
    text-transform: uppercase;
    color: #38939b;
    font-family: 'Trade Gothic W01 Light';
    font-size: 2em;
    margin: 0;
    line-height: 1.2em;
    font-weight: 100; }

  /* line 1230, ../scss/style.scss */
  h3 {
    color: #38939b;
    font-family: "Trade Gothic W01 Light", Helvetica Neue, Arial, Helvetica;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 100;
    line-height: 1.2em; }

  /* line 1239, ../scss/style.scss */
  h4 {
    color: #036cb6;
    font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica; }

  /* line 1244, ../scss/style.scss */
  h5 {
    color: #036cb6;
    font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica; }

  /* line 1251, ../scss/style.scss */
  a {
    color: #036cb6; }

  /* line 1253, ../scss/style.scss */
  p {
    color: #555a5a; }

  /* line 1255, ../scss/style.scss */
  .main-content ul {
    padding-left: 2em;
    font-size: .9em; }

  /* line 1256, ../scss/style.scss */
  .main-content ul.flush {
    padding-left: 0; }

  /* line 1258, ../scss/style.scss */
  li {
    color: #6b699e; }

  /* line 1260, ../scss/style.scss */
  .inner {
    padding: .5em 1em 1.25em;
    position: relative; }

  /* line 1265, ../scss/style.scss */
  .hideme {
    opacity: 1.0; }

  /* Header Logo/Headings */
  /* line 1268, ../scss/style.scss */
  .lockup {
    margin-bottom: 2%;
    width: 65%;
    background: url("../images/seal.png") no-repeat 0 -2px;
    background-size: contain;
    padding-left: 5em;
    float: none; }

  /* line 1277, ../scss/style.scss */
  .county-name, .dept-name {
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff; }

  /* line 1283, ../scss/style.scss */
  .county-name {
    color: #036cb6;
    font-size: 2em;
    line-height: 1em;
    font-family: 'Trade Gothic W01 Bold';
    background-size: contain; }
    /* line 1290, ../scss/style.scss */
    .county-name span {
      font-size: .6em;
      font-family: 'Trade Gothic W01 Roman';
      padding: 0 0.2em 0 0.1em; }

  /* line 1297, ../scss/style.scss */
  .county-name:hover {
    color: #38939b; }

  /* line 1301, ../scss/style.scss */
  .dept-name {
    font-size: 2em;
    margin: 0;
    line-height: 1.2em; }

  /* End */
  /* View Departments Switch */
  /* line 1309, ../scss/style.scss */
  .dept-link {
    background-color: rgba(3, 108, 182, 0.9);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 0.4em .9em .8em;
    position: absolute;
    right: 2%;
    top: -1.3em; }

  /* line 1323, ../scss/style.scss */
  .dept-link:hover {
    color: rgba(255, 255, 255, 0.9); }

  /* Header Search */
  /* line 1326, ../scss/style.scss */
  .search {
    border-radius: 3px;
    margin: 0 auto 0;
    position: absolute;
    right: 2.25%;
    top: 24.5%;
    width: 30%;
    background-color: transparent;
    padding: 0; }

  /* line 1337, ../scss/style.scss */
  .search input[type=search] {
    background-image: -webkit-linear-gradient(rgba(56, 147, 155, 0.2) 0%, rgba(56, 147, 155, 0.2) 100%);
    border: none;
    box-shadow: none;
    color: white;
    float: left;
    width: 80%;
    margin-right: 3%;
    margin-bottom: 0;
    font-size: .85em;
    padding: 1.45em .85em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 3px;
    font-family: 'Trade Gothic W01 Roman'; }

  /* line 1355, ../scss/style.scss */
  .search .btn {
    width: 17%;
    float: right;
    border: none;
    display: block;
    padding: .4em;
    text-align: center;
    margin-right: 0; }

  /* line 1365, ../scss/style.scss */
  .search .btn:after {
    content: none; }

  /* End Header Search */
  /* line 1370, ../scss/style.scss */
  .content {
    display: inline; }

  /* line 1374, ../scss/style.scss */
  .btn {
    background-color: #036cb6;
    color: #f7f7f7;
    border-radius: 3px;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    display: inline-block;
    margin-right: 3%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Trade Gothic W01 Bold';
    font-weight: 300; }

  /* line 1390, ../scss/style.scss */
  .btn:hover {
    color: #fff;
    background-color: #38939b; }

  /* line 1395, ../scss/style.scss */
  .btn-nav {
    display: none; }

  /* Events */
  /* line 1400, ../scss/style.scss */
  .event {
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(3, 108, 182, 0.1);
    width: 100%;
    position: relative;
    margin: 0 auto 10%;
    display: block;
    padding-bottom: 0; }
    /* line 1412, ../scss/style.scss */
    .event dt, .event strong {
      color: #38939b; }
    /* line 1414, ../scss/style.scss */
    .event .content {
      float: left;
      width: 66%;
      padding: .75em 1em 0;
      min-height: 100px;
      position: relative; }
    /* line 1422, ../scss/style.scss */
    .event h4 {
      float: left;
      display: inline-block;
      margin: 0 0 3%;
      width: 80%;
      color: #036cb6;
      padding-left: 0; }
    /* line 1431, ../scss/style.scss */
    .event .meta {
      font-size: .75em;
      border-radius: 3px;
      background-color: rgba(85, 90, 90, 0.05);
      display: inline;
      border: 1px solid rgba(85, 90, 90, 0.2);
      padding: .5em .75em .25em .5em;
      float: right;
      color: #555a5a;
      margin: 0; }
    /* line 1443, ../scss/style.scss */
    .event .place {
      float: left;
      width: 45%;
      clear: both;
      margin-right: 10%;
      line-height: 1.7em; }
    /* line 1451, ../scss/style.scss */
    .event .place, .event .time {
      font-size: .85em;
      margin-bottom: 3%; }
    /* line 1456, ../scss/style.scss */
    .event > img {
      float: right;
      width: 100%;
      max-width: 175px; }
    /* line 1462, ../scss/style.scss */
    .event .event-sum {
      width: 100%;
      clear: both;
      font-size: .85em;
      background-color: rgba(3, 108, 182, 0.05);
      padding: 1em 1.25em;
      margin-bottom: 0; }
    /* line 1471, ../scss/style.scss */
    .event .date {
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      border-radius: 3px;
      top: .5em;
      right: .5em;
      padding: .1em .5em .5em;
      text-align: center;
      line-height: 1.5em;
      text-transform: uppercase; }
    /* line 1483, ../scss/style.scss */
    .event .date span {
      display: block;
      color: #036cb6;
      font-size: 2em;
      font-family: 'Trade Gothic W01 Bold';
      padding-top: .15em; }
    /* line 1491, ../scss/style.scss */
    .event .event .time {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 0;
      float: left;
      width: 45%; }
    /* line 1499, ../scss/style.scss */
    .event .event-details {
      float: left;
      width: 66%;
      padding: 0em 1em 0;
      min-height: 100px;
      position: relative; }
      /* line 1506, ../scss/style.scss */
      .event .event-details .address, .event .event-details .time {
        width: 50%;
        float: left;
        font-size: .85em;
        padding: 0em 0 .5em;
        line-height: 1.6em; }
    /* line 1515, ../scss/style.scss */
    .event .cta {
      margin: 0; }
      /* line 1517, ../scss/style.scss */
      .event .cta a {
        font-size: .85em;
        width: auto; }

  /* line 1522, ../scss/style.scss */
  .event-filter ul li {
    list-style-type: none; }

  /* line 1524, ../scss/style.scss */
  .event-filter, .search-filter {
    display: none;
    background-color: #036cb6;
    padding: 1em; }
    /* line 1529, ../scss/style.scss */
    .event-filter .close, .search-filter .close {
      position: absolute;
      right: 5%;
      color: white;
      font-size: 1.5em; }
    /* line 1530, ../scss/style.scss */
    .event-filter .close:hover, .search-filter .close:hover {
      color: rgba(255, 255, 255, 0.5); }
    /* line 1532, ../scss/style.scss */
    .event-filter > ul, .search-filter > ul {
      margin-bottom: 3%; }
    /* line 1533, ../scss/style.scss */
    .event-filter ul li, .search-filter ul li {
      list-style-type: none;
      float: left;
      width: 32%;
      margin-right: 2%; }
    /* line 1540, ../scss/style.scss */
    .event-filter > ul li:nth-child(3n+3), .search-filter > ul li:nth-child(3n+3) {
      margin-right: 0; }
    /* line 1542, ../scss/style.scss */
    .event-filter h4, .search-filter h4 {
      font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
      color: white;
      text-transform: uppercase;
      margin-bottom: 3%;
      width: 80%; }
    /* line 1550, ../scss/style.scss */
    .event-filter label, .search-filter label {
      color: white;
      font-weight: bold;
      margin-bottom: 3%; }
    /* line 1556, ../scss/style.scss */
    .event-filter input, .search-filter input {
      border-radius: 3px; }
    /* line 1560, ../scss/style.scss */
    .event-filter .date-filter, .search-filter .date-filter {
      width: 32%; }
      /* line 1562, ../scss/style.scss */
      .event-filter .date-filter li, .search-filter .date-filter li {
        width: 48%; }

  /* line 1571, ../scss/style.scss */
  footer {
    background: url("../images/footer-img-1.jpg") no-repeat scroll center bottom #036cb6;
    background-size: cover;
    border-top: 5px solid rgba(56, 147, 155, 0.5);
    margin-bottom: 0;
    padding: 3em 2em;
    width: 100%; }
    /* line 1579, ../scss/style.scss */
    footer .adr {
      float: left;
      width: 25%;
      background: url(../images/seal.png) no-repeat;
      background-size: contain;
      margin: 0; }
      /* line 1586, ../scss/style.scss */
      footer .adr li {
        color: white;
        list-style-type: none;
        font-size: .85em;
        font-weight: bold;
        padding-left: 5.5em;
        font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
        font-weight: 300; }
    /* line 1597, ../scss/style.scss */
    footer nav {
      border: none; }
    /* line 1599, ../scss/style.scss */
    footer nav ul {
      width: 55%;
      float: right;
      margin-bottom: 0; }
      /* line 1604, ../scss/style.scss */
      footer nav ul li {
        float: left;
        list-style-type: none;
        width: 33%;
        margin-bottom: 2%; }
        /* line 1610, ../scss/style.scss */
        footer nav ul li a {
          color: white;
          display: block;
          font-size: .8em;
          text-align: left;
          padding: 0;
          border: none;
          min-height: 0;
          font-weight: 100; }
        /* line 1621, ../scss/style.scss */
        footer nav ul li a:hover {
          color: rgba(255, 255, 255, 0.8); }

  /* line 1628, ../scss/style.scss */
  .news, .event-teaser {
    width: 100%;
    max-width: 1120px;
    padding: 0 2em;
    margin: auto; }
    /* line 1634, ../scss/style.scss */
    .news h3, .event-teaser h3 {
      padding-left: 0; }
    /* line 1636, ../scss/style.scss */
    .news ul, .event-teaser ul {
      border-top: 5px solid rgba(3, 108, 182, 0.05);
      padding-top: 1em; }

  /* line 1642, ../scss/style.scss */
  .news ul li {
    float: left;
    width: 30%;
    margin-right: 5%;
    list-style-type: none; }
    /* line 1648, ../scss/style.scss */
    .news ul li img {
      float: left;
      margin: 0 10px 0 0px;
      padding: 4px;
      border: 1px solid #eee;
      display: block; }
    /* line 1656, ../scss/style.scss */
    .news ul li .small {
      font-size: .85em; }

  /* line 1660, ../scss/style.scss */
  .news ul li:last-child, .event-teaser ul li:last-child {
    margin-right: 0; }

  /* line 1662, ../scss/style.scss */
  .news ul li h4 {
    padding: 0;
    margin: 0 0 2%;
    font-size: 1.25em; }

  /* line 1670, ../scss/style.scss */
  .event-teaser .event {
    float: left;
    width: 30%;
    margin-right: 5%;
    list-style-type: none;
    padding-top: 0;
    background-color: transparent;
    border: none; }
    /* line 1679, ../scss/style.scss */
    .event-teaser .event div {
      padding: .25em 0; }
    /* line 1681, ../scss/style.scss */
    .event-teaser .event h4 {
      width: 74%;
      margin-top: 0;
      padding: 0; }
    /* line 1687, ../scss/style.scss */
    .event-teaser .event .meta {
      font-size: .7em; }
  /* line 1692, ../scss/style.scss */
  .event-teaser .event-details {
    width: 100%;
    margin: 2% 0 5%;
    border-top: 1px dashed rgba(56, 147, 155, 0.1);
    border-bottom: 1px dashed rgba(56, 147, 155, 0.1);
    padding: .75em 0em .5em; }
    /* line 1699, ../scss/style.scss */
    .event-teaser .event-details p, .event-teaser .event-details dl {
      float: left;
      width: 50%;
      font-size: .75em; }
    /* line 1705, ../scss/style.scss */
    .event-teaser .event-details .address, .event-teaser .event-details .time {
      padding: 0em 1em .0em 0;
      margin-bottom: 0;
      font-size: .75em; }
  /* line 1712, ../scss/style.scss */
  .event-teaser img {
    width: 35%;
    border: 0;
    float: left;
    padding: 0 .5em .5em 0; }
  /* line 1719, ../scss/style.scss */
  .event-teaser .event-sum {
    clear: none;
    background-color: transparent;
    width: 100%;
    font-size: .75em;
    padding: .75em 0 1em 0; }
  /* line 1727, ../scss/style.scss */
  .event-teaser .event dt, .event-teaser .event strong {
    font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica;
    font-weight: 100;
    text-transform: uppercase; }
  /* line 1733, ../scss/style.scss */
  .event-teaser dd {
    color: rgba(85, 90, 90, 0.85); }

  /* line 1739, ../scss/style.scss */
  .hls .nl-form {
    width: 100%;
    margin: 0.3 auto 0 auto;
    font-size: 1.1em;
    line-height: 1.5;
    margin-right: 4%; }

  /* drop-down list / text element */
  /* line 1750, ../scss/style.scss */
  .nl-field ul {
    left: -0.5em;
    padding-left: 0; }

  /* line 1755, ../scss/style.scss */
  .hls-light {
    background-color: white;
    color: #036cb6;
    width: 100%;
    border-radius: 3px;
    padding: 1em; }
    /* line 1762, ../scss/style.scss */
    .hls-light h4 {
      color: #036cb6;
      font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
      text-transform: uppercase; }

  /* line 1771, ../scss/style.scss */
  .main-content .icon-info {
    float: left;
    font-size: 1.4375em;
    margin-right: 2%;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.3); }
  /* line 1779, ../scss/style.scss */
  .main-content .hls {
    border-radius: 3px;
    margin-bottom: 4.5%;
    text-align: center; }
    /* line 1784, ../scss/style.scss */
    .main-content .hls h4 {
      color: white;
      font-family: "Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;
      text-transform: uppercase;
      float: left;
      margin: 0;
      line-height: 1.7em; }
    /* line 1793, ../scss/style.scss */
    .main-content .hls .nl-form {
      margin: 0;
      float: right;
      width: auto; }
    /* line 1801, ../scss/style.scss */
    .main-content .hls .nl-field-toggle,
    .main-content .hls .nl-form input,
    .main-content .hls .nl-form select {
      line-height: inherit;
      display: inline;
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;
      border-bottom: 1px dashed rgba(3, 108, 182, 0.3);
      font-size: 1.2em; }
    /* line 1810, ../scss/style.scss */
    .main-content .hls .nl-field {
      margin-right: 4%; }
  /* line 1813, ../scss/style.scss */
  .main-content .hls-light {
    background-color: rgba(3, 108, 182, 0.05);
    color: #036cb6;
    width: 100%;
    border-radius: 3px; }
    /* line 1819, ../scss/style.scss */
    .main-content .hls-light h4 {
      color: #036cb6; }
    /* line 1822, ../scss/style.scss */
    .main-content .hls-light span {
      color: #036cb6; }
    /* line 1824, ../scss/style.scss */
    .main-content .hls-light .nl-field-toggle {
      color: #036cb6; }

  /* line 1828, ../scss/style.scss */
  .sidebar {
    	/*
    width: 100%;
    	margin-bottom: 3%;
    */ }
    /* line 1834, ../scss/style.scss */
    .sidebar div {
      margin-bottom: 3%; }

  /* line 1841, ../scss/style.scss */
  .secondary {
    	/*
    width: 27%;
    	margin-left: 3%;
    */ }
    /* line 1847, ../scss/style.scss */
    .secondary div {
      margin-bottom: 7%; }
    /* line 1849, ../scss/style.scss */
    .secondary .block {
      padding: 0;
      margin-bottom: 10%; }

  /* line 1854, ../scss/style.scss */
  .btn {
    font-size: 1em; }

  /* line 1858, ../scss/style.scss */
  .button.secondary {
    margin-left: 0; }

  /* line 1862, ../scss/style.scss */
  .block {
    border-top: 5px solid rgba(3, 108, 182, 0.05);
    padding-top: 1em;
    margin-bottom: 8%; }

  /* line 1868, ../scss/style.scss */
  .section {
    margin-bottom: 3.5%; }

  /* line 1872, ../scss/style.scss */
  .main-content .section {
    margin-bottom: 0; }

  /* line 1874, ../scss/style.scss */
  .search-results .results {
    padding: 0; }
    /* line 1882, ../scss/style.scss */
    .search-results .results > li header .meta {
      				/*
      border-radius: 3px; 
      				position: relative; 
      				font-size: .85em;
      */ }
    /* line 1891, ../scss/style.scss */
    .search-results .results > li li {
      			/*
      h5 {
      				color: $primaryTeal; 
      				font-weight: 100;
      				}
      */ }
    /* line 1900, ../scss/style.scss */
    .search-results .results > li .thumb {
      margin-right: 2%;
      margin-bottom: 0; }

  /* line 1916, ../scss/style.scss */
  ul.info {
    margin-bottom: 3%; }
    /* line 1919, ../scss/style.scss */
    ul.info > li {
      width: 32%;
      margin-right: 2%;
      font-size: 1em;
      margin-bottom: 0; }
    /* line 1926, ../scss/style.scss */
    ul.info > li:last-child {
      width: 32%; }

  /* line 1933, ../scss/style.scss */
  .search-large .search {
    position: relative;
    right: auto;
    top: auto;
    padding: 0; }
    /* line 1939, ../scss/style.scss */
    .search-large .search input[type="search"] {
      padding: 1.75em 1.2em;
      font-size: 1em; }
    /* line 1944, ../scss/style.scss */
    .search-large .search .btn {
      padding: .63em;
      font-size: 1.5em; } }
/* line 1954, ../scss/style.scss */
.dept-home .main-body {
  padding: 0; }
  /* line 1958, ../scss/style.scss */
  .dept-home .main-body .sidebar {
    margin-top: -3%; }

/* line 1963, ../scss/style.scss */
#sub {
  display: block; }

@media all and (min-width: 769px) {
  /* line 1968, ../scss/style.scss */
  .filter-link, .main-body .close, .sub-link {
    display: none; }

  /* line 1970, ../scss/style.scss */
  .event-filter, .search-filter {
    padding: .5em 1em 1em;
    background-color: rgba(3, 108, 182, 0.05);
    border: 1px solid rgba(3, 108, 182, 0.05);
    border-radius: 3px;
    display: block; }
    /* line 1977, ../scss/style.scss */
    .event-filter h4, .search-filter h4 {
      display: block;
      font-weight: 100;
      color: #036cb6;
      margin-bottom: 13%; }
    /* line 1984, ../scss/style.scss */
    .event-filter label, .search-filter label {
      margin-bottom: 3%;
      font-weight: bold;
      color: #555a5a; }
    /* line 1990, ../scss/style.scss */
    .event-filter select, .search-filter select {
      margin-bottom: 16%; }
    /* line 1994, ../scss/style.scss */
    .event-filter select:last-child, .search-filter select:last-child {
      margin-bottom: 0; }
    /* line 1999, ../scss/style.scss */
    .event-filter ul li, .search-filter ul li {
      width: 100%;
      padding: 0 0 1.25em 0; }
    /* line 2002, ../scss/style.scss */
    .event-filter .date-filter, .search-filter .date-filter {
      padding-top: 3%;
      margin: 0;
      width: 100%;
      padding-bottom: 0; }
      /* line 2008, ../scss/style.scss */
      .event-filter .date-filter ul, .search-filter .date-filter ul {
        margin-bottom: 0;
        padding-bottom: 0; }
      /* line 2010, ../scss/style.scss */
      .event-filter .date-filter label, .search-filter .date-filter label {
        margin-bottom: 2%;
        color: #555a5a; }
      /* line 2015, ../scss/style.scss */
      .event-filter .date-filter li:first-child, .search-filter .date-filter li:first-child {
        padding-bottom: 1em; }
      /* line 2018, ../scss/style.scss */
      .event-filter .date-filter li, .search-filter .date-filter li {
        float: left;
        width: 100%;
        padding-right: 0em;
        margin-right: 0;
        padding-bottom: 0em; } }
@media all and (min-width: 800px) {
  /* line 2033, ../scss/style.scss */
  .primary li a {
    font-size: 1em; }

  /* line 2037, ../scss/style.scss */
  .inner {
    padding-left: 1em;
    padding-right: 1em; }

  /* line 2042, ../scss/style.scss */
  .main-body {
    padding: 0 1em; }
    /* line 2045, ../scss/style.scss */
    .main-body header {
      margin-bottom: 3%; }

  /*
  .sidebar {
  	width: 17%;
  	margin-right: 2.5%;
  }
  */
  /* line 2057, ../scss/style.scss */
  .dept-home .main-body {
    padding: 0 1em; }
    /* line 2061, ../scss/style.scss */
    .dept-home .main-body .sidebar {
      	/*
      width: 17%;
      	margin-right: 2.5%;
      	margin-top: 0;
      	margin-bottom: 5%;
      */ }
      /* line 2069, ../scss/style.scss */
      .dept-home .main-body .sidebar div {
        margin-bottom: 15%; }
      /* line 2070, ../scss/style.scss */
      .dept-home .main-body .sidebar h3 {
        border-top: 5px solid rgba(56, 147, 155, 0.1);
        padding-top: .5em; }

  /* line 2080, ../scss/style.scss */
  .main-content .hls h4 {
    line-height: 1.7em; }

  /* line 2085, ../scss/style.scss */
  .secondary {
    	/*
    padding-right: 0em;
    	width: 20%;
    	margin-left: 2.5%;
    */ }

  /* line 2093, ../scss/style.scss */
  .page-title {
    font-size: 3em;
    padding-left: 0; }

  /* line 2100, ../scss/style.scss */
  .event-teaser .event {
    float: left;
    width: 30%;
    margin-right: 5%;
    list-style-type: none;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(3, 108, 182, 0.1);
    /* 		h4, .meta {margin-top: 5%} */ }
    /* line 2113, ../scss/style.scss */
    .event-teaser .event h4 {
      width: 75%;
      margin-top: 0;
      padding-left: 0;
      margin-bottom: 0; }
  /* line 2123, ../scss/style.scss */
  .event-teaser .event-details {
    width: 100%;
    margin: 2% 0 5%;
    border-top: 1px dashed rgba(56, 147, 155, 0.1);
    border-bottom: 1px dashed rgba(56, 147, 155, 0.1);
    padding: .75em 1em .5em; }
    /* line 2130, ../scss/style.scss */
    .event-teaser .event-details p, .event-teaser .event-details dl {
      float: left;
      width: 50%;
      font-size: .75em; }
    /* line 2136, ../scss/style.scss */
    .event-teaser .event-details .address, .event-teaser .event-details .time {
      padding: 0em 1em .5em 0;
      margin-bottom: 0;
      font-size: .75em; }
  /* line 2143, ../scss/style.scss */
  .event-teaser img {
    width: 35%;
    border: 0;
    float: left;
    padding: 0 1em 1em 0; }
  /* line 2150, ../scss/style.scss */
  .event-teaser .event-sum {
    clear: none;
    background-color: transparent;
    width: 100%;
    font-size: .75em;
    padding: .75em 1em 1em; }
  /* line 2158, ../scss/style.scss */
  .event-teaser .event dt, .event-teaser .event strong {
    font-family: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica;
    font-weight: 100;
    text-transform: uppercase; }
  /* line 2164, ../scss/style.scss */
  .event-teaser dd {
    color: rgba(85, 90, 90, 0.85); }

  /* line 2169, ../scss/style.scss */
  footer nav ul {
    width: 45%; }

  /* line 2174, ../scss/style.scss */
  .search-filter ul, .event-filter ul {
    padding-bottom: .75em; }
  /* line 2175, ../scss/style.scss */
  .search-filter select, .event-filter select {
    margin-bottom: 1.5em; } }
/* line 2181, ../scss/style.scss */
.touch-button {
  display: none; }

/* line 2182, ../scss/style.scss */
#mti_wfs_colophon {
  display: none !important; }
