/* Flexnav Base Styles */
@import "vars.scss";
@import "compass/utilities";
@import "compass/css3";

$nav_text: #ef182e;
$top_level: #ffffff;
$second_level: rgba($primaryTeal, .1);
$third_level: #bfbfbc;
$fourth_level: #cbcbc9;

.flexnav {
	@include pie-clearfix;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	max-height: 0;
	
	&.show {
		@include transition(.4s);
		max-height: 1000px;
		position: fixed;
		background-color: rgba(255,255,255,.975);
		padding-top: 60px;
		top: 0;
	}
	&.one-page {
		position: fixed;
		top: 50px;
		right: 5%;
		max-width: 200px;
	}
	
	ul {margin-left: 0;}
	li {
		font-size: 100%;
		position: relative;	
		list-style-type: none;
			
	}
	li a {
		position: relative;
		display: block;
		padding: .96em;
		z-index: 2;
		overflow: hidden;
		color: white;
		background: $primaryBlue;
		border-bottom: 1px solid rgba(0,0,0,.15);
		font-family: $reg;
	}
	li ul {
		width: 100%;
		display: none;
	}
	li ul li {
		float: none;
		width: 100%;			
	}
	li ul li a {
		display: block;
		background: $second_level;	
		color: $primaryTeal;		
	}
	ul li ul li a {
		background: $third_level;
		
	}
	ul li ul li ul li a {
		background: $fourth_level;
	}
	.touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: inline-block;
/*
		background: #acaca1;
		background: rgba(0,0,0,.05);
*/
		text-align: center;
		border-radius: 6px;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			top: 1.25em;
			font-size: 12px;
			color: rgba(#fff, .5);
		}
	}
}
.menu-button {
position: fixed;
display: block;
padding: .3em;
background: white;
color: white;
cursor: pointer;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
background-color: $primaryBlue;
font-size: 1.7em;
text-align: center;
top: .56em;
right: .4em;
border-radius: 3px;
z-index: 9999;
box-shadow: 0px 3px 2px rgba(3, 108, 182, 0.1);
	
	&.one-page {
		position: fixed;
		top: 0;
		right: 5%;
		padding-right: 45px;
	}
	
	.touch-button {
		background: transparent;
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		display: inline-block;
		text-align: center;
				
		.navicon {
			font-size: 16px;
			position: relative;
			top: 1em;
			color: rgba(#fff, .5);
			display: none;
		}
	}
}

@media all and (min-width: $tablet) {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		max-height: 1000px;
				
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;	
			background-color: #a6a6a2;	
			width: 20%;
		}
		li:hover > ul { 
			visibility: visible;
			opacity: 1;
			height: auto;
			display: block;
			top: 3.1em;	
			position: absolute;	
		}
		&.lg-screen li:hover > ul,
		&.sm-screen li:hover > ul {
			display: none;
		}
		li a {
			border-left: 1px solid #acaca1;
			border-bottom: none;		
		}
		li > ul {
			position: absolute; 
			top: auto;
			left: 0;
			opacity: 0;
			visibility: hidden;
			height: 1px;
			z-index: 1;			
		}
		li ul li ul { 
			top: 0;		
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			height: auto;
	
			ul.open {
				margin-left: 100%;
				top: 0;
			}
		}
		ul li:hover ul {
			margin-left: 100%;
			top: 0;
		}
	}
	.menu-button {
		display: none;
	}
}