/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */


#header {
  a.dept-link {
    display: none;
  }
}

// Do not print URLs
a[href]:after {
  content: none;
}

#messages,
#toolbar,
#breadcrumb,
nav {
  display: none;
}

#block-opensanmateo-search-header-search,
.tabs {
  display: none !important;
}

//Remove top body padding
body {
  padding-top: 0px;
}

//Hide Sidebars
#main-wrapper .sm-three-column .panel-col-first,
#main-wrapper .sm-three-column .panel-col-last {
  display: none;
}

.sharethis-buttons,
.print-link {
  display: none;
}

//Hide the footer
#footer-wrapper {
  display: none;
}