// default variables
@charset "UTF-8";
@import "vars.scss";

// WYSIWYG styles, and default HTML elements
// Editor will also include foundation and 
// normalize defaults so that wysiwyg editors
// are as accurate as possible, and those 
// will no longer be imported via .info
@import "elements/editor.scss";
// Drupal admin toolbar adjustments
@import "elements/toolbar.scss";
// Drupal admin tabs adjustments
@import "elements/tabs.scss";
// system (font) icons
@import "elements/icons.scss";
// sitewide layout and responsive
@import "elements/layout.scss";
// rotator box/panels pane "block"
@import "elements/rotator-box.scss";
// cross-site alerts
@import "elements/alerts.scss";
// cross-site teasers
@import "elements/teaser.scss";
// site follow links (pane)
@import "elements/follow.scss";
// shared department menu
@import "elements/dept-menu.scss";
// primary navigation menu
@import "elements/main-menu.scss";
// department branding/promo block
@import "elements/dept-promo.scss";
// custom promo block(s)
@import "elements/promo-boxes.scss";

// footer elements
@import "elements/footer.scss";

body {
  //background: #EEEEEE;
  //padding: 50px;
}

.limiter {
  margin: auto;
  max-width: 1120px;
  position: relative;
}

.krumo-root strong {
  display: inline !important;
}

ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
.messages {
  
  strong {
    display: inline;
  }
}





nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important;
}
.flexslider {
  z-index: 1 !important;
}
header {
  z-index: 10;
}

div.body {
  z-index: 1;
}

footer {
  z-index: 10;
}

#footer-wrapper {
  .section {
    margin-bottom: 0;
  }
}

// fixing the panels admin layout for our custom layouts
/*
#panels-layout-category-San-Mateo-Layouts-wrapper {
  padding-left: 0;
  
  #panels-layout-category-San-Mateo-Layouts {
    .layout-link {
      width: 25%;
      height: auto;
      
      a {
        display: block;
        height: 100%;
      }
      img {
        margin-bottom: 5px;
      }
      
      &.current-layout {
        font-weight: bold;
        img {
          box-shadow: 3px 3px 6px rgba($primaryGray, 0.7); 
        }
      }
    }
  }
}
*/