// default variables
@import "vars.scss";
// Drupal admin toolbar adjustments
@import "elements/toolbar.scss";
// Drupal admin tabs adjustments
@import "elements/tabs.scss";
// system (font) icons
@import "elements/icons.scss";
// sitewide layout and responsive
@import "elements/layout.scss";
// rotator box/panels pane "block"
@import "elements/rotator-box.scss";
// cross-site alerts
@import "elements/alerts.scss";
// cross-site teasers
@import "elements/teaser.scss";

body {
  //background: #EEEEEE;
  //padding: 50px;
}

.krumo-root strong {
  display: inline !important;
}

ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
.messages {
  
  strong {
    display: inline;
  }
}





nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important;
}
.flexslider {
  z-index: 1 !important;
}
header {
  z-index: 10;
}

div.body {
  z-index: 1;
}

footer {
  z-index: 10;
}

#footer-wrapper {
  .section {
    margin-bottom: 0;
  }
}

// fixing the panels admin layout for our custom layouts
#panels-layout-category-San-Mateo-Layouts-wrapper {
  padding-left: 0;
  
  #panels-layout-category-San-Mateo-Layouts {
    .layout-link {
      width: 25%;
      height: auto;
      
      a {
        display: block;
        height: 100%;
      }
      img {
        margin-bottom: 5px;
      }
      
      &.current-layout {
        font-weight: bold;
        img {
          box-shadow: 3px 3px 6px rgba($primaryGray, 0.7); 
        }
      }
    }
  }
}