// default variables
@import "vars.scss";
// rotator box/panels pane "block"
@import "elements/rotator-box.scss";

body {
  //background: #EEEEEE;
  //padding: 50px;
}

.krumo-root strong {
  display: inline !important;
}

ul li.leaf,
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
.messages {
  
  strong {
    display: inline;
  }
}
#toolbar {
  strong {
    display: inline;
  }
  
  #toolbar-home,
  #toolbar-user {
    display: none;
  }
  
  
  div.toolbar-menu {
    padding: 0;
    .toolbar-inner {
      position: relative;
      padding: 5px 35px 5px 0;
    }
    
    a.toggle {
      bottom: 0;
      right: 5px;
    }
  }

}

div.tabs {
  
  ul.tabs {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    white-space: normal;
    border: 0;
    font-size: 12px;
    
    li {
      display: block;
      float: left;
      margin: 0 5px 5px 0;
      
      a {
        margin: 0;
        display: block;
        color: #999999;
        text-decoration: none;
        text-transform: lowercase;
        background: #EEEEEE;
        padding: 4px 8px;
        border: 1px solid #CCC;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        
        
        
        &:hover {
          border: 1px solid #AAAAAA;
          color: #777777;
        }
      }
    }
    li.active {
      a {
        color: #000000;
        background: #DDDDDD;
        
        &:hover {
          border: 1px solid #CCC;
          color: #000000;
        }
      }
    }
  }

  ul.secondary {
    font-size: 11px;
    
    li {
      padding: 0;
      border: 0;
    }
  }
}


nav.main-nav {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 400 !important;
}
.flexslider {
  z-index: 1 !important;
}
header {
  z-index: 10;
}

div.body {
  z-index: 1;
}

footer {
  z-index: 10;
}

#footer-wrapper {
  .section {
    margin-bottom: 0;
  }
}