@charset "UTF-8";

@import "vars.scss";

body {
	margin: auto;
	height: 100%;	
	background: #FFFFFF !important;
}

.main-body header {
	margin-bottom: 3%;
}

.page-title {
	float: left;
	width: 65%;
}

.filter-link {
	float: right;
	font-size: .85em;
	width: 30%;
	margin-top: 5.75%;
}

.page-title {
	font-size: 2em;
	color: $primaryBlue;
	padding: 0 0 .25em .4em;
	margin-bottom: 1%;
	text-transform: none;
}

.page-title span {
	color: $primaryTeal;
}

.menu-button {
  float: right;
  margin-bottom: 0;
  margin-top: 0;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}

@media all and (min-width: 768px) {

  html, body {
    min-height: 100%;
  }

  body {
    background-color: #fdfdfd !important;
  }

  .page-title {
  	font-size: 2.5em;
  	color: $primaryBlue;
  	border-bottom: 5px solid rgba($primaryBlue, .1);
  	padding: 0 0 .25em;
  	margin-bottom: 0%;
  	text-transform: none;
  	width: 100%;
  	float: none;
  	padding-left: .5em;
  }
	
  .sub-link {
  	position: absolute;
  	top: 10%;
  	right: 0;
  }

  h1 {
  	color: $primaryTeal;
  	font-family: 'Trade Gothic W01 Light';
  	text-transform: uppercase;
  }
  
  h2 {
  	text-transform: uppercase;
  	color: $primaryTeal;
  	font-family: 'Trade Gothic W01 Light';
  	font-size: 2em;
  	margin: 0;
  	line-height: 1.2em;
  	font-weight: 100;
  }
  
  h3 {
  	color: $primaryTeal;
  	font-family: $light; 
  	text-transform: uppercase; 
  	margin-top: 0; 
  	font-weight: 100; 
  	line-height: 1.2em;
  }
  
  h4 {
  	color: $primaryBlue; 
  	font-family: $reg;
  }
  
  h5 {
  	color: $primaryBlue; 
  	font-family: $bold;
  }


  a {
    color: $primaryBlue;
  }

  p {
    color: $primaryGray;
  }

  .main-content ul {
    padding-left: 2em; 
    font-size: .9em;
  }
  
  .main-content ul.flush {
    padding-left: 0;
  }

  li {
    color: $altPurple;
  }

  .inner {
	  padding: .5em 1em 1.25em;
    position: relative;
	}

  .hideme {
    opacity: 1.0;
  }
}