
/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/

/* Colors */
@function primaryBlue($o:1.0) {
  @return rgba(3, 108, 182, $o);
}

@function primaryTeal($o:1.0) {
  @return rgba(56, 147, 155, $o);
}

@function altGreen($o:1.0) {
  @return rgba(141, 198, 63, $o);
}

@function grey($o:1.0) {
  @return rgba(93, 94, 94, $o);
}

@function lightAqua($o:1.0) {
  @return rgba(102, 160, 163, $o);
}

@function lightPurple($o:1.0) {
  @return rgba(134, 142, 168, $o);
}

$primaryBlue: primaryBlue() !default;
$primaryTeal: primaryTeal() !default;
$primaryGray: #555a5a !default;

$altGray: #a1a1a1;

$altBlue: #0d66a1 !default;
$altPurple: #6b699e !default;

$altGreen: altGreen() !default;

$altOrange: #e98a41 !default;
$altRed: #852432 !default;

$searchDefaultBG: #d7e9eb !default;
$searchFocusBG: #67adb3 !default;

$searchMobileDefaultBG: #FFFFFF !default;

$OSMUpdateBlue: #056cb6 !default;
$OSMUpdateTeal: #38939b !default;
$OSMUpdatePurple: #cde2f1 !default;
$OSMUpdateLightOrange: #f9bf91 !default;
$OSMUpdateDarkOrange: #faa634 !default;
$OSMUpdateGray: #f1f1f2 !default;

$astralBlue: #38939b !default;
$sushiGreen: #8dc63f !default;
$kimberlyBlue: #6b699e !default;
$jaffaOrange: #e98a41 !default;
$lightGrey: #f1f2f2 !default;
$darkGrey: #5d5e5e !default;
$lightAqua: #66a0a3 !default;
$lightPurple: #868ea8 !default;

/* Fonts */
// Light, bold and oblique are all now a part of this family.
$reg: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica !default;

/* Media Queries */
$mobile: 320px !default;
$mobile-only: 767px !default;
$tablet: 768px !default;
$desktop: 800px !default;
$fullWidth: 1100px !default;
