$primaryBlue: #036cb6;
$primaryTeal: #38939b;
$primaryGray: #555a5a;
$altBlue: #0d66a1;
$altPurple: #6b699e;
$altGreen: #8dc63f;
$altOrange: #e98a41;
$altRed: #852432;

/* Media Queries */
$mobile: 320px;
$tablet: 768px;
$desktop: 940px;

/* Fonts */
$light: "Trade Gothic W01 Light", Helvetica Neue, Arial, Helvetica;
$reg: "Trade Gothic W01 Roman", Helvetica Neue, Arial, Helvetica;
$bold:"Trade Gothic W01 Bold", Helvetica Neue, Arial, Helvetica;