// Import custom variables from subtheme
@import "variables.scss";

// Import all styles from SMC Base Theme, using overwritten variables
@import "../../smc_base/scss/smc_base.scss";

body {
  background: $primaryBlue;
  color:$primaryBlue;
}
<<<<<<< HEAD

p {
    color:$primaryBlue;
}

ul li, ol li{
    color:$primaryBlue;
}

a:hover, a:focus{
    color:$primaryTeal;
}
.node-webform .form-submit{
    background:rgba(40,44,116, 0.8);
}

.universal-teaser.event, .read-more-wrapper a{
    background-color: rgba(40,44,116, 0.2)
=======
p{
  color:black;
>>>>>>> 8c73915c11cca8f9583a503fb755f6e55e61034e
}
/* LafCO Promo Boxes */
.promo-pane-default {
  background-color:#243d85;
}
.promo-pane-green {
  background-color: #42854a;
}
.promo-pane-purple {
  background-color: #682266;
}
.promo-pane-orange {
  background-color: #ee9f3b;
}




