// default variables
@import "vars.scss";

#breadcrumb {
  
  .breadcrumb {
    padding-bottom: 0;
  }
  
  a {
    @include button();
    @include buttonBlue;
    @include buttonSmall;
    
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 0.75em;
    padding: 0.5em 0.75em;
    
    
    &:hover {
      padding: 0.5em 0.75em;  
    }
  }
  span.breadcrumb-separator {
    margin-right: 5px;
  }
  
  span.breadcrumb-separator:after {
    content: '\25b6';
    font-size: 0.75em;
  }
}