// default variables
@import "vars.scss";

/**
  * This "editor" css file serves two purposes:
  * -- First, it is used (/css/elements/editor.css) in the WYSIWYG editor 
  * to provide default styling for BASIC HTML elements
  *
  * -- Second, it is ALSO included (/scss/elements/editor.scss) at the TOP of smc_base.scss 
  * to provide the same defaults at the beginning of CSS rules.
  *
  * The file is compiled into the CSS format which updates the WYSIWYG version, and 
  * the smc_base.scss should also be recompiled in order to apply changes to both locations
  */
 
 
body {
  color: $primaryGray;
} 

a {
	color: $primaryBlue;
}

h2 {
	color: $primaryTeal;
	font-family: 'Trade Gothic W01 Light';
	font-size: 2em;
	margin: 0;
	line-height: 1.2em;
	font-weight: 100;
}

h3 {
  color: $primaryTeal; 
  font-family: $light; 
  text-transform: uppercase; 
  margin-top: 0; 
  font-weight: 100;
}

h4 {
  color: $primaryBlue; 
  font-family: $reg; 
  line-height: 1.3em; 
  font-size: 1.25em;
}

h5 {
  color: $primaryBlue; 
  font-family: $bold;
}