
.follow-links {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 40px;
  
  a.follow-link {
    float: left;
    color: white; 
    height: 32px;
    width: 32px;
    font-size: 1.25em;
    padding: .5em; 
    border-radius: 3px; 
    display: inline-block; 
    line-height: 1em; 
    margin: 0 5% 5% 0;
    
    // hide the normal text since we are showing a custom icon instead
    .follow-link-text {
      display: none;
    }
  }
}

@media all and (min-width: $tablet) {
  
  .follow-links {
  
    a.follow-link {
      font-size: 1em; 
      padding: .5em; 
    }
  }
}