// default variables
@import "vars.scss";

.follow-links {
  font-size: 1em;
  line-height: 1em;
  
  a.follow-link {
    float: left;
    color: white; 
    height: auto;
    background-color: $primaryBlue; 
    background-image: none;
    font-size: 1.25em;
    padding: .5em; 
    border-radius: 3px; 
    display: inline-block; 
    line-height: 1em; 
    margin: 0 5% 5% 0;
    
    // hide the normal text since we are showing a custom icon instead
    .follow-link-text {
      display: none;
    }
  }
  
  a.follow-link-facebook {
    background-color: #3b5998;
  }
  a.follow-link-twitter {
    background-color: #55acee;
  } 
  a.follow-link-this-site {
    background-color:#fd9a27;
  }
  a.follow-link-flickr {
    background-color:#fc2482;
  }
  a.follow-link-vimeo {
    background-color:#2ebae9;
  }
  a.follow-link-youtube {
    background-color: #cc171e;
  }
}

@media all and (min-width: $tablet) {
  
  .follow-links {
  
    a.follow-link {
      font-size: 1em; 
      padding: .5em; 
    }
  }
}