// default variables
@import "vars.scss";

@font-face {
	font-family: "SanMateoIcon";
	src:url('../fonts/SanMateoIcon.eot');
	src:url('../fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SanMateoIcon.woff') format('woff'),
		url('../fonts/SanMateoIcon.ttf') format('truetype'),
		url('../fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: "SanMateoIcon";
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, 
.icon-menu, 
.icon-arrow-down, 
.icon-home, 
.icon-arrow-down-iso, 
.icon-close, 
.icon-subnav, 
.menu-button, 
.icon-eye, 
.icon-filter, 
.icon-info, 
.icon-link, 
.icon-phone, 
.icon-location, 
.icon-feed, 
.follow-link-facebook, 
.follow-link-twitter, 
.follow-link-flickr, 
.follow-link-vimeo, 
.follow-link-youtube, 
.follow-link-this-site,
.follow-link-pinterest, 
.follow-link-googleplus, 
.follow-link-linkedin, 
.follow-link-instagram  {
	font-family: "SanMateoIcon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.icon-mag-glass-02:before {content: "\e000";}
.icon-menu:before, .touch-button, .menu-button{content: "\e001";}
.icon-arrow-down:before {content: "\e002";}
.icon-home:before {content: "\e003";}
.icon-arrow-down-iso:before {content: "\e004";}
.icon-close:before {content: "\e005";}
.icon-subnav:before {content: "\e006";}
.icon-eye:before {
	content: "\e007";
	padding-right: 0.5em;
}
.icon-filter:before {content: "\e008";}
.icon-info:before {content: "\e009";}
.icon-link:before {content: "\e00a";}
.icon-phone:before {content: "\e00b";}
.icon-location:before {content: "\e00c";}

.follow-link-feed:before {
  content: "\e00d";
}
.follow-link-facebook:before {
	content: "\e00e";
}
.follow-link-twitter:before {
	content: "\e00f";
}
.follow-link-flickr:before {
	content: "\e010";
}
.follow-link-vimeo:before {
	content: "\e011";
}
.follow-link-youtube:before {
	content: "\e012";
}
.follow-link-this-site:before {
	content: "\e013";
}
.follow-link-pinterest:before {
	content: "\e014";
}
.follow-link-googleplus:before {
	content: "\e015";
}
.follow-link-linkedin:before {
	content: "\e016";
}
.follow-link-instagram:before {
	content: "\e017";
}