// default variables
@import "../vars.scss";

@font-face {
	font-family: "SanMateoIcon";
	src:url('../../fonts/SanMateoIcon.eot');
	src:url('../../fonts/SanMateoIcon.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/SanMateoIcon.woff') format('woff'),
		url('../../fonts/SanMateoIcon.ttf') format('truetype'),
		url('../../fonts/SanMateoIcon.svg#SanMateoIcon') format('svg');
	font-weight: normal;
	font-style: normal;
}
	
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: "SanMateoIcon";
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mag-glass-02, 
.icon-menu, 
.icon-arrow-down, 
.icon-home, 
.icon-arrow-down-iso, 
.icon-close, 
.icon-subnav, 
.menu-button, 
//.icon-eye, 
.icon-filter, 
.icon-info, 
.icon-link, 
.icon-phone, 
.icon-location, 
.icon-feed  {
	font-family: "SanMateoIcon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.icon-mag-glass-02:before {content: "\e000";}
.icon-menu:before, .touch-button, .menu-button{content: "\e001";}
.icon-arrow-down:before {content: "\e002";}
.icon-home:before {content: "\e003";}
.icon-arrow-down-iso:before {content: "\e004";}
.icon-close:before {content: "\e005";}
.icon-subnav:before {content: "\e006";}
.icon-eye:before {
	//content: "\e007";
	//padding-right: 0.5em;
}
.icon-filter:before {content: "\e008";}
.icon-info:before {content: "\e009";}
.icon-link:before {content: "\e00a";}
.icon-phone:before {content: "\e00b";}
.icon-location:before {content: "\e00c";}

a.follow-link-feed,
a.follow-link-facebook,
a.follow-link-twitter,
a.follow-link-flickr,
a.follow-link-vimeo,
a.follow-link-youtube,
a.follow-link-this-site,
a.follow-link-pinterest,
a.follow-link-googleplus,
a.follow-link-linkedin,
a.follow-link-instagram,
a.follow-link-tumblr {
  background-repeat: no-repeat;
  background-position: center center;
}

a.follow-link-feed {
  background-image: url('../images/share/rss_32.png');
}
a.follow-link-facebook {
	background-image: url('../images/share/facebook_32.png');
}
a.follow-link-twitter {
	background-image: url('../images/share/twitter_32.png');
}
a.follow-link-flickr {
	background-image: url('../images/share/flickr_32.png');
}
a.follow-link-vimeo {
	background-image: url('../images/share/vimeo_32.png');
}
a.follow-link-youtube {
	background-image: url('../images/share/youtube_32.png');
}
a.follow-link-this-site {
	background-image: url('../images/share/rss_32.png');
}
a.follow-link-pinterest {
	background-image: url('../images/share/pinterest_32.png');
}
a.follow-link-googleplus {
	background-image: url('../images/share/googleplus_32.png');
}
a.follow-link-linkedin {
	background-image: url('../images/share/linkedin_32.png');
}
a.follow-link-instagram {
	background-image: url('../images/share/instagram_32.png');
}
a.follow-link-tumblr {
	background-image: url('../images/share/tumblr_32.png');
}