// default variables
@import "vars.scss";

/**
  * This layout.scss file handles completely overwriting the layout CSS provided by panels. 
  * The panels layout css (which essentially is the desktop version) must be reset so that
  * we can have a mobile layout first, then adjust the layouts accordingly based on the 
  * screen resolution. 
  */


// Global Defaults
#main-wrapper {
  padding: 0 1em 3em 1em;
}

@media all and (min-width: $tablet) {
  #main-wrapper, 
  header .inner {
  	max-width: 1120px;
  	margin: auto;
  }  
}

@media all and (min-width: $desktop) {

}

// One Column Layout
// This is simple as it apples in ALL responsive formats
#main-wrapper .sm-one-column .panel-col-top,
#main-wrapper .sm-one-column .panel-col-nav,
#main-wrapper .sm-one-column .panel-col-middle,
#main-wrapper .sm-one-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

// Two Column Layout
#main-wrapper .sm-two-column .panel-col-top,
#main-wrapper .sm-two-column .panel-col-first,
#main-wrapper .sm-two-column .panel-col-nav,
#main-wrapper .sm-two-column .panel-col-middle,
#main-wrapper .sm-two-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
}

// Two Column Layout
#main-wrapper .sm-two-column-fifty-fifty .panel-col-top,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-nav,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-first,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-middle,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
}

@media all and (min-width: $tablet) {
  #main-wrapper .sm-two-column .panel-col-first { 
    float: left; 
    clear: none;
    width: 25%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 72.5%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-first { 
    float: left; 
    clear: none;
    width: 47.5%; 
    padding: 0;
    margin: 0;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-middle { 
    float: left; 
    clear: none;
    width: 47.5%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
}

@media all and (min-width: $desktop) {
  #main-wrapper .sm-two-column .panel-col-first { 
    float: left; 
    clear: none;
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 77.5%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
}

// Two Column Layout (Alternate)
#main-wrapper .sm-two-column-alt .panel-col-top,
#main-wrapper .sm-two-column-alt .panel-col-first,
#main-wrapper .sm-two-column-alt .panel-col-middle,
#main-wrapper .sm-two-column-alt .panel-col-lower-left,
#main-wrapper .sm-two-column-alt .panel-col-lower-right,
#main-wrapper .sm-two-column-alt .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
}

@media all and (min-width: $tablet) {
  #main-wrapper .sm-two-column-alt .panel-col-top,
  #main-wrapper .sm-two-column-alt .panel-col-bottom {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-first { 
    float: none; 
    clear: none;
    width: 100%; 
    padding: 0;
    margin: 0;
    margin-right: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-middle { 
    float: left;
    clear: none; 
    width: 100%;
    padding: 0;
    margin: 0;
    
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-left {
    float: left;
    clear: none;
    width: 65%;
    padding: 0;
    margin: 0;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-right {
    float: left; 
    clear: none;
    width: 32.5%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
  }
}

@media all and (min-width: $desktop) {
  #main-wrapper .sm-two-column-alt .panel-col-top,
  #main-wrapper .sm-two-column-alt .panel-col-bottom {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-first { 
    float: left; 
    clear: none;
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-middle { 
    float: left;
    clear: none; 
    width: 77.5%; 
    padding: 0;
    margin: 0;
    
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-left {
    float: left;
    clear: none;
    width: 65%;
    padding: 0;
    margin: 0;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-right {
    float: left; 
    clear: none;
    width: 32.5%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
  }
}


// Three Column Layout
#main-wrapper .sm-three-column {
  margin-bottom: 5%;
}

#main-wrapper .sm-three-column .panel-col-top,
#main-wrapper .sm-three-column .panel-col-first,
#main-wrapper .sm-three-column .panel-col-middle,
#main-wrapper .sm-three-column .panel-col-last,
#main-wrapper .sm-three-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
}

@media all and (min-width: $tablet) {
  
  #main-wrapper .sm-three-column .panel-col-first { 
    float: none; 
    width: 100%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-three-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 70%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
    padding: 0 1em;
  }
  
  #main-wrapper .sm-three-column .panel-col-last { 
    float: left; 
    clear: none;
    width: 27%; 
    padding: 0;
    margin: 0;
    margin-left: 3%;
    padding-right: 1em;
    margin-bottom: 3%;
  }
}

@media all and (min-width: $desktop) {
  
  #main-wrapper .sm-three-column .panel-col-first { 
    float: left; 
    clear: none;
    width: 17%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
  }
  
  #main-wrapper .sm-three-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 58%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
    padding: 0 1em;
  }
  
  #main-wrapper .sm-three-column .panel-col-last { 
    float: left;
    clear: none; 
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
  }
}



// navigation region toggle
#main-wrapper #responsive-navigation {
  display: none;
}

#main-wrapper #navigation-toggle {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  
  a {
    
    display: inline-block;
  	padding: .75em .5em;
  	font-size: .7em;
  	text-align: center;
  	background-color: rgba($primaryBlue, .1);
  	border-radius: 3px;
    
    &:before {
      padding-right: 1em;
      content: "\e006";
    }
    
    &:hover {
      
    }
  }
}

@media all and (min-width: $tablet) {
  
  #main-wrapper #responsive-navigation {
    display: block !important;
  }
  
  #main-wrapper #navigation-toggle {
    display: none;
  }
}

// IE8 (and lower) specific layout adjustments
.lte8 {
  #main-wrapper .sm-two-column .panel-col-first { 
    float: left; 
    clear: none;
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 77.5%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  #main-wrapper .sm-two-column-alt .panel-col-top,
  #main-wrapper .sm-two-column-alt .panel-col-bottom {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-first { 
    float: left; 
    clear: none;
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-middle { 
    float: left;
    clear: none; 
    width: 77.5%; 
    padding: 0;
    margin: 0;
    
    margin-bottom: 3%;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-left {
    float: left;
    clear: none;
    width: 65%;
    padding: 0;
    margin: 0;
  }
  
  #main-wrapper .sm-two-column-alt .panel-col-lower-right {
    float: left; 
    clear: none;
    width: 32.5%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
  }
  #main-wrapper .sm-three-column .panel-col-first { 
    float: left; 
    clear: none;
    width: 17%; 
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
  }
  
  #main-wrapper .sm-three-column .panel-col-middle { 
    float: left; 
    clear: none;
    width: 58%; 
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
    padding: 0 1em;
  }
  
  #main-wrapper .sm-three-column .panel-col-last { 
    float: left;
    clear: none; 
    width: 20%; 
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
  }
}