
// All default/mobile styles will appear before the following media queries.
.primary {
  color: navy;
}

.home {
  display: none;
}

.main nav li ul {
	//display: none;
}

@media only screen and (max-width: $mobile-only) {
  
	@import "../flexnav.scss";
	
	.flexnav {
	  z-index: 999;
	}
  
  .menu-button {
    top: 10px;
    right: 10px;
    height: 48px;
    width: 48px;
  }
  
  body.toolbar .menu-button {
      top: 2em;
  }
  
  body.toolbar-drawer .menu-button {

  }
  
	.flexnav, .flexnav ul {
  	padding: 0;
  	font-size: 1em;
	}
	.flexnav {
  	display: none;
	}
	.flexnav.show {
	  display: block;
  	padding-top: 120px;
  	max-height: 100%;
  	overflow-y: auto;
	}
	
}

@media all and (min-width: $tablet) {
  
  .menu-button, .touch-button {
    display: none;
  }
  
  .icon-menu {
    display: none;
  }

  .home {
    display: block;
  }
  
  .flexnav {
    padding-top: 0 !important;
  }
  
  .primary {
  	border-radius: 3px;
  	width: 100%;
  	background-color: rgba($primaryTeal, .05);

	
    ul {
		  margin: 0;
  	  padding: 0;
  	  font-size: 1em;
		  color: $primaryBlue;
		}
				
		.home a:before {
			content: "\e003";
			font-family: 'SanMateoIcon';
			text-indent: 0 !important;
			color: $primaryBlue;
			
			
		}
		.home a:hover {
			
			&:before {
  		  color: #FFF;	
			}
			
		}
		li {
			float: left;
			list-style-type: none;
			position: relative;
      
      
      
  		a {
  			font-family: 'Trade Gothic W01 Roman', Helvetica Neue, Arial, Helvetica, sans-serif; 
  			font-size: 1em;
  			padding: 0.5em .9em;
  			display: block;
  			-webkit-transition: all 0.3s;
  			-moz-transition: all 0.3s;
  			transition: all 0.3s;
			}
			
  		a:hover,
  		&:hover > a,
  		&.active-trail > a,
  		&:focus,
  		&:focus > a {
  			background-color: rgba($primaryTeal, 1);
  			color: white;
  			border-radius: 3px;
  		}
		
  		&.expanded > a:after {
  			content: "\e004";
  			font-family: 'SanMateoIcon';
  			font-size: .5em;
  			padding-left: 5px;
  			color: rgba($primaryTeal, .3);
  		}
  		
  		&.expanded > a:hover,
  		&.expanded:hover > a {
  			border-bottom-left-radius: 0px;
  			border-bottom-right-radius: 0px;
  		}
  		
  		&.expanded > a:hover:after,
  		&.expanded:hover > a:after,
  		&.active-trail > a:after {
  			color: rgba(#fff, .5);
  		}
		
      ul {
			  position: absolute;
		    top: 2.5em;
		    font-size: 1em;
		    width: 300%;
        max-width: 300px;
		    opacity: 0;
		    background: rgba($primaryTeal, .975);
		    margin: 0;
    	  padding: 0;
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
		 
		    -webkit-transition: opacity .25s ease .1s;
		    -moz-transition: opacity .25s ease .1s;
		    -o-transition: opacity .25s ease .1s;
		    -ms-transition: opacity .25s ease .1s;
		    transition: opacity .25s ease .1s;
		    		    
		    li {
			    height: 0;
			    overflow: hidden;
			    padding: 0;
			    width: 100%;
			    display: inline-table;
			    -webkit-transition: height .25s ease .1s;
			    -moz-transition: height .25s ease .1s;
			    -o-transition: height .25s ease .1s;
			    -ms-transition: height .25s ease .1s;
			    transition: height .25s ease .1s;
			    
			    a {
  			    color: white;
  			    display: block;
  			    border-radius: 0;
  			    padding: .5em 1em;
  			    width: 100%;
  				}
  			}
			
  			li:last-child > a, li:last-child > a:hover {
  				border-bottom-left-radius: 3px;
  				border-bottom-right-radius: 3px;
  			}
  		}
    }
	
    ul {
      margin-bottom: 0;
    }
  }
	.primary li:hover > ul,
	.primary li a:focus + ul {
		opacity: 1;
		z-index: 1000;
	}
		
	.primary li:hover > ul li,
	.primary li a:focus + ul li {
		height: 36px;
		overflow: visible;
		padding: 0;
	}

  .sub {
  	background-color: white;
  	border: 1px solid rgba($primaryBlue, .05);
  	border-radius: 3px;
  	font-family: $reg;
  	font-size: .85em;
  	border-top: 5px solid rgba($primaryBlue, .05);
  	
  	ul {
  	  margin: 0;
  	  padding: 0;
  	  font-size: 1em;
      
      li {
        margin: 0; 
        padding: 0; 
        list-style-type: none;
  		
        a {
          display: block; 
          padding: .75em .75em; 
          border-bottom: 1px solid rgba($primaryBlue, .2);	
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s; 
          transition: all 0.3s;
  			}
        a:hover {
          background-color: rgba($primaryBlue,.8); 
          color: white;
        }
  		}
  		.active {
  		  font-family: $bold;
  		  font-weight: normal;
  			a {
  			  background-color: white; 
  			  color: $primaryBlue;
  			 }
  			
  			 ul li {
           a {
             background-color: rgba($primaryTeal, .1); 
             color: $primaryTeal; 
             font-family: $reg; 
             border-color: rgba($primaryTeal,.2)
           }
           a:hover {
             background-color: rgba($primaryTeal, .2);
            }
  				}
  			}	
  		}
  	}
}

@media all and (min-width: $desktop) {

}

.lte8 {
  .menu-button, .touch-button {
    display: none;
  }
  
  .icon-menu {
    display: none;
  }

  .home {
    display: block;
  }
  
  .flexnav {
    padding-top: 0 !important;
  }
  
  .primary {
  	border-radius: 3px;
  	width: 100%;
  	background-color: rgba($primaryTeal, .05);

	
    ul {
		  margin: 0;
  	  padding: 0;
  	  font-size: 1em;
		  color: $primaryBlue;
		}
				
		.home a:before {
			content: "\e003";
			font-family: 'SanMateoIcon';
			text-indent: 0 !important;
			color: $primaryBlue;
			
			
		}
		.home a:hover {
			
			&:before {
  		  color: #FFF;	
			}
			
		}
		li {
			float: left;
			list-style-type: none;
			position: relative;
      
      
      
  		a {
  			font-family: 'Trade Gothic W01 Roman', Helvetica Neue, Arial, Helvetica, sans-serif; 
  			font-size: 1em;
  			padding: 0.5em .9em;
  			display: block;
  			-webkit-transition: all 0.3s;
  			-moz-transition: all 0.3s;
  			transition: all 0.3s;
			}
			
  		a:hover,
  		&:hover > a,
  		&.active-trail > a {
  			background-color: rgba($primaryTeal, 1);
  			color: white;
  			border-radius: 3px;
  		}
		
  		&.expanded > a:after {
  			content: "\e004";
  			font-family: 'SanMateoIcon';
  			font-size: .5em;
  			padding-left: 5px;
  			color: rgba($primaryTeal, .3);
  		}
  		
  		&.expanded > a:hover,
  		&.expanded:hover > a {
  			border-bottom-left-radius: 0px;
  			border-bottom-right-radius: 0px;
  		}
  		
  		&.expanded > a:hover:after,
  		&.expanded:hover > a:after,
  		&.active-trail > a:after {
  			color: rgba(#fff, .5);
  		}
		
      ul {
			  position: absolute;
		    top: 2.5em;
		    font-size: 1em;
		    width: 300%;
        max-width: 300px;
		    opacity: 0;
		    background: $primaryTeal;
		    background: rgba($primaryTeal, .975);
		    margin: 0;
    	  padding: 0;
		    -webkit-border-radius: 0 0 5px 5px;
		    -moz-border-radius: 0 0 5px 5px;
		    border-radius: 0 0 5px 5px;
		 
		    -webkit-transition: opacity .25s ease .1s;
		    -moz-transition: opacity .25s ease .1s;
		    -o-transition: opacity .25s ease .1s;
		    -ms-transition: opacity .25s ease .1s;
		    transition: opacity .25s ease .1s;
		    		    
		    li {
			    height: 0;
			    overflow: hidden;
			    padding: 0;
			    width: 100%;
			    display: inline-table;
			    -webkit-transition: height .25s ease .1s;
			    -moz-transition: height .25s ease .1s;
			    -o-transition: height .25s ease .1s;
			    -ms-transition: height .25s ease .1s;
			    transition: height .25s ease .1s;
			    
			    a {
  			    color: white;
  			    display: block;
  			    border-radius: 0;
  			    padding: .5em 1em;
  			    width: 100%;
  				}
  			}
			
  			li:last-child > a, li:last-child > a:hover {
  				border-bottom-left-radius: 3px;
  				border-bottom-right-radius: 3px;
  			}
  		}
    }
	
    ul {
      margin-bottom: 0;
    }
  }
	.primary li:hover > ul {
		opacity: 1;
		z-index: 1000;
	}
		
	.primary li:hover > ul li {
		height: 36px;
		overflow: visible;
		padding: 0;
	}

  .sub {
  	background-color: white;
  	border: 1px solid rgba($primaryBlue, .05);
  	border-radius: 3px;
  	font-family: $reg;
  	font-size: .85em;
  	border-top: 5px solid rgba($primaryBlue, .05);
  	
  	ul {
  	  margin: 0;
  	  padding: 0;
  	  font-size: 1em;
      
      li {
        margin: 0; 
        padding: 0; 
        list-style-type: none;
  		
        a {
          display: block; 
          padding: .75em .75em; 
          border-bottom: 1px solid rgba($primaryBlue, .2);	
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s; 
          transition: all 0.3s;
  			}
        a:hover {
          background-color: rgba($primaryBlue,.8); 
          color: white;
        }
  		}
  		.active {
  		  font-family: $bold;
        font-weight: normal;
  			a {
  			  background-color: white; 
  			  color: $primaryBlue;
  			 }
  			
  			 ul li {
           a {
             background-color: rgba($primaryTeal, .1); 
             color: $primaryTeal; 
             font-family: $reg; 
             border-color: rgba($primaryTeal,.2)
           }
           a:hover {
             background-color: rgba($primaryTeal, .2);
            }
  				}
  			}	
  		}
  	}
}
