

.node-type-location {
  .field-name-field-address {
    #map_canvas {
      margin-top: 1.6em;
    }
  }
}
body.page-node .node .action-links-field-collection-add {
  display: none;
}
.sharethis-buttons {
  margin-bottom: 20px;
}

.field-name-field-profile-organization {
  line-height: 1.6;
}

.page-node .node .field-name-field-thumbnail-image {
  float: left;
  clear: none;
  margin-right: 40px;
  max-width: 40%;
  
  img {
    max-width: 100%;
    height: auto;
  }
}
.page-node .node .field-name-body {
  margin-top: 10px;
}

.page-node div.panel-pane .node-profile {
  margin-bottom: 40px;
  
  .field {
    margin-bottom: 20px;
    
    div.field-label {
      color: $primaryBlue; 
      font-family: $bold;
      font-weight: normal;
      font-size: 1.125em;
      line-height: 1.4;
      margin-bottom: 0.5em;
      margin-top: 0.2em;  
      display: block;
    }
  }
}
.page-node div.panel-pane .node {
  .field {
    margin-bottom: 20px;
  }
  div.field-label {
    color: $primaryBlue; 
    font-family: $bold;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.4;
    margin-bottom: 0.5em;
    margin-top: 0.2em;  
    display: block;
  }
}
.field-collection-container {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.page-node div.panel-pane .node .field-name-field-location-address {
  
  
  div.field-label,
  ul.field-collection-view-links,
  ul.action-links {
    display: none;
  }
  
  .field-collection-view,
  .views-row,
  header {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .field {
    margin-bottom: 0;
  }
  .views-row header {
    span.field-content {
      color: $primaryBlue; 
      font-family: $bold;
      font-weight: normal;
      font-size: 1.125em;
      line-height: 1.4;
      margin-bottom: 0.5em;
      margin-top: 0.2em;  
      display: block;
      
      a {
        color: $primaryBlue;   
      }
    }
  }
  .field-name-field-address {
    line-height: 1.4;
  }
}

.field-type-file {
  
  .file {
  
    a {
      width: 100%;
			float: left; 
			border-top: 1px solid rgba($primaryGray, .1);
			padding: .5em 0;
			display: block;
    }
    
    .file-type {
			color: $primaryGray; 
			width: 10%; 
			background-color: rgba($primaryGray, .05); 
			font-size: .5em; 
			padding: .5em; 
			border-radius: 3px;
			text-align: center;
			display: 	inline-block;
			text-transform: uppercase;
		}
		
		//.upload-name {width: 60%; padding-left: .5em}
		.file-size {
			color: $primaryGray; 
			width: 20%; 
			font-size: .5em; 
			float: right;
			padding: .5em; 
			border-radius: 3px;
			text-align: right;
		}
		
		.file-name {
  		padding-left: .5em;
		}
	}
	.field-items {
  	border-bottom: 1px solid rgba($primaryGray, .1);
  	margin-bottom: 20px;
  	
  	&:after {
    	clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden;
  	}
  	.field-item, .file {
      &:after {
      	clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    	}	
  	}
	}
}


@media all and (min-width: $tablet) {
  .field-type-file {
    .file {
      .file-type, .file-size {
        font-size: 0.75em;
      }
    }
  }
}

@media all and (min-width: $desktop) {
  .node-type-location {
    .field-name-field-address {
      #map_canvas {
        float: right;
        margin-top: 0;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}