.pane-opensanmateo-search-panel-pane-4 {
  .views-field-search-api-multi-aggregation-9-1 {
    font-weight: bold;
    font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
  }
  .read-more-wrapper {
    border-top-style: dashed;
    line-height: normal;
    border-top-width: 1px;
  }
  .views-field-search-api-multi-aggregation-1 {
      font-size: 10px;
  }
  a {
    font-size: 17px;
  }
}

.universal-teaser.event {
  .read-more-wrapper {
    a {
      background-color: inherit;
    }
  }
}
