.pane-opensanmateo-search-panel-pane-4 {
  header {
    position: relative;
    padding-bottom: 25px;
  }

  .event-more-info {
    display: none;
    .event-page, .event-add-calendar {
      padding: 10px;
      margin: 0 10px 10px;
      background-color: #136DB5;
      text-align: center;

      a {
        color: white;
        font-weight: bold;
        font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
      }
    }
  }
  .event-hide-more-info {
    background-color: #EEEEF7;
    font-weight: bold;
    font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
    padding: 10px;
    text-align: center;
  }

  h4, .node-location {
    margin-left: 15px;
    margin-right: 15px;
  }

  .universal-teaser.event {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .universal-teaser {
    padding: 0;
  }

  .views-field-search-api-multi-aggregation-9-1 {
    /*font-weight: bold;
    font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica; */
    background-color: #F5F5F5;
    padding: 10px 0px;

    .time {
      margin-right: 5px;
      color: #036cb6;
      padding-bottom: inherit;
      line-height: inherit;
    }
  }

  .aggregated-node-thumbnail  {
    display: block;
    clear: both;
    width: 100%;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .read-more-wrapper {
    line-height: normal;
    border-top-width: 1px;
    background-color: #EEEEF7;

    a:after {
      background-color: inherit;
      content: none;
    }
  }
  .views-field-search-api-multi-aggregation-1 {
      font-size: 10px;
  }
  a {
    font-size: 13px;
  }
}

.universal-teaser.event {
  .read-more-wrapper {
    a {
      background-color: inherit;
    }
  }
}

.view-opensanmateo-search {
  .views-row {
    width: 70%;
  }
  .left-col {
    width: 10%;
    float: left;
    .time {
      color: #036cb6;
    }
  }
  .right-col {
    width: 85%;
    float: left;
    margin-left: 15px;
    header {
      width: 84%;
      float: left;
    }
    .aggregated-node-thumbnail {
      float: right;
      margin-top: 0px;
    }
    .node-location {
      float: left;
      width: 45%;
      h5 {
        float: left;
        margin-right: 10px;
        min-height: 90px;
      }
      ul {
        margin-top: 4px;
      }
    }
    .node-date {
      float: left;
      margin-left: 15px;
      width: 35%;
      .start, .end {
        clear: both;
        overflow: hidden;
        display: block;
      }
      h5  {
        float: left;
        display: block;
      }
      span {
        float: left;
        margin-left: 5px;

        .wrapper {
          line-height: 30px;
        }
      }
      .event-more-info {
        display: none;
        clear: both;
        .event-page, .event-add-calendar {
          padding: 10px;
          margin: 0 10px 10px;
          background-color: #136DB5;
          text-align: center;

          a {
            color: white;
            font-weight: bold;
            font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
          }
        }
      }
    }
  }
}
