// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

.pager-container {
  width: auto;
  margin: 0 auto;
  
  ul.pagination {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  ul.pagination li {
    float: left;
    margin-left: 0px;
    border-top: 1px solid $primaryBlue;
    border-right: 1px solid $primaryBlue;
    border-bottom: 1px solid $primaryBlue;
    list-style-type: none;  
  }
  ul.pagination li:first-child {
    border-left: 1px solid $primaryBlue;
  }
  
  ul.pagination li a {
  	background-color: rgba($primaryBlue, .9);
  	display: inline-block;
  	color: white;
  	padding: .5em 1em;
  	
  	&:hover {
      background-color: $primaryBlue;	
  	}
  }
  
  ul.pagination li span {
    color: #BBBBBB;
    background-color: #EEEEEE;
    padding: .5em 1em;
    display: inline-block;
  }
  
  ul.pagination li.pager-info span {
    color: $primaryBlue;
    background-color: white;
  }
  
  ul.pagination li:last-child, 
  ul.pagination li:last-child a,
  ul.pagination li:last-child span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
  
  ul.pagination li:first-child, 
  ul.pagination li:first-child a,
  ul.pagination li:first-child span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
}


@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {
  // make pagers in sidebar smaller
  .sidebar {
    
    .pager-container {
      font-size: 0.65em;
      
      ul.pagination li a,
      ul.pagination li span {
        padding: .25em .5em;
      }
    }
  }
}
