// default variables 
@import "../vars.scss";
@import "buttons.scss";

.pane-bundle-promo-panels-pane {
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  background-color:#38939b;
	border-radius: 3px;

  h2.pane-title {
    padding: .5em;
		margin-bottom: 0;
    color: #FFFFFF;
    font-size: 1.25em;
    line-height: 1.3em;

    a {
      color: #FFFFFF;

      &:hover {
        color: #EEEEEE;
      }
    }
  }

  .field-name-field-rotator-image {
    margin-bottom: 2%;
    text-align: center;
  }

  .field-name-field-rotator-caption {
    color: #FFFFFF;
		padding: 0 1em .5em;
		font-size: .85em;
		line-height: 1.6em;
		font-weight: bold;
    padding-left: 0.75em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility;

    a {
      color: #FFFFFF;

      &:hover {
        color: #EEEEEE;
      }
    }
  }

  .field-name-field-rotator-link-url {

    a {
      width: 100%;
    	background-color: rgba(255,255,255,.3);
    	display: block;
    	padding: 1em 0;
    	margin-bottom: 0;
    	color: white;
    	font-weight: 700;
    	text-transform: uppercase;
    	text-align: center;
    }

    a:hover {
    	background-color: rgba(255,255,255,.2);
    	color: white;
    }

    a:after {
      content: ' \00BB';
    }
  }
}

.promo-pane-default {
  background-color: $astralBlue;
}
.promo-pane-green {
  background-color: $sushiGreen;
}
.promo-pane-purple {
  background-color: $kimberlyBlue;
}
.promo-pane-orange {
  background-color: $jaffaOrange;
}
.promo-pane-grey {
  background-color: $lightGrey;
  & h2.pane-title, & .field-name-field-rotator-caption {
    color: $darkGrey;
  }
  & .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: grey(0.6);
  }
  & .field-name-field-rotator-link-url a:hover {
    background-color: grey(1);
  }
}
.promo-pane-lightaqua {
  background-color: $lightGrey;
  & h2.pane-title, & .field-name-field-rotator-caption  {
    color: $lightAqua;
  }
  & .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: lightAqua(0.8);
  }
  & .field-name-field-rotator-link-url a:hover {
    background-color: lightAqua(1);
  }
}
.promo-pane-lightpurple {
  background-color: $lightGrey;
  & h2.pane-title, & .field-name-field-rotator-caption  {
    color: $lightPurple;
  }
  & .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: lightPurple(0.8);
  }
  & .field-name-field-rotator-link-url a:hover {
    background-color:  lightPurple(1);
  }
}

@media all and (min-width: $tablet) {
  // in our larger versions we'll make promo boxes in the top/bottom panels regions look like the highlighted box

  .panel-col-top,
  .panel-col-bottom {

    .pane-bundle-promo-panels-pane {
      padding-right: 40%;
      padding-left: 3em;
      padding-top: 1em;
      padding-bottom: 2em;


      h2.pane-title  {
        font-size: 1.6875em;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0;
      }


      .field-name-field-rotator-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
        height: 100%;
        margin-bottom: 0;
        max-width: 40%;

        .field-items,
        .field-item {
          max-height: 100%;
          height: 100%;
          width: auto;
        }
        img {
          max-height: 100%;
          max-width: 100%;
          //height: 100%;
          width: auto;
          height: auto;

          border-left: 10px solid rgba(255, 255, 255, 0.3);
          border-right: 10px solid rgba(255, 255, 255, 0.3);

        }
      }
      .field-name-field-rotator-caption {
        font-size: 1.5em;
        line-height: 1.6em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }

      .field-name-field-rotator-link-url {
        // must reset, then mixin for buttons

        a,
        a:hover {
          width: auto;
        	background: none;
        	background-color: none;
        	display: inline-block;
        	padding: inherit;
        	margin-bottom: 0;
        	color: white;
        	font-weight: 700;
        	text-transform: uppercase;
        	text-align: left;
        	//font-size: 1em;
        	//line-height: 1;
        }

        a:after {
          content: '';
        }

        a {
          @include button;

          @include buttonArrow;

          @include buttonGreen;

          @include buttonLarge;

          margin-bottom: 0;
        }
      }
    }
    .promo-pane-green {
      .field-name-field-rotator-link-url {

        a {
          //@include button;

          //@include buttonArrow;

          @include buttonTeal;
        }

      }
    }
    .promo-pane-orange {
      .field-name-field-rotator-link-url {

        a {
          //@include button;

          //@include buttonArrow;

          @include buttonBlue;
        }

      }
    }
  }
}

@media all and (min-width: $desktop) {

}

.lte8 {
  .panel-col-top,
  .panel-col-bottom {

    .pane-bundle-promo-panels-pane {
      padding-right: 40%;
      padding-left: 3em;
      padding-top: 1em;
      padding-bottom: 2em;


      h2.pane-title  {
        font-weight: 700;
        font-size: 1.6875em;
        font-weight: 100;
        padding-left: 0;
        padding-right: 0;
      }


      .field-name-field-rotator-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
        height: 100%;
        margin-bottom: 0;
        max-width: 40%;

        .field-items,
        .field-item {
          max-height: 100%;
          height: 100%;
          width: auto;
        }
        img {
          max-height: 100%;
          max-width: 100%;
          //height: 100%;
          width: auto;
          height: auto;

          border-left: 10px solid rgba(255, 255, 255, 0.3);
          border-right: 10px solid rgba(255, 255, 255, 0.3);

        }
      }
      .field-name-field-rotator-caption {
        font-size: 1.5em;
        line-height: 1.6em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }

      .field-name-field-rotator-link-url {
        // must reset, then mixin for buttons

        a,
        a:hover {
          width: auto;
        	background: none;
        	background-color: none;
        	display: inline-block;
        	padding: inherit;
        	margin-bottom: 0;
        	color: white;
        	font-weight: 700;
        	text-transform: uppercase;
        	text-align: left;
        	//font-size: 1em;
        	//line-height: 1;
        }

        a:after {
          content: '';
        }

        a {
          @include button;

          @include buttonArrow;

          @include buttonGreen;

          @include buttonLarge;

          margin-bottom: 0;
        }
      }
    }
    .promo-pane-green {
      .field-name-field-rotator-link-url {

        a {
          //@include button;

          //@include buttonArrow;

          @include buttonTeal;
        }

      }
    }
    .promo-pane-orange {
      .field-name-field-rotator-link-url {

        a {
          //@include button;

          //@include buttonArrow;

          @include buttonBlue;
        }

      }
    }
  }
}
