// resets for flexslider
.flexslider {
  box-shadow: none;
  border-bottom: 0;
  
  .field-items .field-item {
    margin-bottom: 0;
  }
  ul.field-collection-view-links {
    display: none;
  }
  .flex-control-thumbs {
    //position: relative;
  }
  .field-name-field-rotator-description {
    // this seems to be empty anyway
    //display: none;
  }
}

.pane-bundle-rotator-panels-pane {
	
	width: 100%;
	background-image: -webkit-linear-gradient(rgba(3, 108, 182, .05) 0%, rgba(3, 108, 182, .0) 50%,rgba(3, 108, 182, .025) 100%);
	background-image: -moz-linear-gradient(rgba(3, 108, 182, .05) 0%, rgba(3, 108, 182, .0) 50%,rgba(3, 108, 182, .025) 100%);
	padding: 1em;
	margin: 0 auto 5%;
	border-radius: 3px;
	background-color: transparent;
	
	.field-collection-container {
  	margin-bottom: 0;
	}
	
	.field-collection-view {
  	position: relative;
  	
  	.content {
    	display: block;
  	}
	}
	
	.field-collection-view > a.rotator-wrap-link {
  	position: relative;
  	display: block;
  	height: 100%;
  	width: 100%;
	}
	.rs-arrows {z-index: 10;}
	
	.rs-arrows a:after, .flex-control-thumbs a:after, .rs-slider li a:after {
		content: none;
		}

	.rs-arrows a {
		background-color: rgba(0,0,0, .8);
		}
		
	.rs-arrows a:hover {
		background-color: rgba(0,0,0, 1.0);
		}

	.flex-caption {
		background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%) !important;
		background-color: rgba($primaryGray, .7) !important;
		padding: 1em 1em 1em;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100% !important;
		font-size: inherit !important;
		
		h3 {
			text-transform: none;
			font-size: 2.5em;
	    line-height: 1.1em;
	    font-weight: normal;
	    margin-bottom: 1%;
	    color: white;
	    text-shadow: none;
	    
		}
			
		p {
    		color: #EEEEEE;
        font-size: 1.3em;
        line-height: 1.3em;
        text-shadow: none;
        
      &:last-child {
        margin-bottom: 0;
      }
		}
	}

.rs-slider > li img {width: 100%;}

.flex-control-thumbs {
  margin-top: 10px !important;
  padding: 0 0.5em;
}

.flex-control-thumbs li {
  border: 5px solid #eee;
  width: 22.75%; 
  margin-left: 3%;
  
  &:first-child {
    margin-left: 0;
  }
}

.flex-control-thumbs li.active-item {
  border: 5px solid rgba(3, 108, 182,.2);
}

.flex-control-thumbs li:hover {
  border: 5px solid rgba(3, 108, 182,1);
}

.rs-caption.rs-bottom > p {
    
	}

.rs-caption.rs-bottom > a {color: white;}
	


.rs-prev {
	left: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	}

.rs-next {
	right: 0;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	}

}