// default variables
@import "../vars.scss";
@import "buttons.scss";

.region-header {
  position: relative;
  background: #fff;
  @include clearfix;
}

#block-opensanmateo-search-header-search #opensanmateo-search-header-search-form input[type=text]::-webkit-input-placeholder {
  color: white;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

#block-opensanmateo-search-header-search {
  display: block !important;
  padding: .5em 0 .3em;
  position: relative;
  border-radius: 3px;
  margin: 0 auto 0;

  #opensanmateo-search-header-search-form {
    margin: 0;
    padding: 0;
    float: left;
    width: 88%;

    .form-item {
      margin: 0;
      padding: 0;
    }

    .form-submit {
      display: none;
    }

    input[type=text] {
      border: none;
      box-shadow: none;
      color: white;
      background: $OSMUpdateLightOrange;
      font-size: 1.85em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 3px;
      font-family: $reg;
      font-weight: 600;
      margin: 0;
      height: 41px;
      text-transform: uppercase;
      padding: 0 15px;

      &:focus {
        box-shadow: none;
        background: $OSMUpdateLightOrange;
        color: white;
        font-weight: 500;

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          font-family: $reg;
          color: white;
          font-weight: 500;
          font-size: 1.85em;
        }
      }

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        font-family: $reg;
        color: white;
        font-weight: 500;
        font-size: 1.85em;
      }
    }
  }

  .search-button {
    width: 11%;
    height: 42px;
    float: right;
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
    text-align: center;
    margin-right: 0;
    background-color: $OSMUpdateDarkOrange;
    background-image: url("../images/search-icon.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;

    &:after {
      content: none;
    }
  }

  .search-button:after {
    content: none;
  }
}

/* translate */
#block-google-translator-active-languages {
  display: block !important;
  border-radius: 1px;
  background-color: transparent;
  padding: 0;
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 700;
  z-index: 10;
  float: left;

  .google-translator-switch {
    color: white;
    text-transform: capitalize;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: $OSMUpdateTeal;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
  }

  /* End translate */
}

// search form(s)
.view-opensanmateo-search {
  .view-filters {
    
    #edit-field-event-date-value-wrapper {
      clear: left;
    }
    #edit-field-event-date-value-wrapper,
    #edit-field-event-date-value2-wrapper {
      padding: 0;
    }
    .container-inline-date {
      label,
      div.description {
        display: none;
      }
      
    }
    .views-submit-button {
      padding: 0;
    }
    .form-submit {
      @include button();
      @include buttonBlue;
      @include buttonSmall;
      
      border: 0;
      font-size: .75em;
      margin-top: 1.25em;
    }
  }
}

@media all and (min-width: $tablet) {
  /* Header Search */
  #block-opensanmateo-search-header-search {
    border-radius: 3px;
    margin: 0 auto 0;
    position: absolute;
    right: 0;
    left: auto;
    top: -87px !important;
    width: 37%;
    background-color: transparent;
    padding: 0;
    z-index: 10;
    
    #opensanmateo-search-header-search-form {
    	width: 86.5%;
    	margin-right: 2%;
    	margin-bottom: 0;
    }

    .search-button {
      background-size: 55%;
    }
  }

  /* translate */
  #block-google-translator-active-languages {
    margin: 0 auto 0;
    position: absolute;
    right: 0;
    left: auto;
    top: -32px !important;
    background-color: transparent;
    padding: 0;
    font-size: 1 em;
    z-index: 10;
    max-width: 75%;

    .google-translator-switch {
      color: white;
      text-transform: capitalize;
      padding: 4px 10px;
      border-radius: 3px;
      background-color: $OSMUpdateTeal;
      font-size: 1em;

    }

    /* End translate */
  }
}
#google_translator_element div {
  display: block !important;
}

#__dimScreen {
  z-index: 1100 !important;
}


@media all and (min-width: $desktop) {

}
