// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.
.region-header {
  position: relative;
}

#block-opensanmateo-search-header-search {
	padding: .5em;
	position: relative;
	border-radius: 3px;
	margin: 10px auto 0;
  display: none;
  margin-top: 0;
  
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  z-index: 9999;
  
  background: rgba($primaryTeal, .2);
  
  #opensanmateo-search-header-search-form {
    margin: 0;
    padding: 0;
    
    float: left;
  	width: 80%;
  	margin-right: 0;
  	margin-bottom: 0;
    
    .form-item {
      margin: 0;
      padding: 0;
    }
    
    .form-submit {
      display: none;
    }
  }
  

  input[type=text] {
  	background: $searchMobileDefaultBG;
  	border: none;
  	box-shadow: none;
  	color: white;
  	padding: .25em;
  	font-size: 1em;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	border-radius: 3px;
  	font-family: $reg;
  	font-weight: 300;
  	
  	margin:0;
  }
  
  input[type=text]:focus {
  	box-shadow: none;
   	font-family: $bold;
  }
  
  
  input[type=text]::-webkit-input-placeholder {color: #036cb6;}
  input[type=text]::-moz-placeholder {  /* Firefox 19+ */color: #036cb6;}
  input[type=text]::-ms-input-placeholder {color: #036cb6;}
  
  
  
  .search-button {
  	width: 15%;
  	position: absolute;
  	right: 10px;
  	
  	border: none;
  	display: block;
  	
  	text-align: center;
  	margin-right: 0;
  	background-color: $primaryBlue;
  	color: white;
  	font-size: 1em;
  	
  	border-radius: 3px;
  	padding: 0.5em 1em;
  	//text-transform: uppercase;
  	//font-size: 1.1em;
  	
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	font-family: $reg;
  	font-weight: normal !important;
  	span {
      font-weight: normal !important;	
  	}
  }
  
  .search-button:after {
  	content: none;
  }
}

@media all and (min-width: $tablet) {
  /* Header Search */
  #block-opensanmateo-search-header-search {
    display: block !important;
    border-radius: 3px;
    margin: 0 auto 0;
    position: absolute;
    right: 0;
    left: auto;
    top: -50px;
    width: 30%;
    background-color: transparent;
    padding: 0;
    z-index: 10;
    
    #opensanmateo-search-header-search-form {
      float: left;
    	width: 80%;
    	margin-right: 3%;
    	margin-bottom: 0;
    }
  
    input[type=text] {
      
      background: $searchDefaultBG;
    	border: none;
    	box-shadow: none;
    	color: white;
    	
    	font-size: .85em;
    	-webkit-transition: all 0.3s;
    	-moz-transition: all 0.3s;
    	transition: all 0.3s;
    	border-radius: 3px;
    	font-family: $reg;
    	margin: 0;
  	}
  	
    input[type=text]:focus {
    	box-shadow: none;
     	background: $searchFocusBG;
     	color: white;	
     	font-family: $bold;
    }
    
    input[type=text]:focus::-webkit-input-placeholder {color: white;}
    input[type=text]:focus::-moz-placeholder {color: white;}
    input[type=text]:focus::-ms-input-placeholder {color: white;}
    
    .search-button {
    	width: 17%;
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	border: none;
    	display: block;
    	text-align: center;
    	margin-right: 0;
  	}
  
    .search-button:after {content: none;}
    /* End Header Search */
  }
}

@media all and (min-width: $desktop) {

}