// default variables
@import "vars.scss";
.view-opensanmateo-search {
  .view-content:after {
    // replicating clearfix without applying class
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.universal-teaser {
  border-top: 1px solid rgba($primaryBlue, .1); 
  padding: 1.5em 0;
  margin-bottom: 40px;
  position: relative;
  
  .node-url {
    display: none;
  }
  
  header {
    margin-bottom: 3%;
  }
  
  h5 {
		color: $primaryTeal; 
		font-weight: 100;
  }
  .meta {
  	font-size: .85em; 
  	border-top-left-radius: 3px; 
  	border-bottom-left-radius: 3px; 
  	background-color: rgba($primaryGray, .05); 
  	display: inline-block; 
  	border: 1px solid rgba($primaryGray, .2); 
  	padding: .25em .75em .25em .5em; 
  	color: $primaryGray;
  	margin-bottom: 5%;
  }
  .node-type {
    float: right;
		width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
		font-size: .75em;
		//position: absolute;
		//right: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		margin-bottom: 3%;
  } 
  
  .node-title {
    float: left;
    margin-top: 0;
    //width: 80%;
    margin-bottom: 0.2em;
    
  }
  .author-data {
    float: left;
    clear: left;
    margin-top: 0;
    //width: 80%;
    font-size: .75em;
    color: $primaryGray;
    margin-bottom: 0.5em;
    font-family: $reg;
    
    a {
      color: $primaryGray;  
    }
  }
  
  .node-teaser {
    display: block;
		margin-bottom: 3%;
		font-size: 1em;
		line-height: 1.6em;
  }
  
  .node-thumbnail {
    border: 5px solid rgba($primaryBlue, .05);
		float: left; 
		border-radius: 3px; 
		margin-bottom: 2%;
    margin-right: 2%;
		
		max-height: 80px;
		width: 80px;
		overflow: hidden;
		
		img {
  		max-width: 100%;
  		height: auto;
		}
		
  }
  
  
  
  .node-location {
    width: 50%;
    float: left;
    
    .location {
      padding: 0;
      margin: 0;
    }
    
    ul.adr {
      margin: 0;
      padding: 0;
      
      li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: $primaryGray;
      }
    }  
  }
  .node-date {
    width: 50%;
    float: left;
    
    .label {
      
    }
    .node-start-date {
    
    }
    .node-end-date {
      
    }  
  }
  
  
  .read-more-wrapper {
    font-size: 0.9em;
    
    a:after {
      content: ' \00BB';
    }
  }
  // custom style(s) for event teaser
  &.event {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em;
    
    h5 {
      text-transform: uppercase;
      font-family: $reg;
      font-weight: 100;
      margin-bottom: 0;
      //font-size: 0.75em;
      
      span {
        display: none;
      }
      
    }
    
    .node-location {
      
      &:after {
        content: ".";
        height: 0;
        display: block;
      }
    }
    .node-date {
      font-size: 0.9em;
      
      &:after {
        content: ".";
        height: 0;
        display: block;
      }
    }
    
    .node-teaser {
      border-bottom: 1px dashed rgba(56, 147, 155, 0.1);
      border-top: 1px dashed rgba(56, 147, 155, 0.1);

      padding: 1em;
      
      margin-left: -1em;
      margin-right: -1em;
      
      //font-size: 0.75em;
    }
    .read-more-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 1em;
      margin-bottom: 0;
      
      a {
        display: block;
        padding: 1em 0;
        text-transform: uppercase;
        color: $primaryBlue;
        text-align: center;
        font-family: $bold;
        background-color: rgba(3, 108, 182, 0.1);
        
        &:hover {
          background-color: rgba(3, 108, 182, 0.2);  
        }
      }
    }
  }
}

@media all and (min-width: $tablet) {
  .universal-teaser {
  
    &.event {
      border-radius: 3px;
    	background-color: white;
    	border: 1px solid rgba(3, 108, 182, .1);
    	width:100%;
    	position: relative;
    	display: block;
    }
  }
  // specific to events
  .panel-col-first,
  .panel-col-last {
    .universal-teaser { 
      &.event {
        .node-teaser,
        .node-date,
        .node-location {
          font-size: 0.75em;
        }
        .node-location ul, .node-location li {
          font-size: 1em;
        }
      }
    }
  }
  
  // adjust for top/bottom region teasers to "float"
  .panel-col-top,
  .panel-col-bottom {
    .universal-teaser {
      float: left;
      clear: none;
      width: 47.5%;
      margin-right: 5%;
      
      // no right margin on every 2nd item
      &:nth-child(2n+2) {
        margin-right: 0;
      }
      // FULLY clear every 3th item so floats don't go all caddywhompus
      &:nth-child(2n+3) {
        clear: left;
      }
    }
  }
  
}

@media all and (min-width: $desktop) {
  // adjust for top/bottom region teasers to "float"
  .panel-col-top,
  .panel-col-bottom {
    .universal-teaser {
      float: left;
      clear: none;
      width: 30%;
      margin-right: 5%;
      
      // Reset from tablet size
      &:nth-child(2n+2) {
        margin-right: 5%;
      }
      // Reset from tablet size
      &:nth-child(2n+3) {
        clear: none;
      }
      
      // no right margin on every 3rd item
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      // FULLY clear every 4th item so floats don't go all caddywhompus
      &:nth-child(3n+4) {
        clear: left;
      }
      // shrink text on events
      &.event {
        .node-teaser,
        .node-date,
        .node-location {
          font-size: 0.75em;
        }
        .node-location ul, .node-location li {
          font-size: 1em;
        }
      }
    }
  }
}

