// default variables
@import "vars.scss";

.universal-teaser {
  border-top: 1px solid rgba($primaryBlue, .1); 
  padding: 1.5em 0;
  
  .node-url {
    display: none;
  }
  
  header {
    margin-bottom: 5%;
  }
  
  .node-type {
    float: right;
		max-width: 20%;
		font-size: .75em;
		position: absolute;
		right: 0;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
  } 
  .node-title {
    float: left;
    margin-top: 0;
    width: 80%;
  }
  .node-thumbnail {
    border: 5px solid rgba($primaryBlue, .05);
		float: left; 
		border-radius: 3px; 
		margin-bottom: 2%;
    margin-right: 2%;
		
		height: 80px;
		width: 80px;
		overflow: hidden;
		
		img {
  		max-width: 100%;
  		height: auto;
		}
		
  }
  .node-teaser {
    display: block;
		margin-bottom: 5%;
		font-size: 1em;
		line-height: 1.6em;
  }
  .node-start-date {
    
  }
  .node-end-date {
    
  }
  .node-location-street {
    
  }
  .node-location-city {
    
  }
  .node-location-state {
    
  }
  .node-location-zip {
    
  }
  .node-thumbnail-title {
    
  }
  .node-thumbnail-alt {
    
  }
}