
#toolbar {
  display: block;
    
  strong {
    display: inline;
  }
  
  #toolbar-home,
  #toolbar-user {
    display: none;
  }
  
  
  div.toolbar-menu {
    padding: 0;
    .toolbar-inner {
      position: relative;
      padding: 5px 35px 5px 0;
    }
    
    a.toggle {
      bottom: 0;
      right: 5px;
    }
  }

}

@media all and (min-width: $desktop) {
  #toolbar {
    display: block;
    
    #toolbar-home,
    #toolbar-user {
      display: block;
    }
  }
}