// Import custom variables from subtheme
@import "variables.scss";

// Import all styles from SMC Base Theme, using overwritten variables
@import "../../smc_base/scss/smc_base.scss";

body {
  background: $primaryBlue;
  color:$primaryBlue;
}
p {
    color:$primaryBlue;
}

ul li, ol li{
    color:$primaryBlue;
}

a:hover, a:focus{
    color: rgba($primaryTeal, 0.2);
}
.node-webform .form-submit{
    background:rgba(40,44,116, 0.8);
}

.universal-teaser.event .read-more-wrapper a{
    background-color: rgba($primaryTeal, 0.2);
}
/* First 5 Promo Boxes */
.promo-pane-default {           //Aqua
  background-color:#840f33;
}
.promo-pane-green {             //Green
  background-color: #999a0f;
}
.promo-pane-purple {            //Purple
  background-color: #660c67;
}
.promo-pane-orange {            //Orange
  background-color: #f7990d;
}

input[type=text] {
  	background: $searchMobileDefaultBG;
  	border: none;
  	box-shadow: none;
  	color: rgba(56, 56, 56, .9);
  	padding: 0.25em 0.75em;
  	font-size: 1em;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  	border-radius: 3px;
  	font-family: $reg;
  	font-weight: 300;
  	
  	margin:0;
  }
