/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Fonts */
/* Media Queries */
/* line 4, ../../scss/elements/alerts.scss */
#block-distributed-blocks-d-b-opensanmateo-layout-banner {
  background-color: #036cb6;
  padding: 0;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(3, 108, 182, 0.8); }
  /* line 11, ../../scss/elements/alerts.scss */
  #block-distributed-blocks-d-b-opensanmateo-layout-banner .limiter {
    max-width: 1120px;
    margin: auto;
    position: relative;
    padding: 1em 1em 0.6em; }
  /* line 18, ../../scss/elements/alerts.scss */
  #block-distributed-blocks-d-b-opensanmateo-layout-banner .icon-feed {
    color: #074a87;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
    float: left;
    font-size: 2em;
    width: auto;
    margin-right: 2%;
    margin-bottom: 0; }
  /* line 28, ../../scss/elements/alerts.scss */
  #block-distributed-blocks-d-b-opensanmateo-layout-banner .alert-content {
    color: #FFFFFF;
    margin-bottom: 0;
    width: 80%;
    font-weight: bold;
    font-size: .85em;
    float: left;
    padding-top: 0;
    z-index: 3; }
    /* line 38, ../../scss/elements/alerts.scss */
    #block-distributed-blocks-d-b-opensanmateo-layout-banner .alert-content a {
      color: #EEEEEE; }
      /* line 41, ../../scss/elements/alerts.scss */
      #block-distributed-blocks-d-b-opensanmateo-layout-banner .alert-content a:hover {
        color: #FFFFFF; }
    /* line 45, ../../scss/elements/alerts.scss */
    #block-distributed-blocks-d-b-opensanmateo-layout-banner .alert-content p {
      color: #FFFFFF;
      margin-bottom: 0;
      width: 100%;
      font-weight: bold;
      font-size: .85em; }
