/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
#__dimScreen .message {
  font-size: 0.8em;
  background-color: #FFFFFF;
  left: 10%;
  padding: 20px;
  position: absolute;
  top: 10%;
  width: 80%;
  z-index: 1200; }

footer {
  background-color: #036cb6;
  width: 100%;
  margin-bottom: 0;
  border-top: 3px solid rgba(3, 108, 182, 0.1); }
  footer .seal {
    width: 100%;
    text-align: center;
    margin: 1em auto;
    min-height: 40px; }
    footer .seal img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 20px auto; }
      footer .seal img.mobile-only {
        display: block; }
      footer .seal img.not-mobile {
        display: none; }
  footer nav ul, footer nav ul.menu {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0; }
    footer nav ul li,
    footer nav ul li.leaf, footer nav ul.menu li,
    footer nav ul.menu li.leaf {
      float: left;
      list-style-type: none;
      width: 100%; }
      footer nav ul li a,
      footer nav ul li.leaf a, footer nav ul.menu li a,
      footer nav ul.menu li.leaf a {
        color: white;
        display: block;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        padding: .5em 0;
        border-bottom: 1px solid #014c80;
        min-height: 44px;
        font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica; }
      footer nav ul li a:hover,
      footer nav ul li.leaf a:hover, footer nav ul.menu li a:hover,
      footer nav ul.menu li.leaf a:hover {
        color: rgba(255, 255, 255, 0.8); }
      footer nav ul li #google_translator_element div,
      footer nav ul li.leaf #google_translator_element div, footer nav ul.menu li #google_translator_element div,
      footer nav ul.menu li.leaf #google_translator_element div {
        color: #FFFFFF !important;
        font-size: 0.5em; }
        footer nav ul li #google_translator_element div a,
        footer nav ul li.leaf #google_translator_element div a, footer nav ul.menu li #google_translator_element div a,
        footer nav ul.menu li.leaf #google_translator_element div a {
          display: inline;
          font-size: 1em; }
        footer nav ul li #google_translator_element div select,
        footer nav ul li.leaf #google_translator_element div select, footer nav ul.menu li #google_translator_element div select,
        footer nav ul.menu li.leaf #google_translator_element div select {
          margin: 0;
          display: block; }

@media all and (min-width: 768px) {
  footer {
    background: url("../images/footer.jpg") no-repeat scroll center bottom #036cb6;
    background-size: cover;
    border-top: 5px solid rgba(56, 147, 155, 0.5);
    margin-bottom: 0;
    padding: 3em 2em;
    width: 100%; }
    footer .seal {
      width: 100%;
      text-align: center;
      margin: 1em auto;
      min-height: 40px;
      padding: 20px 0 20px 120px; }
      footer .seal img {
        max-width: 100%;
        height: auto; }
        footer .seal img.mobile-only {
          display: none; }
        footer .seal img.not-mobile {
          display: block;
          position: absolute;
          left: 0;
          margin: 0; }
    footer nav {
      border: none; }
    footer nav ul, footer nav ul.menu {
      width: 100%;
      margin-bottom: 0; }
      footer nav ul li,
      footer nav ul li.leaf, footer nav ul.menu li,
      footer nav ul.menu li.leaf {
        float: left;
        list-style-type: none;
        margin-bottom: 10px;
        margin-right: 50px;
        width: auto; }
        footer nav ul li a,
        footer nav ul li.leaf a, footer nav ul.menu li a,
        footer nav ul.menu li.leaf a {
          color: white;
          display: block;
          font-size: 1em;
          text-align: left;
          padding: 0;
          border: none;
          min-height: 0;
          font-weight: 100; }
        footer nav ul li a:hover,
        footer nav ul li.leaf a:hover, footer nav ul.menu li a:hover,
        footer nav ul.menu li.leaf a:hover {
          color: rgba(255, 255, 255, 0.8); } }
@media all and (min-width: 800px) {
  footer nav ul, footer nav ul.menu {
    width: 100%; }

  #__dimScreen .message {
    font-size: 1em;
    background-color: #FFFFFF;
    left: 25%;
    padding: 20px;
    position: absolute;
    top: 25%;
    width: 50%;
    z-index: 800; } }
.lte8 footer {
  border-top: 5px solid #38939b;
  margin-bottom: 0;
  padding: 3em 2em;
  width: 100%; }
  .lte8 footer .seal {
    margin: 0;
    padding-top: 0;
    background-image: none; }
  .lte8 footer nav {
    border: none; }
  .lte8 footer nav ul, .lte8 footer nav ul.menu {
    width: 100%;
    margin-bottom: 0; }
    .lte8 footer nav ul li,
    .lte8 footer nav ul li.leaf, .lte8 footer nav ul.menu li,
    .lte8 footer nav ul.menu li.leaf {
      float: left;
      list-style-type: none;
      width: 33%;
      margin-bottom: 2%; }
      .lte8 footer nav ul li a,
      .lte8 footer nav ul li.leaf a, .lte8 footer nav ul.menu li a,
      .lte8 footer nav ul.menu li.leaf a {
        color: white;
        display: block;
        font-size: .8em;
        text-align: left;
        padding: 0;
        border: none;
        min-height: 0;
        font-weight: 100; }
      .lte8 footer nav ul li a:hover,
      .lte8 footer nav ul li.leaf a:hover, .lte8 footer nav ul.menu li a:hover,
      .lte8 footer nav ul.menu li.leaf a:hover {
        color: rgba(255, 255, 255, 0.8); }

/*# sourceMappingURL=footer.css.map */
