/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Fonts */
/* Media Queries */
/**
  * This layout.scss file handles completely overwriting the layout CSS provided by panels. 
  * The panels layout css (which essentially is the desktop version) must be reset so that
  * we can have a mobile layout first, then adjust the layouts accordingly based on the 
  * screen resolution. 
  */
/* line 13, ../../scss/elements/layout.scss */
#main-wrapper {
  padding: 0 1em 3em 1em; }

@media all and (min-width: 768px) {
  /* line 18, ../../scss/elements/layout.scss */
  #main-wrapper,
  header .inner {
    max-width: 1120px;
    margin: auto; } }
@media all and (min-width: 800px) {
  /* line 26, ../../scss/elements/layout.scss */
  #main-wrapper.one-column-display {
    max-width: 77.5%; } }
/* line 33, ../../scss/elements/layout.scss */
#main-wrapper .sm-one-column .panel-col-top,
#main-wrapper .sm-one-column .panel-col-nav,
#main-wrapper .sm-one-column .panel-col-middle,
#main-wrapper .sm-one-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; }

/* line 47, ../../scss/elements/layout.scss */
#main-wrapper .sm-two-column .panel-col-top,
#main-wrapper .sm-two-column .panel-col-first,
#main-wrapper .sm-two-column .panel-col-nav,
#main-wrapper .sm-two-column .panel-col-middle,
#main-wrapper .sm-two-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }

/* line 62, ../../scss/elements/layout.scss */
#main-wrapper .sm-two-column-fifty-fifty .panel-col-top,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-nav,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-first,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-middle,
#main-wrapper .sm-two-column-fifty-fifty .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }

@media all and (min-width: 768px) {
  /* line 77, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-first {
    float: none;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 0%;
    margin-bottom: 3%; }

  /* line 87, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-middle {
    float: none;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 96, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-first {
    float: none;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 0;
    margin-bottom: 3%; }

  /* line 106, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-middle {
    float: none;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; } }
@media all and (min-width: 800px) {
  /* line 117, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-first {
    float: left;
    clear: none;
    width: 25%;
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%; }

  /* line 127, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-middle {
    float: left;
    clear: none;
    width: 72.5%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 136, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-first {
    float: left;
    clear: none;
    width: 47.5%;
    padding: 0;
    margin: 0;
    margin-right: 5%;
    margin-bottom: 3%; }

  /* line 146, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-fifty-fifty .panel-col-middle {
    float: left;
    clear: none;
    width: 47.5%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 155, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-first {
    float: left;
    clear: none;
    width: 20%;
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%; }

  /* line 165, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column .panel-col-middle {
    float: left;
    clear: none;
    width: 77.5%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; } }
/* line 176, ../../scss/elements/layout.scss */
#main-wrapper .sm-two-column-alt .panel-col-top,
#main-wrapper .sm-two-column-alt .panel-col-first,
#main-wrapper .sm-two-column-alt .panel-col-middle,
#main-wrapper .sm-two-column-alt .panel-col-lower-left,
#main-wrapper .sm-two-column-alt .panel-col-lower-right,
#main-wrapper .sm-two-column-alt .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }

@media all and (min-width: 768px) {
  /* line 192, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-top,
  #main-wrapper .sm-two-column-alt .panel-col-bottom {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 204, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-first {
    float: none;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 0;
    margin-bottom: 3%; }

  /* line 214, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-middle {
    float: left;
    clear: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 224, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-lower-left {
    float: left;
    clear: none;
    width: 65%;
    padding: 0;
    margin: 0; }

  /* line 232, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-lower-right {
    float: left;
    clear: none;
    width: 32.5%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%; } }
@media all and (min-width: 800px) {
  /* line 243, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-top,
  #main-wrapper .sm-two-column-alt .panel-col-bottom {
    width: 100%;
    display: block;
    float: none;
    clear: both;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 255, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-first {
    float: left;
    clear: none;
    width: 20%;
    padding: 0;
    margin: 0;
    margin-right: 2.5%;
    margin-bottom: 3%; }

  /* line 265, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-middle {
    float: left;
    clear: none;
    width: 77.5%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 275, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-lower-left {
    float: left;
    clear: none;
    width: 65%;
    padding: 0;
    margin: 0; }

  /* line 283, ../../scss/elements/layout.scss */
  #main-wrapper .sm-two-column-alt .panel-col-lower-right {
    float: left;
    clear: none;
    width: 32.5%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%; } }
/* line 295, ../../scss/elements/layout.scss */
#main-wrapper .sm-three-column {
  margin-bottom: 5%; }

/* line 299, ../../scss/elements/layout.scss */
#main-wrapper .sm-three-column .panel-col-top,
#main-wrapper .sm-three-column .panel-col-first,
#main-wrapper .sm-three-column .panel-col-middle,
#main-wrapper .sm-three-column .panel-col-last,
#main-wrapper .sm-three-column .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }

@media all and (min-width: 768px) {
  /* line 316, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-first {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%; }

  /* line 324, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-middle {
    float: left;
    clear: none;
    width: 70%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
    padding: 0 1em; }

  /* line 334, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-last {
    float: left;
    clear: none;
    width: 27%;
    padding: 0;
    margin: 0;
    margin-left: 3%;
    padding-right: 1em;
    margin-bottom: 3%; } }
@media all and (min-width: 800px) {
  /* line 348, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-first {
    float: left;
    clear: none;
    width: 17%;
    padding: 0;
    margin: 0;
    margin-right: 2.5%; }

  /* line 357, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-middle {
    float: left;
    clear: none;
    width: 58%;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
    padding: 0 1em; }

  /* line 367, ../../scss/elements/layout.scss */
  #main-wrapper .sm-three-column .panel-col-last {
    float: left;
    clear: none;
    width: 20%;
    padding: 0;
    margin: 0;
    margin-left: 2.5%; } }
/* line 380, ../../scss/elements/layout.scss */
#main-wrapper #responsive-navigation {
  display: none; }

/* line 384, ../../scss/elements/layout.scss */
#main-wrapper #navigation-toggle {
  display: block;
  text-align: right;
  margin-bottom: 10px; }
  /* line 389, ../../scss/elements/layout.scss */
  #main-wrapper #navigation-toggle a {
    display: inline-block;
    padding: .75em .5em;
    font-size: .7em;
    text-align: center;
    background-color: rgba(3, 108, 182, 0.1);
    border-radius: 3px; }
    /* line 398, ../../scss/elements/layout.scss */
    #main-wrapper #navigation-toggle a:before {
      padding-right: 1em;
      content: "\e006"; }

/* line 412, ../../scss/elements/layout.scss */
.lte8 #main-wrapper #responsive-navigation {
  display: block !important; }
/* line 415, ../../scss/elements/layout.scss */
.lte8 #main-wrapper #navigation-toggle, .lte8 #main-wrapper #navigation-toggle a {
  display: none !important; }

@media all and (min-width: 768px) {
  /* line 422, ../../scss/elements/layout.scss */
  #main-wrapper #responsive-navigation {
    display: block !important; }

  /* line 426, ../../scss/elements/layout.scss */
  #main-wrapper #navigation-toggle {
    display: none; } }
/* line 433, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column .panel-col-first {
  float: left;
  clear: none;
  width: 20%;
  padding: 0;
  margin: 0;
  margin-right: 2.5%;
  margin-bottom: 3%; }
/* line 443, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column .panel-col-middle {
  float: left;
  clear: none;
  width: 77.5%;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }
/* line 451, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column-alt .panel-col-top,
.lte8 #main-wrapper .sm-two-column-alt .panel-col-bottom {
  width: 100%;
  display: block;
  float: none;
  clear: both;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }
/* line 463, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column-alt .panel-col-first {
  float: left;
  clear: none;
  width: 20%;
  padding: 0;
  margin: 0;
  margin-right: 2.5%;
  margin-bottom: 3%; }
/* line 473, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column-alt .panel-col-middle {
  float: left;
  clear: none;
  width: 77.5%;
  padding: 0;
  margin: 0;
  margin-bottom: 3%; }
/* line 483, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column-alt .panel-col-lower-left {
  float: left;
  clear: none;
  width: 65%;
  padding: 0;
  margin: 0; }
/* line 491, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-two-column-alt .panel-col-lower-right {
  float: left;
  clear: none;
  width: 32.5%;
  padding: 0;
  margin: 0;
  margin-left: 2.5%; }
/* line 499, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-three-column .panel-col-first {
  float: left;
  clear: none;
  width: 17%;
  padding: 0;
  margin: 0;
  margin-right: 2.5%; }
/* line 508, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-three-column .panel-col-middle {
  float: left;
  clear: none;
  width: 58%;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
  padding: 0 1em; }
/* line 518, ../../scss/elements/layout.scss */
.lte8 #main-wrapper .sm-three-column .panel-col-last {
  float: left;
  clear: none;
  width: 20%;
  padding: 0;
  margin: 0;
  margin-left: 2.5%; }
