/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
.primary {
  color: navy; }

.home {
  display: none; }

@media only screen and (max-width: 767px) {
  /* Flexnav Base Styles */
  /* COPY/PASTE following lines to each new scss file
  
  // default variables
  @import "vars.scss";
  
  // All default/mobile styles will appear before the following media queries.
  
  @media all and (min-width: $tablet) {
  
  }
  
  @media all and (min-width: $desktop) {
  
  }
  
  */
  /* Colors */
  /* Fonts */
  /* Media Queries */
  .flexnav {
    *zoom: 1;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-height: 0; }
    .flexnav:after {
      content: "";
      display: table;
      clear: both; }
    .flexnav.show {
      transition: 0.4s;
      transition: 0.4s;
      transition: 0.4s;
      transition: 0.4s;
      max-height: 1000px;
      position: fixed;
      background-color: rgba(255, 255, 255, 0.975);
      top: 0; }
    .flexnav.one-page {
      position: fixed;
      top: 50px;
      right: 5%;
      max-width: 200px; }
    .flexnav ul {
      margin-left: 0; }
    .flexnav li {
      font-size: 100%;
      position: relative;
      list-style-type: none; }
    .flexnav li a {
      position: relative;
      display: block;
      padding: .96em;
      z-index: 2;
      overflow: hidden;
      color: white;
      background: #036cb6;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica; }
    .flexnav li ul {
      width: 100%;
      display: none; }
    .flexnav li ul li {
      float: none;
      width: 100%; }
    .flexnav li ul li a {
      display: block;
      background: rgba(56, 147, 155, 0.1);
      color: #38939b; }
    .flexnav ul li ul li a {
      background: #bfbfbc; }
    .flexnav ul li ul li ul li a {
      background: #cbcbc9; }
    .flexnav .touch-button {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      display: inline-block;
      /*
      		background: #acaca1;
      		background: rgba(0,0,0,.05);
      */
      text-align: center;
      border-radius: 6px; }
      .flexnav .touch-button:hover {
        cursor: pointer; }
      .flexnav .touch-button .navicon {
        position: relative;
        top: 1.25em;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5); }

  .menu-button {
    position: relative;
    width: 41px;
    float: right;
    display: block;
    padding: .3em;
    background: white;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #036cb6;
    font-size: 1.7em;
    text-align: center;
    border-radius: 3px;
    z-index: 1000;
    box-shadow: 0px 3px 2px rgba(3, 108, 182, 0.1); }
    .menu-button.one-page {
      position: fixed;
      top: 0;
      right: 5%;
      padding-right: 45px; }
    .menu-button .touch-button {
      background: transparent;
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      height: 100%;
      display: inline-block;
      text-align: center; }
      .menu-button .touch-button .navicon {
        font-size: 16px;
        position: relative;
        top: 1em;
        color: rgba(255, 255, 255, 0.5);
        display: none; }

  .flexnav {
    z-index: 999; }

  .flexnav, .flexnav ul {
    padding: 0;
    font-size: 1em; }

  .flexnav {
    display: none; }

  .flexnav.show {
    display: block;
    margin-top: 188px;
    max-height: 100%;
    overflow-y: auto; } }
@media all and (min-width: 768px) {
  .menu-button, .touch-button {
    display: none; }

  .icon-menu {
    display: none; }

  .home {
    display: block; }

  .flexnav {
    padding-top: 0 !important; }

  .primary {
    border-radius: 3px;
    width: 100%;
    height: 35px;
    background-color: #056cb6;
    color: white;
    font-size: 1em; }
    .primary ul {
      margin: 0;
      padding: 0;
      font-size: 1em;
      color: white; }
    .primary .home a:before {
      content: "\e003";
      font-family: 'SanMateoIcon';
      text-indent: 0 !important;
      color: white; }
    .primary .home a:hover:before {
      color: #FFF; }
    .primary li {
      float: left;
      list-style-type: none;
      position: relative; }
      .primary li a {
        font-family: 'Trade Gothic W01', Helvetica Neue, Arial, Helvetica, sans-serif;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        font-size: 1.0em;
        padding: 0.3em .9em;
        display: block;
        color: white;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      .primary li a:hover, .primary li:hover > a, .primary li.active-trail > a, .primary li:focus, .primary li:focus > a {
        background-color: #f1f1f2;
        color: #056cb6; }
      .primary li.expanded > a:after {
        content: "\e004";
        font-family: 'SanMateoIcon';
        font-size: .5em;
        padding-left: 5px;
        color: #fff; }
      .primary li.expanded > a:hover, .primary li.expanded:hover > a {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; }
      .primary li.expanded > a:hover:after, .primary li.expanded:hover > a:after, .primary li.active-trail > a:after {
        color: rgba(3, 108, 182, 0.5); }
      .primary li ul {
        position: absolute;
        font-size: 1em;
        width: 300%;
        max-width: 300px;
        opacity: 0;
        background: rgba(3, 108, 182, 0.9);
        margin: 0;
        padding: 0;
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        -webkit-transition: opacity .25s ease .1s;
        -moz-transition: opacity .25s ease .1s;
        -o-transition: opacity .25s ease .1s;
        -ms-transition: opacity .25s ease .1s;
        transition: opacity .25s ease .1s; }
        .primary li ul li {
          height: 0;
          overflow: hidden;
          padding: 0;
          width: inherit;
          display: inline-table;
          -webkit-transition: height .25s ease .1s;
          -moz-transition: height .25s ease .1s;
          -o-transition: height .25s ease .1s;
          -ms-transition: height .25s ease .1s;
          transition: height .25s ease .1s;
          max-width: 100%; }
          .primary li ul li a {
            color: white;
            display: block;
            border-radius: 0;
            padding: .5em 1em;
            width: 100%; }
    .primary ul {
      margin-bottom: 0; }

  .primary li:hover > ul,
  .primary li a:focus + ul {
    opacity: 1;
    z-index: 1000; }

  .primary li:hover > ul li,
  .primary li a:focus + ul li {
    height: 36px;
    overflow: visible;
    padding: 0; }

  .sub {
    background-color: white;
    border: 1px solid rgba(3, 108, 182, 0.05);
    font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
    font-size: .85em;
    border-top: 5px solid rgba(3, 108, 182, 0.05); }
    .sub ul {
      margin: 0;
      padding: 0;
      font-size: 1em; }
      .sub ul li {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .sub ul li a {
          display: block;
          padding: .75em .75em;
          border-bottom: 1px solid rgba(3, 108, 182, 0.2);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
        .sub ul li a:hover {
          background-color: rgba(3, 108, 182, 0.8);
          color: white; }
      .sub ul .active {
        font-weight: 700; }
        .sub ul .active a {
          background-color: white;
          color: #036cb6; }
        .sub ul .active ul li a {
          background-color: rgba(3, 108, 182, 0.1);
          color: #38939b;
          font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
          border-color: rgba(56, 147, 155, 0.2); }
        .sub ul .active ul li a:hover {
          background-color: rgba(56, 147, 155, 0.2); } }
.lte8 .menu-button, .lte8 .touch-button {
  display: none; }
.lte8 .icon-menu {
  display: none; }
.lte8 .home {
  display: block; }
.lte8 .flexnav {
  padding-top: 0 !important; }
.lte8 .primary {
  border-radius: 3px;
  width: 100%;
  background-color: rgba(56, 147, 155, 0.05); }
  .lte8 .primary ul {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #036cb6; }
  .lte8 .primary .home a:before {
    content: "\e003";
    font-family: 'SanMateoIcon';
    text-indent: 0 !important;
    color: #036cb6; }
  .lte8 .primary .home a:hover:before {
    color: #FFF; }
  .lte8 .primary li {
    float: left;
    list-style-type: none;
    position: relative; }
    .lte8 .primary li a {
      font-family: 'Trade Gothic W01', Helvetica Neue, Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 1em;
      padding: 0.5em .9em;
      display: block;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .lte8 .primary li a:hover, .lte8 .primary li:hover > a, .lte8 .primary li.active-trail > a {
      background-color: #38939b;
      color: white;
      border-radius: 3px; }
    .lte8 .primary li.expanded > a:after {
      content: "\e004";
      font-family: 'SanMateoIcon';
      font-size: .5em;
      padding-left: 5px;
      color: rgba(56, 147, 155, 0.3); }
    .lte8 .primary li.expanded > a:hover, .lte8 .primary li.expanded:hover > a {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
    .lte8 .primary li.expanded > a:hover:after, .lte8 .primary li.expanded:hover > a:after, .lte8 .primary li.active-trail > a:after {
      color: rgba(255, 255, 255, 0.5); }
    .lte8 .primary li ul {
      position: absolute;
      top: 2.5em;
      font-size: 1em;
      width: 300%;
      max-width: 300px;
      opacity: 0;
      background: #38939b;
      background: rgba(56, 147, 155, 0.975);
      margin: 0;
      padding: 0;
      -webkit-transition: opacity .25s ease .1s;
      -moz-transition: opacity .25s ease .1s;
      -o-transition: opacity .25s ease .1s;
      -ms-transition: opacity .25s ease .1s;
      transition: opacity .25s ease .1s; }
      .lte8 .primary li ul li {
        height: 0;
        overflow: hidden;
        padding: 0;
        width: 100%;
        display: inline-table;
        -webkit-transition: height .25s ease .1s;
        -moz-transition: height .25s ease .1s;
        -o-transition: height .25s ease .1s;
        -ms-transition: height .25s ease .1s;
        transition: height .25s ease .1s; }
        .lte8 .primary li ul li a {
          color: white;
          display: block;
          border-radius: 0;
          padding: .5em 1em;
          width: 100%; }
  .lte8 .primary ul {
    margin-bottom: 0; }
.lte8 .primary li:hover > ul {
  opacity: 1;
  z-index: 1000; }
.lte8 .primary li:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0; }
.lte8 .sub {
  background-color: white;
  border: 1px solid rgba(3, 108, 182, 0.05);
  border-radius: 3px;
  font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
  font-size: .85em;
  border-top: 5px solid rgba(3, 108, 182, 0.05); }
  .lte8 .sub ul {
    margin: 0;
    padding: 0;
    font-size: 1em; }
    .lte8 .sub ul li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .lte8 .sub ul li a {
        display: block;
        padding: .75em .75em;
        border-bottom: 1px solid rgba(3, 108, 182, 0.2);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      .lte8 .sub ul li a:hover {
        background-color: rgba(3, 108, 182, 0.8);
        color: white; }
    .lte8 .sub ul .active {
      font-weight: 700; }
      .lte8 .sub ul .active a {
        background-color: white;
        color: #036cb6; }
      .lte8 .sub ul .active ul li a {
        background-color: rgba(56, 147, 155, 0.1);
        color: #38939b;
        font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
        border-color: rgba(56, 147, 155, 0.2); }
      .lte8 .sub ul .active ul li a:hover {
        background-color: rgba(56, 147, 155, 0.2); }

/*# sourceMappingURL=main-menu.css.map */
