/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Fonts */
/* Media Queries */
/* line 13, ../../scss/elements/node-elements.scss */
.node-type-location .field-name-field-address #map_canvas {
  margin-top: 1.6em; }

/* line 18, ../../scss/elements/node-elements.scss */
body.page-node .node .action-links-field-collection-add {
  display: none; }

/* line 21, ../../scss/elements/node-elements.scss */
.sharethis-buttons {
  margin-bottom: 20px; }

/* line 25, ../../scss/elements/node-elements.scss */
.field-name-field-profile-organization {
  line-height: 1.6; }

/* line 29, ../../scss/elements/node-elements.scss */
.page-node .node .field-name-field-thumbnail-image {
  float: right;
  clear: none;
  margin-left: 25px;
  max-width: 40%; }
  /* line 35, ../../scss/elements/node-elements.scss */
  .page-node .node .field-name-field-thumbnail-image img {
    max-width: 100%;
    height: auto; }

/* line 40, ../../scss/elements/node-elements.scss */
.page-node .node .field-name-body {
  margin-top: 10px; }

/* line 44, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node-profile {
  margin-bottom: 40px; }
  /* line 47, ../../scss/elements/node-elements.scss */
  .page-node div.panel-pane .node-profile .field {
    margin-bottom: 20px; }
    /* line 50, ../../scss/elements/node-elements.scss */
    .page-node div.panel-pane .node-profile .field div.field-label {
      color: #036cb6;
      font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
      font-weight: normal;
      font-size: 1.125em;
      line-height: 1.4;
      margin-bottom: 0.5em;
      margin-top: 0.2em;
      display: block; }

/* line 63, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field {
  margin-bottom: 20px; }
/* line 66, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node div.field-label {
  color: #036cb6;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  display: block; }

/* line 77, ../../scss/elements/node-elements.scss */
.field-collection-container {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; }

/* line 87, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field-name-field-location-address div.field-label,
.page-node div.panel-pane .node .field-name-field-location-address ul.field-collection-view-links,
.page-node div.panel-pane .node .field-name-field-location-address ul.action-links {
  display: none; }
/* line 93, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field-name-field-location-address .field-collection-view,
.page-node div.panel-pane .node .field-name-field-location-address .views-row,
.page-node div.panel-pane .node .field-name-field-location-address header {
  padding: 0;
  margin: 0;
  border: 0; }
/* line 100, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field-name-field-location-address .field {
  margin-bottom: 0; }
/* line 104, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field-name-field-location-address .views-row header span.field-content {
  color: #036cb6;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  display: block; }
  /* line 114, ../../scss/elements/node-elements.scss */
  .page-node div.panel-pane .node .field-name-field-location-address .views-row header span.field-content a {
    color: #036cb6; }
/* line 119, ../../scss/elements/node-elements.scss */
.page-node div.panel-pane .node .field-name-field-location-address .field-name-field-address {
  line-height: 1.4; }

/* line 124, ../../scss/elements/node-elements.scss */
.field-type-file {
  *zoom: 1;
  clear: both;
  float: none; }
  /* line 7, ../../scss/elements/node-elements.scss */
  .field-type-file:before, .field-type-file:after {
    content: " ";
    display: table; }
  /* line 8, ../../scss/elements/node-elements.scss */
  .field-type-file:after {
    clear: both; }
  /* line 131, ../../scss/elements/node-elements.scss */
  .field-type-file .file a {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(85, 90, 90, 0.1);
    padding: .5em 0;
    display: block; }
  /* line 139, ../../scss/elements/node-elements.scss */
  .field-type-file .file .file-type {
    color: #555a5a;
    width: 10%;
    background-color: rgba(85, 90, 90, 0.05);
    font-size: .5em;
    padding: .5em;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase; }
  /* line 152, ../../scss/elements/node-elements.scss */
  .field-type-file .file .file-size {
    color: #555a5a;
    width: 20%;
    font-size: .5em;
    float: right;
    padding: .5em;
    border-radius: 3px;
    text-align: right; }
  /* line 162, ../../scss/elements/node-elements.scss */
  .field-type-file .file .file-name {
    padding-left: .5em; }
  /* line 166, ../../scss/elements/node-elements.scss */
  .field-type-file .field-items {
    border-bottom: 1px solid rgba(85, 90, 90, 0.1);
    margin-bottom: 20px; }
    /* line 170, ../../scss/elements/node-elements.scss */
    .field-type-file .field-items:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }
    /* line 178, ../../scss/elements/node-elements.scss */
    .field-type-file .field-items .field-item:after, .field-type-file .field-items .file:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      visibility: hidden; }

@media all and (min-width: 768px) {
  /* line 193, ../../scss/elements/node-elements.scss */
  .field-type-file .file .file-type, .field-type-file .file .file-size {
    font-size: 0.75em; } }
@media all and (min-width: 800px) {
  /* line 203, ../../scss/elements/node-elements.scss */
  .node-type-location .field-name-field-address #map_canvas {
    float: right;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 20px; } }
