/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
a.button-blue-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: 1.1em; }
  a.button-blue-large:hover {
    padding: .75em 1em; }
  a.button-blue-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-blue-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-blue-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-blue-large:hover:after {
    width: 35%; }
  a.button-blue-large:hover:before {
    right: 10%; }
  a.button-blue-large:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-large:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: 1.1em; }
  a.button-teal-large:hover {
    padding: .75em 1em; }
  a.button-teal-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-teal-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-teal-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-teal-large:hover:after {
    width: 35%; }
  a.button-teal-large:hover:before {
    right: 10%; }
  a.button-teal-large:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-large:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: 1.1em; }
  a.button-green-large:hover {
    padding: .75em 1em; }
  a.button-green-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-green-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-green-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-green-large:hover:after {
    width: 35%; }
  a.button-green-large:hover:before {
    right: 10%; }
  a.button-green-large:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-large:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.button-blue-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: 1em; }
  a.button-blue-default:hover {
    padding: .75em 1em; }
  a.button-blue-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-blue-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-blue-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-blue-default:hover:after {
    width: 35%; }
  a.button-blue-default:hover:before {
    right: 10%; }
  a.button-blue-default:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-default:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: 1em; }
  a.button-teal-default:hover {
    padding: .75em 1em; }
  a.button-teal-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-teal-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-teal-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-teal-default:hover:after {
    width: 35%; }
  a.button-teal-default:hover:before {
    right: 10%; }
  a.button-teal-default:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-default:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: 1em; }
  a.button-green-default:hover {
    padding: .75em 1em; }
  a.button-green-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-green-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-green-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-green-default:hover:after {
    width: 35%; }
  a.button-green-default:hover:before {
    right: 10%; }
  a.button-green-default:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-default:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.button-blue-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-blue-small:hover {
    padding: .75em 1em; }
  a.button-blue-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-small:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-small:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-teal-small:hover {
    padding: .75em 1em; }
  a.button-teal-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-small:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-small:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-green-small:hover {
    padding: .75em 1em; }
  a.button-green-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-small:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-small:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.accept-terms {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 10px; }
  a.accept-terms:hover {
    padding: .75em 1em; }
  a.accept-terms:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.accept-terms:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.accept-terms:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.do-not-accept-terms {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 10px; }
  a.do-not-accept-terms:hover {
    padding: .75em 1em; }
  a.do-not-accept-terms:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.do-not-accept-terms:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.do-not-accept-terms:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

.addtocal {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 0;
  margin-left: 0; }
  .addtocal:hover {
    padding: .75em 1em; }
  .addtocal:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .addtocal:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  .addtocal:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

span.date-display-single {
  display: inline-block;
  width: 50%; }

ul.button-test {
  margin: 0;
  padding: 0; }
  ul.button-test li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    ul.button-test li a {
      background: none;
      background-color: none;
      color: #f7f7f7;
      border-radius: 3px;
      padding: .75em 1em;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 1;
      display: inline-block;
      margin-right: 1%;
      margin-bottom: 1%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 700;
      position: relative; }
      ul.button-test li a:hover {
        padding: .75em 1em; }
      ul.button-test li a:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      ul.button-test li a.blue-cta {
        float: left;
        clear: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.blue-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.blue-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.blue-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.blue-cta:hover:after {
          width: 35%; }
        ul.button-test li a.blue-cta:hover:before {
          right: 10%; }
        ul.button-test li a.blue-cta:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-cta:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-cta {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.teal-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.teal-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.teal-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.teal-cta:hover:after {
          width: 35%; }
        ul.button-test li a.teal-cta:hover:before {
          right: 10%; }
        ul.button-test li a.teal-cta:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-cta:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-cta {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.green-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.green-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.green-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.green-cta:hover:after {
          width: 35%; }
        ul.button-test li a.green-cta:hover:before {
          right: 10%; }
        ul.button-test li a.green-cta:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-cta:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }
      ul.button-test li a.blue-default {
        float: left;
        clear: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: 1em; }
        ul.button-test li a.blue-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.blue-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.blue-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.blue-default:hover:after {
          width: 35%; }
        ul.button-test li a.blue-default:hover:before {
          right: 10%; }
        ul.button-test li a.blue-default:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-default:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-default {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: 1em; }
        ul.button-test li a.teal-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.teal-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.teal-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.teal-default:hover:after {
          width: 35%; }
        ul.button-test li a.teal-default:hover:before {
          right: 10%; }
        ul.button-test li a.teal-default:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-default:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-default {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: 1em; }
        ul.button-test li a.green-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.green-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.green-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.green-default:hover:after {
          width: 35%; }
        ul.button-test li a.green-default:hover:before {
          right: 10%; }
        ul.button-test li a.green-default:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-default:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }
      ul.button-test li a.blue-small {
        float: left;
        clear: left;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.blue-small:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-small:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-small {
        float: left;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.teal-small:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-small:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-small {
        float: left;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.green-small:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-small:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }

.pane-bundle-promo-panels-pane {
  padding: 0;
  margin-bottom: 20px;
  position: relative;
  background-color: #38939b;
  border-radius: 3px; }
  .pane-bundle-promo-panels-pane h2.pane-title {
    padding: .5em;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 1.25em;
    line-height: 1.3em; }
    .pane-bundle-promo-panels-pane h2.pane-title a {
      color: #FFFFFF; }
      .pane-bundle-promo-panels-pane h2.pane-title a:hover {
        color: #EEEEEE; }
  .pane-bundle-promo-panels-pane .field-name-field-rotator-image {
    margin-bottom: 2%;
    text-align: center; }
  .pane-bundle-promo-panels-pane .field-name-field-rotator-caption {
    color: #FFFFFF;
    padding: 0 1em .5em;
    font-size: .85em;
    line-height: 1.6em;
    font-weight: bold;
    padding-left: 0.75em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility; }
    .pane-bundle-promo-panels-pane .field-name-field-rotator-caption a {
      color: #FFFFFF; }
      .pane-bundle-promo-panels-pane .field-name-field-rotator-caption a:hover {
        color: #EEEEEE; }
  .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    padding: 1em 0;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white; }
  .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
    content: ' \00BB'; }

.promo-pane-default {
  background-color: #38939b; }

.promo-pane-green {
  background-color: #8dc63f; }

.promo-pane-purple {
  background-color: #6b699e; }

.promo-pane-orange {
  background-color: #e98a41; }

.promo-pane-grey {
  background-color: #f1f2f2; }
  .promo-pane-grey h2.pane-title, .promo-pane-grey .field-name-field-rotator-caption {
    color: #5d5e5e; }
  .promo-pane-grey .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: rgba(93, 94, 94, 0.6); }
  .promo-pane-grey .field-name-field-rotator-link-url a:hover {
    background-color: #5d5e5e; }

.promo-pane-lightaqua {
  background-color: #f1f2f2; }
  .promo-pane-lightaqua h2.pane-title, .promo-pane-lightaqua .field-name-field-rotator-caption {
    color: #66a0a3; }
  .promo-pane-lightaqua .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: rgba(102, 160, 163, 0.8); }
  .promo-pane-lightaqua .field-name-field-rotator-link-url a:hover {
    background-color: #66a0a3; }

.promo-pane-lightpurple {
  background-color: #f1f2f2; }
  .promo-pane-lightpurple h2.pane-title, .promo-pane-lightpurple .field-name-field-rotator-caption {
    color: #868ea8; }
  .promo-pane-lightpurple .field-name-field-rotator-link-url a {
    width: 100%;
    background-color: rgba(134, 142, 168, 0.8); }
  .promo-pane-lightpurple .field-name-field-rotator-link-url a:hover {
    background-color: #868ea8; }

@media all and (min-width: 768px) {
  .panel-col-top .pane-bundle-promo-panels-pane,
  .panel-col-bottom .pane-bundle-promo-panels-pane {
    padding-right: 40%;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 2em; }
    .panel-col-top .pane-bundle-promo-panels-pane h2.pane-title,
    .panel-col-bottom .pane-bundle-promo-panels-pane h2.pane-title {
      font-size: 1.6875em;
      font-weight: 400;
      padding-left: 0;
      padding-right: 0; }
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      height: 100%;
      margin-bottom: 0;
      max-width: 40%; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-items,
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-item,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-items,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-item {
        max-height: 100%;
        height: 100%;
        width: auto; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image img,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        border-left: 10px solid rgba(255, 255, 255, 0.3);
        border-right: 10px solid rgba(255, 255, 255, 0.3); }
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-caption,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-caption {
      font-size: 1.5em;
      line-height: 1.6em;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0; }
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
      width: auto;
      background: none;
      background-color: none;
      display: inline-block;
      padding: inherit;
      margin-bottom: 0;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left; }
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
      content: ''; }
    .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
    .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a {
      background: none;
      background-color: none;
      color: #f7f7f7;
      border-radius: 3px;
      padding: .75em 1em;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 1;
      display: inline-block;
      margin-right: 1%;
      margin-bottom: 1%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 700;
      position: relative;
      padding: 1.1em 5.5em 1em 1.2em;
      overflow: hidden;
      *background-color: #8dc63f;
      background-color: rgba(141, 198, 63, 0.95);
      font-size: 1.1em;
      margin-bottom: 0; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
        padding: .75em 1em; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:before,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:before {
        z-index: 2;
        content: '\25b6';
        color: rgba(0, 0, 0, 0.3);
        text-align: right;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        position: absolute;
        height: 100%;
        left: auto;
        top: 0;
        right: 8%;
        line-height: 2.4;
        font-size: 140%;
        width: 60px; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
        z-index: 1;
        width: 30%;
        height: 200%;
        background: rgba(255, 255, 255, 0.1);
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotate(-20deg);
        -moz-transform-origin: 0 0;
        -moz-transform: rotate(-20deg);
        -ms-transform-origin: 0 0;
        -ms-transform: rotate(-20deg);
        transform-origin: 0 0;
        transform: rotate(-20deg); }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
        padding: 1.1em 5.5em 1em 1.2em; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:after,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:after {
        width: 35%; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:before,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:before {
        right: 10%; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
        *background-color: #8dc63f;
        background-color: #8dc63f; }
      .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:active,
      .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:active {
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.9); }
  .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a,
  .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.95); }
    .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a:hover,
    .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a:hover {
      *background-color: #38939b;
      background-color: #38939b; }
    .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a:active,
    .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a:active {
      *background-color: #38939b;
      background-color: rgba(56, 147, 155, 0.9); }
  .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a,
  .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }
    .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a:hover,
    .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a:hover {
      *background-color: #036cb6;
      background-color: #036cb6; }
    .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a:active,
    .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a:active {
      *background-color: #036cb6;
      background-color: rgba(3, 108, 182, 0.95); } }
.lte8 .panel-col-top .pane-bundle-promo-panels-pane,
.lte8 .panel-col-bottom .pane-bundle-promo-panels-pane {
  padding-right: 40%;
  padding-left: 3em;
  padding-top: 1em;
  padding-bottom: 2em; }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane h2.pane-title,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane h2.pane-title {
    font-weight: 700;
    font-size: 1.6875em;
    font-weight: 100;
    padding-left: 0;
    padding-right: 0; }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    height: 100%;
    margin-bottom: 0;
    max-width: 40%; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-items,
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-item,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-items,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image .field-item {
      max-height: 100%;
      height: 100%;
      width: auto; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-image img,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-image img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      border-left: 10px solid rgba(255, 255, 255, 0.3);
      border-right: 10px solid rgba(255, 255, 255, 0.3); }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-caption,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-caption {
    font-size: 1.5em;
    line-height: 1.6em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
    width: auto;
    background: none;
    background-color: none;
    display: inline-block;
    padding: inherit;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left; }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
    content: ''; }
  .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a,
  .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a {
    background: none;
    background-color: none;
    color: #f7f7f7;
    border-radius: 3px;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    position: relative;
    padding: 1.1em 5.5em 1em 1.2em;
    overflow: hidden;
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.95);
    font-size: 1.1em;
    margin-bottom: 0; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
      padding: .75em 1em; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:before,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:before {
      z-index: 2;
      content: '\25b6';
      color: rgba(0, 0, 0, 0.3);
      text-align: right;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      position: absolute;
      height: 100%;
      left: auto;
      top: 0;
      right: 8%;
      line-height: 2.4;
      font-size: 140%;
      width: 60px; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:after {
      z-index: 1;
      width: 30%;
      height: 200%;
      background: rgba(255, 255, 255, 0.1);
      right: 0;
      top: 0;
      margin: -5px 0 0 -5px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-20deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-20deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-20deg);
      transform-origin: 0 0;
      transform: rotate(-20deg); }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
      padding: 1.1em 5.5em 1em 1.2em; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:after,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:after {
      width: 35%; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:before,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover:before {
      right: 10%; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:hover {
      *background-color: #8dc63f;
      background-color: #8dc63f; }
    .lte8 .panel-col-top .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:active,
    .lte8 .panel-col-bottom .pane-bundle-promo-panels-pane .field-name-field-rotator-link-url a:active {
      *background-color: #8dc63f;
      background-color: rgba(141, 198, 63, 0.9); }
.lte8 .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a,
.lte8 .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a {
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95); }
  .lte8 .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a:hover,
  .lte8 .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  .lte8 .panel-col-top .promo-pane-green .field-name-field-rotator-link-url a:active,
  .lte8 .panel-col-bottom .promo-pane-green .field-name-field-rotator-link-url a:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }
.lte8 .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a,
.lte8 .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a {
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95); }
  .lte8 .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a:hover,
  .lte8 .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  .lte8 .panel-col-top .promo-pane-orange .field-name-field-rotator-link-url a:active,
  .lte8 .panel-col-bottom .promo-pane-orange .field-name-field-rotator-link-url a:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

/*# sourceMappingURL=promo-boxes.css.map */
