/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
.menu-block-subnav-menu {
  background-color: white;
  border: 1px solid rgba(3, 108, 182, 0.05);
  border-radius: 3px;
  font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
  font-size: .85em;
  margin-bottom: 40px; }
  .menu-block-subnav-menu ul {
    margin: 0;
    padding: 0; }
    .menu-block-subnav-menu ul li {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .menu-block-subnav-menu ul li a, .menu-block-subnav-menu ul li a.active {
        display: block;
        font-weight: 700;
        padding: .75em .75em;
        border-bottom: 1px solid rgba(3, 108, 182, 0.2);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #036cb6;
        color: #FFF; }
      .menu-block-subnav-menu ul li a:hover, .menu-block-subnav-menu ul li a.active:hover {
        background-color: #036cb6;
        color: #FFF; }
      .menu-block-subnav-menu ul li ul li a, .menu-block-subnav-menu ul li ul li a.active {
        background-color: rgba(56, 147, 155, 0.1);
        *background-color: #EEE;
        color: #38939b;
        font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
        border-color: rgba(56, 147, 155, 0.2); }
      .menu-block-subnav-menu ul li ul li a:hover, .menu-block-subnav-menu ul li ul li a.active:hover {
        background-color: rgba(56, 147, 155, 0.2);
        *background-color: #DDD;
        color: #38939b; }
      .menu-block-subnav-menu ul li ul li a.active {
        font-weight: 700; }
      .menu-block-subnav-menu ul li ul li ul li a {
        padding-left: 1.5em; }
      .menu-block-subnav-menu ul li ul li ul li ul li a {
        padding-left: 2.25em; }
      .menu-block-subnav-menu ul li ul li ul li ul li ul li a {
        padding-left: 3em; }

@media all and (min-width: 768px) {
  .menu-block-subnav-menu {
    border-top: 5px solid rgba(3, 108, 182, 0.05); }
    .menu-block-subnav-menu ul li a, .menu-block-subnav-menu ul li a.active {
      background-color: white;
      color: #036cb6; }
    .menu-block-subnav-menu ul li a:hover, .menu-block-subnav-menu ul li a.active:hover {
      background-color: #036cb6;
      color: white; }
    .menu-block-subnav-menu ul li ul li a, .menu-block-subnav-menu ul li ul li a.active {
      background-color: rgba(56, 147, 155, 0.1);
      color: #38939b;
      font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
      border-color: rgba(56, 147, 155, 0.2); }
    .menu-block-subnav-menu ul li ul li a.active {
      color: #000000; }
    .menu-block-subnav-menu ul li ul li a:hover, .menu-block-subnav-menu ul li ul li a.active:hover {
      background-color: rgba(56, 147, 155, 0.2);
      color: #38939b; } }
.lte8 .menu-block-subnav-menu ul {
  margin: 0;
  padding: 0; }
  .lte8 .menu-block-subnav-menu ul li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .lte8 .menu-block-subnav-menu ul li a, .lte8 .menu-block-subnav-menu ul li a.active {
      display: block;
      font-weight: 700;
      padding: .75em .75em;
      border-bottom: 1px solid rgba(3, 108, 182, 0.2);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      background-color: #EEE;
      color: #000; }
    .lte8 .menu-block-subnav-menu ul li a:hover, .lte8 .menu-block-subnav-menu ul li a.active:hover {
      background-color: #DDD;
      color: #FFF; }
    .lte8 .menu-block-subnav-menu ul li ul li a, .lte8 .menu-block-subnav-menu ul li ul li a.active {
      background-color: #EEE !important;
      color: #999 !important;
      font-family: "Trade Gothic W01", "Helvetica Neue", Arial, Helvetica;
      border-color: rgba(56, 147, 155, 0.2); }
    .lte8 .menu-block-subnav-menu ul li ul li a:hover, .lte8 .menu-block-subnav-menu ul li ul li a.active:hover {
      background-color: #DDD !important;
      color: #000 !important; }

/*# sourceMappingURL=sub-menu-block.css.map */
