/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Fonts */
/* Media Queries */
/* line 5, ../../scss/elements/teaser.scss */
.view-opensanmateo-search .view-content:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* line 14, ../../scss/elements/teaser.scss */
.universal-teaser {
  border-top: 1px solid rgba(3, 108, 182, 0.1);
  padding: 1em 0;
  margin-bottom: 10px;
  position: relative; }
  /* line 20, ../../scss/elements/teaser.scss */
  .universal-teaser .node-url {
    display: none; }
  /* line 24, ../../scss/elements/teaser.scss */
  .universal-teaser header {
    margin-bottom: 0; }
  /* line 28, ../../scss/elements/teaser.scss */
  .universal-teaser h5 {
    color: #38939b;
    font-weight: 100; }
  /* line 32, ../../scss/elements/teaser.scss */
  .universal-teaser .meta {
    font-size: .85em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(85, 90, 90, 0.05);
    display: inline-block;
    border: 1px solid rgba(85, 90, 90, 0.2);
    padding: .25em .75em .25em .5em;
    color: #555a5a;
    margin-bottom: 0; }
  /* line 43, ../../scss/elements/teaser.scss */
  .universal-teaser .node-type {
    float: right;
    white-space: nowrap;
    font-size: .75em;
    position: absolute;
    top: 1.25em;
    right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 0; }
  /* line 57, ../../scss/elements/teaser.scss */
  .universal-teaser .node-title {
    margin-top: 0;
    margin-bottom: 0.2em; }
  /* line 64, ../../scss/elements/teaser.scss */
  .universal-teaser .author-data {
    margin-top: 0;
    font-size: .75em;
    color: #555a5a;
    margin-bottom: 0.5em;
    font-family: "Trade Gothic W01 Roman", "Helvetica Neue", Arial, Helvetica; }
    /* line 74, ../../scss/elements/teaser.scss */
    .universal-teaser .author-data a {
      color: #555a5a; }
  /* line 79, ../../scss/elements/teaser.scss */
  .universal-teaser .node-teaser {
    display: block;
    margin-bottom: 3%;
    font-size: 1em;
    line-height: 1.6em; }
  /* line 86, ../../scss/elements/teaser.scss */
  .universal-teaser .node-thumbnail {
    border: 5px solid rgba(3, 108, 182, 0.05);
    float: left;
    border-radius: 3px;
    margin-bottom: 2%;
    margin-right: 2%;
    max-height: 80px;
    width: 80px;
    overflow: hidden; }
    /* line 96, ../../scss/elements/teaser.scss */
    .universal-teaser .node-thumbnail img {
      max-width: 100%;
      height: auto;
      max-height: 100%; }
  /* line 104, ../../scss/elements/teaser.scss */
  .universal-teaser .node-location,
  .universal-teaser .node-date {
    margin-bottom: 20px; }
  /* line 109, ../../scss/elements/teaser.scss */
  .universal-teaser .node-location {
    padding-right: 10px; }
    /* line 113, ../../scss/elements/teaser.scss */
    .universal-teaser .node-location .location {
      padding: 0;
      margin: 0; }
    /* line 118, ../../scss/elements/teaser.scss */
    .universal-teaser .node-location ul.adr {
      margin: 0;
      padding: 0; }
      /* line 122, ../../scss/elements/teaser.scss */
      .universal-teaser .node-location ul.adr li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #555a5a; }
  /* line 145, ../../scss/elements/teaser.scss */
  .universal-teaser .read-more-wrapper {
    font-size: 0.9em; }
    /* line 148, ../../scss/elements/teaser.scss */
    .universal-teaser .read-more-wrapper .read-more-title {
      height: 1px;
      width: 1px;
      position: absolute;
      overflow: hidden;
      top: -10px; }
    /* line 156, ../../scss/elements/teaser.scss */
    .universal-teaser .read-more-wrapper a:after {
      content: ' \00BB'; }
  /* line 161, ../../scss/elements/teaser.scss */
  .universal-teaser.event {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em; }
    /* line 166, ../../scss/elements/teaser.scss */
    .universal-teaser.event h5 {
      text-transform: uppercase;
      font-family: "Trade Gothic W01 Roman", "Helvetica Neue", Arial, Helvetica;
      font-weight: 100;
      margin-bottom: 0; }
      /* line 173, ../../scss/elements/teaser.scss */
      .universal-teaser.event h5 span {
        display: none; }
    /* line 178, ../../scss/elements/teaser.scss */
    .universal-teaser.event .node-type {
      right: 1em; }
    /* line 183, ../../scss/elements/teaser.scss */
    .universal-teaser.event .node-location:after {
      content: ".";
      height: 0;
      display: block; }
    /* line 189, ../../scss/elements/teaser.scss */
    .universal-teaser.event .node-date {
      font-size: 0.9em; }
      /* line 192, ../../scss/elements/teaser.scss */
      .universal-teaser.event .node-date:after {
        content: ".";
        height: 0;
        display: block; }
    /* line 199, ../../scss/elements/teaser.scss */
    .universal-teaser.event .node-teaser {
      border-bottom: 1px dashed rgba(56, 147, 155, 0.1);
      border-top: 1px dashed rgba(56, 147, 155, 0.1);
      padding: 1em;
      margin-left: -1em;
      margin-right: -1em; }
    /* line 210, ../../scss/elements/teaser.scss */
    .universal-teaser.event .read-more-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 1em;
      margin-bottom: 0; }
      /* line 218, ../../scss/elements/teaser.scss */
      .universal-teaser.event .read-more-wrapper a {
        display: block;
        padding: 1em 0;
        text-transform: uppercase;
        color: #036cb6;
        text-align: center;
        font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
        font-weight: normal;
        background-color: rgba(3, 108, 182, 0.1); }
        /* line 228, ../../scss/elements/teaser.scss */
        .universal-teaser.event .read-more-wrapper a:hover {
          background-color: rgba(3, 108, 182, 0.2); }

/* line 237, ../../scss/elements/teaser.scss */
.field-type-node-reference .node-profile h2 {
  color: #036cb6;
  font-family: "Trade Gothic W01 Bold", "Helvetica Neue", Arial, Helvetica;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.4;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  display: block; }
  /* line 247, ../../scss/elements/teaser.scss */
  .field-type-node-reference .node-profile h2 a {
    color: #036cb6; }

@media all and (min-width: 768px) {
  /* line 257, ../../scss/elements/teaser.scss */
  .universal-teaser.event {
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(3, 108, 182, 0.1);
    width: 100%;
    position: relative;
    display: block; }

  /* line 271, ../../scss/elements/teaser.scss */
  .panel-col-first .universal-teaser.event .node-teaser,
  .panel-col-first .universal-teaser.event .node-date,
  .panel-col-first .universal-teaser.event .node-location,
  .panel-col-last .universal-teaser.event .node-teaser,
  .panel-col-last .universal-teaser.event .node-date,
  .panel-col-last .universal-teaser.event .node-location {
    font-size: 0.75em; }
  /* line 276, ../../scss/elements/teaser.scss */
  .panel-col-first .universal-teaser.event .node-location ul, .panel-col-first .universal-teaser.event .node-location li,
  .panel-col-last .universal-teaser.event .node-location ul,
  .panel-col-last .universal-teaser.event .node-location li {
    font-size: 1em; }

  /* line 286, ../../scss/elements/teaser.scss */
  .panel-col-top .universal-teaser,
  .panel-col-bottom .universal-teaser {
    float: left;
    clear: none;
    width: 47.5%;
    margin-right: 5%; }
    /* line 293, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(2n+2),
    .panel-col-bottom .universal-teaser:nth-child(2n+2) {
      margin-right: 0; }
    /* line 297, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(2n+3),
    .panel-col-bottom .universal-teaser:nth-child(2n+3) {
      clear: left; }
    /* line 302, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser .node-location,
    .panel-col-top .universal-teaser .node-date,
    .panel-col-bottom .universal-teaser .node-location,
    .panel-col-bottom .universal-teaser .node-date {
      float: left;
      width: 50%; } }
@media all and (min-width: 800px) {
  /* line 316, ../../scss/elements/teaser.scss */
  .panel-col-top .universal-teaser,
  .panel-col-bottom .universal-teaser {
    float: left;
    clear: none;
    width: 30%;
    margin-right: 5%; }
    /* line 323, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(2n+2),
    .panel-col-bottom .universal-teaser:nth-child(2n+2) {
      margin-right: 5%; }
    /* line 327, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(2n+3),
    .panel-col-bottom .universal-teaser:nth-child(2n+3) {
      clear: none; }
    /* line 332, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(3n+3),
    .panel-col-bottom .universal-teaser:nth-child(3n+3) {
      margin-right: 0; }
    /* line 336, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser:nth-child(3n+4),
    .panel-col-bottom .universal-teaser:nth-child(3n+4) {
      clear: left; }
    /* line 343, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser.event .node-location,
    .panel-col-top .universal-teaser.event .node-date,
    .panel-col-bottom .universal-teaser.event .node-location,
    .panel-col-bottom .universal-teaser.event .node-date {
      float: none;
      width: 100%; }
    /* line 349, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser.event .node-teaser,
    .panel-col-top .universal-teaser.event .node-date,
    .panel-col-top .universal-teaser.event .node-location,
    .panel-col-bottom .universal-teaser.event .node-teaser,
    .panel-col-bottom .universal-teaser.event .node-date,
    .panel-col-bottom .universal-teaser.event .node-location {
      font-size: 0.75em; }
    /* line 354, ../../scss/elements/teaser.scss */
    .panel-col-top .universal-teaser.event .node-location ul, .panel-col-top .universal-teaser.event .node-location li,
    .panel-col-bottom .universal-teaser.event .node-location ul,
    .panel-col-bottom .universal-teaser.event .node-location li {
      font-size: 1em; } }
@media all and (min-width: 1100px) {
  /* line 369, ../../scss/elements/teaser.scss */
  .panel-col-top .universal-teaser.event .node-location,
  .panel-col-top .universal-teaser.event .node-date,
  .panel-col-bottom .universal-teaser.event .node-location,
  .panel-col-bottom .universal-teaser.event .node-date {
    float: left;
    width: 50%; } }
