/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
/* COPY/PASTE following lines to each new scss file

// default variables
@import "vars.scss";

// All default/mobile styles will appear before the following media queries.

@media all and (min-width: $tablet) {

}

@media all and (min-width: $desktop) {

}

*/
/* Colors */
/* Fonts */
/* Media Queries */
a.button-blue-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: 1.1em; }
  a.button-blue-large:hover {
    padding: .75em 1em; }
  a.button-blue-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-blue-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-blue-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-blue-large:hover:after {
    width: 35%; }
  a.button-blue-large:hover:before {
    right: 10%; }
  a.button-blue-large:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-large:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: 1.1em; }
  a.button-teal-large:hover {
    padding: .75em 1em; }
  a.button-teal-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-teal-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-teal-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-teal-large:hover:after {
    width: 35%; }
  a.button-teal-large:hover:before {
    right: 10%; }
  a.button-teal-large:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-large:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-large {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: 1.1em; }
  a.button-green-large:hover {
    padding: .75em 1em; }
  a.button-green-large:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-large:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-green-large:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-green-large:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-green-large:hover:after {
    width: 35%; }
  a.button-green-large:hover:before {
    right: 10%; }
  a.button-green-large:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-large:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.button-blue-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: 1em; }
  a.button-blue-default:hover {
    padding: .75em 1em; }
  a.button-blue-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-blue-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-blue-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-blue-default:hover:after {
    width: 35%; }
  a.button-blue-default:hover:before {
    right: 10%; }
  a.button-blue-default:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-default:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: 1em; }
  a.button-teal-default:hover {
    padding: .75em 1em; }
  a.button-teal-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-teal-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-teal-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-teal-default:hover:after {
    width: 35%; }
  a.button-teal-default:hover:before {
    right: 10%; }
  a.button-teal-default:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-default:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-default {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  padding: 1.1em 5.5em 1em 1.2em;
  overflow: hidden;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: 1em; }
  a.button-green-default:hover {
    padding: .75em 1em; }
  a.button-green-default:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-default:before {
    z-index: 2;
    content: '\25b6';
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    height: 100%;
    left: auto;
    top: 0;
    right: 8%;
    line-height: 2.4;
    font-size: 140%;
    width: 60px; }
  a.button-green-default:after {
    z-index: 1;
    width: 30%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    top: 0;
    margin: -5px 0 0 -5px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg); }
  a.button-green-default:hover {
    padding: 1.1em 5.5em 1em 1.2em; }
  a.button-green-default:hover:after {
    width: 35%; }
  a.button-green-default:hover:before {
    right: 10%; }
  a.button-green-default:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-default:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.button-blue-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-blue-small:hover {
    padding: .75em 1em; }
  a.button-blue-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-blue-small:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  a.button-blue-small:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

a.button-teal-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-teal-small:hover {
    padding: .75em 1em; }
  a.button-teal-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-teal-small:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.button-teal-small:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

a.button-green-small {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  a.button-green-small:hover {
    padding: .75em 1em; }
  a.button-green-small:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.button-green-small:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.button-green-small:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.accept-terms {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #8dc63f;
  background-color: rgba(141, 198, 63, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 10px; }
  a.accept-terms:hover {
    padding: .75em 1em; }
  a.accept-terms:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.accept-terms:hover {
    *background-color: #8dc63f;
    background-color: #8dc63f; }
  a.accept-terms:active {
    *background-color: #8dc63f;
    background-color: rgba(141, 198, 63, 0.9); }

a.do-not-accept-terms {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #38939b;
  background-color: rgba(56, 147, 155, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 10px; }
  a.do-not-accept-terms:hover {
    padding: .75em 1em; }
  a.do-not-accept-terms:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  a.do-not-accept-terms:hover {
    *background-color: #38939b;
    background-color: #38939b; }
  a.do-not-accept-terms:active {
    *background-color: #38939b;
    background-color: rgba(56, 147, 155, 0.9); }

.addtocal {
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: .85em;
  padding: .75em 1em;
  margin-top: 0;
  margin-left: 0; }
  .addtocal:hover {
    padding: .75em 1em; }
  .addtocal:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .addtocal:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  .addtocal:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

span.date-display-single {
  display: inline-block;
  width: 50%; }

ul.button-test {
  margin: 0;
  padding: 0; }
  ul.button-test li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    ul.button-test li a {
      background: none;
      background-color: none;
      color: #f7f7f7;
      border-radius: 3px;
      padding: .75em 1em;
      text-transform: uppercase;
      font-size: 1em;
      line-height: 1;
      display: inline-block;
      margin-right: 1%;
      margin-bottom: 1%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      font-weight: 700;
      position: relative; }
      ul.button-test li a:hover {
        padding: .75em 1em; }
      ul.button-test li a:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      ul.button-test li a.blue-cta {
        float: left;
        clear: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.blue-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.blue-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.blue-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.blue-cta:hover:after {
          width: 35%; }
        ul.button-test li a.blue-cta:hover:before {
          right: 10%; }
        ul.button-test li a.blue-cta:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-cta:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-cta {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.teal-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.teal-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.teal-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.teal-cta:hover:after {
          width: 35%; }
        ul.button-test li a.teal-cta:hover:before {
          right: 10%; }
        ul.button-test li a.teal-cta:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-cta:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-cta {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: 1.1em; }
        ul.button-test li a.green-cta:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.green-cta:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.green-cta:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.green-cta:hover:after {
          width: 35%; }
        ul.button-test li a.green-cta:hover:before {
          right: 10%; }
        ul.button-test li a.green-cta:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-cta:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }
      ul.button-test li a.blue-default {
        float: left;
        clear: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: 1em; }
        ul.button-test li a.blue-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.blue-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.blue-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.blue-default:hover:after {
          width: 35%; }
        ul.button-test li a.blue-default:hover:before {
          right: 10%; }
        ul.button-test li a.blue-default:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-default:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-default {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: 1em; }
        ul.button-test li a.teal-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.teal-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.teal-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.teal-default:hover:after {
          width: 35%; }
        ul.button-test li a.teal-default:hover:before {
          right: 10%; }
        ul.button-test li a.teal-default:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-default:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-default {
        float: left;
        padding: 1.1em 5.5em 1em 1.2em;
        overflow: hidden;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: 1em; }
        ul.button-test li a.green-default:before {
          z-index: 2;
          content: '\25b6';
          color: rgba(0, 0, 0, 0.3);
          text-align: right;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          left: auto;
          top: 0;
          right: 8%;
          line-height: 2.4;
          font-size: 140%;
          width: 60px; }
        ul.button-test li a.green-default:after {
          z-index: 1;
          width: 30%;
          height: 200%;
          background: rgba(255, 255, 255, 0.1);
          right: 0;
          top: 0;
          margin: -5px 0 0 -5px;
          -webkit-transform-origin: 0 0;
          -webkit-transform: rotate(-20deg);
          -moz-transform-origin: 0 0;
          -moz-transform: rotate(-20deg);
          -ms-transform-origin: 0 0;
          -ms-transform: rotate(-20deg);
          transform-origin: 0 0;
          transform: rotate(-20deg); }
        ul.button-test li a.green-default:hover {
          padding: 1.1em 5.5em 1em 1.2em; }
        ul.button-test li a.green-default:hover:after {
          width: 35%; }
        ul.button-test li a.green-default:hover:before {
          right: 10%; }
        ul.button-test li a.green-default:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-default:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }
      ul.button-test li a.blue-small {
        float: left;
        clear: left;
        *background-color: #036cb6;
        background-color: rgba(3, 108, 182, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.blue-small:hover {
          *background-color: #036cb6;
          background-color: #036cb6; }
        ul.button-test li a.blue-small:active {
          *background-color: #036cb6;
          background-color: rgba(3, 108, 182, 0.95); }
      ul.button-test li a.teal-small {
        float: left;
        *background-color: #38939b;
        background-color: rgba(56, 147, 155, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.teal-small:hover {
          *background-color: #38939b;
          background-color: #38939b; }
        ul.button-test li a.teal-small:active {
          *background-color: #38939b;
          background-color: rgba(56, 147, 155, 0.9); }
      ul.button-test li a.green-small {
        float: left;
        *background-color: #8dc63f;
        background-color: rgba(141, 198, 63, 0.95);
        font-size: .85em;
        padding: .75em 1em; }
        ul.button-test li a.green-small:hover {
          *background-color: #8dc63f;
          background-color: #8dc63f; }
        ul.button-test li a.green-small:active {
          *background-color: #8dc63f;
          background-color: rgba(141, 198, 63, 0.9); }

.node-webform label {
  color: #036cb6;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5em; }
.node-webform .form-text,
.node-webform .form-textarea {
  border: 1px solid rgba(3, 108, 182, 0.2);
  box-shadow: none;
  margin-bottom: 0;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  font-weight: normal;
  background-color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
  .node-webform .form-text:focus,
  .node-webform .form-textarea:focus {
    box-shadow: none;
    border-color: #036cb6;
    background-color: white;
    color: #555a5a;
    font-weight: normal; }
.node-webform .form-textarea {
  min-height: 220px; }
.node-webform .form-radios .form-item,
.node-webform .form-checkboxes .form-item {
  margin-bottom: 1em; }
.node-webform .form-radios label,
.node-webform .form-checkboxes label {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #555a5a;
  text-transform: none; }
.node-webform .form-radios .form-radio,
.node-webform .form-radios .form-checkbox,
.node-webform .form-checkboxes .form-radio,
.node-webform .form-checkboxes .form-checkbox {
  margin-bottom: 0; }
.node-webform .form-managed-file .form-file {
  background-color: rgba(3, 108, 182, 0.05);
  padding: 1em;
  border-radius: 3px;
  color: #036cb6;
  display: inline-block;
  width: auto;
  margin-right: 2em; }
.node-webform .form-managed-file .form-submit {
  display: inline-block; }
.node-webform .form-submit {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  background-color: none;
  color: #f7f7f7;
  border-radius: 3px;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 1;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 1%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  position: relative;
  *background-color: #036cb6;
  background-color: rgba(3, 108, 182, 0.95);
  font-size: .85em;
  padding: .75em 1em; }
  .node-webform .form-submit:hover {
    padding: .75em 1em; }
  .node-webform .form-submit:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .node-webform .form-submit:hover {
    *background-color: #036cb6;
    background-color: #036cb6; }
  .node-webform .form-submit:active {
    *background-color: #036cb6;
    background-color: rgba(3, 108, 182, 0.95); }

/*# sourceMappingURL=webform.css.map */
